<a href="https://colab.research.google.com/github/jgkorman/Python-Projects/blob/main/State_Capture_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
countries = ['Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia', 'Costa Rica', 'Cuba', 'Dominican Republic', 'Ecuador', 'El Salvador', 'Guatemala', 'Honduras', 'Mexico', 'Nicaragua', 'Panama', 'Paraguay', 'Peru', 'Uruguay', 'Venezuela, RB']

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# **1. WGI Voice And Accountability Variable wrangling**

In [3]:
fname = "/content/drive/MyDrive/Python/State Capture Latin American Dataset/WGI (World Governance Indicator Data)/wgidataset.xlsx"
wgi_VoiceAndAccountability = pd.read_excel(fname, sheet_name=0)

In [4]:
wgi_VoiceAndAccountability = wgi_VoiceAndAccountability.set_index('Country')

wgi_VoiceAndAccountability = wgi_VoiceAndAccountability.loc[countries]

In [5]:
wgi_VoiceAndAccountability

,1996.0,1997.0,1998.0,1999.0,2000.0,2001.0,2002.0,2003.0,2004.0,2005.0,...,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0
Country,,,,,,,,,,,,,,,,,,,,,
Argentina,0.391903,NaN,0.308850,NaN,0.418347,NaN,0.260063,0.349125,0.362041,0.269232,...,0.295210,0.276988,0.345321,0.411788,0.493351,0.528648,0.532346,0.574006,0.594154,NaN
Bolivia,0.155519,NaN,0.353770,NaN,0.189973,NaN,0.140370,-0.056417,-0.170450,-0.156710,...,-0.081585,-0.068993,-0.026320,-0.004670,-0.036425,-0.024651,-0.064827,-0.114326,-0.070658,NaN
Brazil,0.242077,NaN,0.332853,NaN,0.301594,NaN,0.472238,0.442829,0.388609,0.457680,...,0.477906,0.417426,0.471928,0.458852,0.451849,0.448016,0.360251,0.297466,0.261051,NaN
Chile,0.722761,NaN,0.619044,NaN,0.888869,NaN,1.087187,1.056120,1.225285,1.292521,...,1.076945,1.106285,1.055915,1.004488,0.995686,1.000417,1.024111,0.991150,1.016067,NaN
Colombia,-0.510942,NaN,-0.344189,NaN,-0.438141,NaN,-0.416357,-0.429242,-0.318785,-0.322521,...,-0.063991,-0.081279,-0.043316,0.003927,0.121822,0.112462,0.163542,0.204846,0.149250,NaN
Costa Rica,1.077364,NaN,1.142669,NaN,1.094699,NaN,1.110819,0.964285,0.971274,0.816958,...,1.088220,1.078483,1.138346,1.151579,1.117966,1.121746,1.108450,1.096336,1.143007,NaN
Cuba,-1.425480,NaN,-1.584773,NaN,-1.635162,NaN,-1.648630,-1.789760,-1.785588,-1.805158,...,-1.514607,-1.478674,-1.544798,-1.558119,-1.560149,-1.552479,-1.460088,-1.440688,-1.419531,NaN
Dominican Republic,0.056515,NaN,0.093083,NaN,0.225750,NaN,0.237251,0.023254,0.047007,-0.070554,...,0.124592,0.115370,0.188961,0.154268,0.181911,0.159221,0.114305,0.177400,0.221526,NaN
Ecuador,0.013284,NaN,0.114652,NaN,-0.247218,NaN,-0.044989,-0.121541,-0.244636,-0.363743,...,-0.296114,-0.252722,-0.202465,-0.211755,-0.247168,-0.172146,-0.001273,0.037119,0.016716,NaN
El Salvador,-0.102705,NaN,0.043140,NaN,-0.043114,NaN,0.122131,0.107482,0.024641,-0.075013,...,-0.040194,-0.013092,0.152603,0.152390,0.188950,0.154434,0.017095,0.114176,0.036237,NaN
Guatemala,-0.235270,NaN,-0.195096,NaN,-0.285945,NaN,-0.358616,-0.483628,-0.324404,-0.359379,...,-0.356139,-0.366543,-0.337599,-0.346403,-0.290343,-0.279607,-0.362697,-0.335471,-0.387277,NaN
Honduras,-0.222767,NaN,-0.022434,NaN,-0.098605,NaN,-0.162655,-0.177858,-0.340818,-0.345807,...,-0.469778,-0.474936,-0.409191,-0.421753,-0.438170,-0.440178,-0.530851,-0.572726,-0.603004,NaN
Mexico,-0.042313,NaN,0.062786,NaN,0.258450,NaN,0.346043,0.346937,0.319828,0.198066,...,0.112745,0.108392,0.000316,-0.075359,-0.067529,-0.077843,-0.016697,0.007971,-0.035582,NaN
Nicaragua,0.053370,NaN,0.103398,NaN,-0.125509,NaN,-0.054777,0.158112,-0.015315,-0.248995,...,-0.536340,-0.457648,-0.395727,-0.414755,-0.680073,-0.717767,-1.100828,-1.095420,-1.097209,NaN
Panama,0.130638,NaN,0.511523,NaN,0.631228,NaN,0.619424,0.484827,0.516072,0.443538,...,0.469417,0.424272,0.505628,0.558511,0.523998,0.519480,0.543430,0.595182,0.570446,NaN
Paraguay,-0.122392,NaN,-0.251117,NaN,-0.506526,NaN,-0.456348,-0.400354,-0.474594,-0.395821,...,-0.113737,-0.104939,-0.102842,-0.069936,-0.063144,-0.043727,0.029573,0.058216,0.066291,NaN
Peru,-0.529503,NaN,-0.638317,NaN,-0.370226,NaN,0.222937,0.078649,-0.134530,-0.013819,...,0.114263,0.084785,0.192517,0.227368,0.268973,0.274430,0.202239,0.261372,0.219031,NaN
Uruguay,0.829836,NaN,0.974660,NaN,0.989812,NaN,1.054347,0.992518,0.842710,0.885738,...,1.060967,1.085263,1.107863,1.143404,1.163035,1.167399,1.180450,1.227342,1.314993,NaN
"Venezuela, RB",-0.093646,NaN,0.114986,NaN,-0.068793,NaN,-0.462428,-0.439826,-0.598476,-0.637350,...,-0.906964,-0.951577,-1.083765,-1.091086,-1.135475,-1.207137,-1.434810,-1.428393,-1.506591,NaN

In [6]:
wgi_VoiceAndAccountability = wgi_VoiceAndAccountability.reset_index(level=None, drop=True, inplace=False, col_level=0, col_fill='index')

wgi_VoiceAndAccountability = wgi_VoiceAndAccountability.T

wgi_VoiceAndAccountability.columns = countries

wgi_VoiceAndAccountability = wgi_VoiceAndAccountability.reset_index().rename(columns={'index': 'Year'})

wgi_VoiceAndAccountability

,Year,Argentina,Bolivia,Brazil,Chile,Colombia,Costa Rica,Cuba,Dominican Republic,Ecuador,El Salvador,Guatemala,Honduras,Mexico,Nicaragua,Panama,Paraguay,Peru,Uruguay,"Venezuela, RB"
0,1996.0,0.391903,0.155519,0.242077,0.722761,-0.510942,1.077364,-1.425480,0.056515,0.013284,-0.102705,-0.235270,-0.222767,-0.042313,0.053370,0.130638,-0.122392,-0.529503,0.829836,-0.093646
1,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1998.0,0.308850,0.353770,0.332853,0.619044,-0.344189,1.142669,-1.584773,0.093083,0.114652,0.043140,-0.195096,-0.022434,0.062786,0.103398,0.511523,-0.251117,-0.638317,0.974660,0.114986
3,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000.0,0.418347,0.189973,0.301594,0.888869,-0.438141,1.094699,-1.635162,0.225750,-0.247218,-0.043114,-0.285945,-0.098605,0.258450,-0.125509,0.631228,-0.506526,-0.370226,0.989812,-0.068793
5,2001.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2002.0,0.260063,0.140370,0.472238,1.087187,-0.416357,1.110819,-1.648630,0.237251,-0.044989,0.122131,-0.358616,-0.162655,0.346043,-0.054777,0.619424,-0.456348,0.222937,1.054347,-0.462428
7,2003.0,0.349125,-0.056417,0.442829,1.056120,-0.429242,0.964285,-1.789760,0.023254,-0.121541,0.107482,-0.483628,-0.177858,0.346937,0.158112,0.484827,-0.400354,0.078649,0.992518,-0.439826
8,2004.0,0.362041,-0.170450,0.388609,1.225285,-0.318785,0.971274,-1.785588,0.047007,-0.244636,0.024641,-0.324404,-0.340818,0.319828,-0.015315,0.516072,-0.474594,-0.134530,0.842710,-0.598476
9,2005.0,0.269232,-0.156710,0.457680,1.292521,-0.322521,0.816958,-1.805158,-0.070554,-0.363743,-0.075013,-0.359379,-0.345807,0.198066,-0.248995,0.443538,-0.395821,-0.013819,0.885738,-0.637350
10,2006.0,0.403437,0.076464,0.500076,1.082345,-0.172737,0.915723,-1.887210,0.205658,-0.253863,0.096630,-0.168790,-0.139433,0.150474,-0.194359,0.601522,-0.256909,0.091935,1.030711,-0.622201
11,2007.0,0.448621,0.042224,0.537074,1.104882,-0.165322,0.935347,-1.853983,0.197004,-0.161116,0.094509,-0.171276,-0.192797,0.121899,-0.217172,0.621265,-0.164959,0.108357,1.045523,-0.745731
12,2008.0,0.358896,0.002962,0.568986,1.013508,-0.165923,0.966760,-1.800639,0.164732,-0.222305,0.112084,-0.201826,-0.294657,0.134928,-0.367741,0.600691,-0.115737,0.152135,1.062145,-0.752219
13,2009.0,0.280048,0.006946,0.522007,1.016847,-0.149611,1.005792,-1.703885,0.089798,-0.250361,0.057647,-0.250003,-0.532958,0.200045,-0.439308,0.591263,-0.134578,0.083486,1.105795,-0.853561
14,2010.0,0.361689,-0.039269,0.571349,1.095609,-0.132379,1.039890,-1.616888,0.073862,-0.231085,0.071544,-0.303308,-0.503611,0.178507,-0.477636,0.537199,-0.078933,0.111137,1.146545,-0.870547
15,2011.0,0.344942,-0.068238,0.513676,1.073909,-0.059714,1.053863,-1.610357,0.090433,-0.293365,0.043950,-0.311965,-0.468656,0.121692,-0.576730,0.534639,-0.083290,0.131240,1.121431,-0.934034
16,2012.0,0.295210,-0.081585,0.477906,1.076945,-0.063991,1.088220,-1.514607,0.124592,-0.296114,-0.040194,-0.356139,-0.469778,0.112745,-0.536340,0.469417,-0.113737,0.114263,1.060967,-0.906964
17,2013.0,0.276988,-0.068993,0.417426,1.106285,-0.081279,1.078483,-1.478674,0.115370,-0.252722,-0.013092,-0.366543,-0.474936,0.108392,-0.457648,0.424272,-0.104939,0.084785,1.085263,-0.951577
18,2014.0,0.345321,-0.026320,0.471928,1.055915,-0.043316,1.138346,-1.544798,0.188961,-0.202465,0.152603,-0.337599,-0.409191,0.000316,-0.395727,0.505628,-0.102842,0.192517,1.107863,-1.083765
19,2015.0,0.411788,-0.004670,0.458852,1.004488,0.003927,1.151579,-1.558119,0.154268,-0.211755,0.152390,-0.346403,-0.421753,-0.075359,-0.414755,0.558511,-0.069936,0.227368,1.143404,-1.091086
20,2016.0,0.493351,-0.036425,0.451849,0.995686,0.121822,1.117966,-1.560149,0.181911,-0.247168,0.188950,-0.290343,-0.438170,-0.067529,-0.680073,0.523998,-0.063144,0.268973,1.163035,-1.135475
21,2017.0,0.528648,-0.024651,0.448016,1.000417,0.112462,1.121746,-1.552479,0.159221,-0.172146,0.154434,-0.279607,-0.440178,-0.077843,-0.717767,0.519480,-0.043727,0.274430,1.167399,-1.207137
22,2018.0,0.532346,-0.064827,0.360251,1.024111,0.163542,1.108450,-1.460088,0.114305,-0.001273,0.017095,-0.362697,-0.530851,-0.016697,-1.100828,0.543430,0.029573,0.202239,1.180450,-1.434810
23,2019.0,0.574006,-0.114326,0.297466,0.991150,0.204846,1.096336,-1.440688,0.177400,0.037119,0.114176,-0.335471,-0.572726,0.007971,-1.095420,0.595182,0.058216,0.261372,1.227342,-1.428393
24,2020.0,0.594154,-0.070658,0.261051,1.016067,0.149250,1.143007,-1.419531,0.221526,0.016716,0.036237,-0.387277,-0.603004,-0.035582,-1.097209,0.570446,0.066291,0.219031,1.314993,-1.506591
25,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#extract out the year variable
year = wgi_VoiceAndAccountability['Year']

# creating series of the individual country variable data to concat vertically 
Argentina = wgi_VoiceAndAccountability['Argentina']
Bolivia = wgi_VoiceAndAccountability['Bolivia']
Brazil = wgi_VoiceAndAccountability['Brazil']
Chile = wgi_VoiceAndAccountability['Chile']
Colombia = wgi_VoiceAndAccountability['Colombia']
Costa_Rica = wgi_VoiceAndAccountability['Costa Rica']
Cuba = wgi_VoiceAndAccountability['Cuba']
Dominican_Republic = wgi_VoiceAndAccountability['Dominican Republic']
Ecuador = wgi_VoiceAndAccountability['Ecuador']
El_Salvador = wgi_VoiceAndAccountability['El Salvador']
Guatemala = wgi_VoiceAndAccountability['Guatemala']
Honduras = wgi_VoiceAndAccountability['Honduras']
Mexico = wgi_VoiceAndAccountability['Mexico']
Nicaragua = wgi_VoiceAndAccountability['Nicaragua']
Panama = wgi_VoiceAndAccountability['Panama']
Paraguay = wgi_VoiceAndAccountability['Paraguay']
Peru = wgi_VoiceAndAccountability['Peru']
Uruguay = wgi_VoiceAndAccountability['Uruguay']
Venezuela = wgi_VoiceAndAccountability['Venezuela, RB']

In [8]:
c_Argentina = pd.Series(['Argentina'] * 26)
c_Bolivia = pd.Series(['Bolivia'] * 26)
c_Brazil = pd.Series(['Brazil'] * 26)
c_Chile = pd.Series(['Chile'] * 26)
c_Colombia = pd.Series(['Colombia'] * 26)
c_Costa_Rica = pd.Series(['Costa Rica'] * 26)
c_Cuba = pd.Series(['Cuba'] * 26)
c_Dominican_Republic = pd.Series(['Dominican Republic'] * 26)
c_Ecuador = pd.Series(['Ecuador'] * 26)
c_El_Salvador = pd.Series(['El Salvador'] * 26)
c_Guatemala = pd.Series(['Guatemala'] * 26)
c_Honduras = pd.Series(['Honduras'] * 26)
c_Mexico = pd.Series(['Mexico'] * 26)
c_Nicaragua = pd.Series(['Nicaragua'] * 26)
c_Panama = pd.Series(['Panama'] * 26)
c_Paraguay = pd.Series(['Paraguay'] * 26)
c_Peru = pd.Series(['Peru'] * 26)
c_Uruguay = pd.Series(['Uruguay'] * 26)
c_Venezuela = pd.Series(['Venezuela'] * 26)

In [9]:
# creating a series of the variable pooled by country 
wgi_VoiceAndAccountability = pd.concat([Argentina, Bolivia, Brazil, Chile, Colombia, Costa_Rica, Cuba, Dominican_Republic, Ecuador, El_Salvador, Guatemala, Honduras, Mexico, Nicaragua, Panama, Paraguay, Peru, Uruguay, Venezuela], ignore_index=True,  axis=0, sort=False)
wgi_VoiceAndAccountability

0      0.391903
1           NaN
2      0.308850
3           NaN
4      0.418347
         ...
489   -1.207137
490   -1.434810
491   -1.428393
492   -1.506591
493         NaN
Length: 494, dtype: float64

In [10]:
# creating a series of years pooled
year = year.append(year, ignore_index=True).append(year, ignore_index=True).append(year, ignore_index=True).append(year, ignore_index=True).append(year, ignore_index=True).append(year, ignore_index=True).append(year, ignore_index=True).append(year, ignore_index=True).append(year, ignore_index=True).append(year, ignore_index=True).append(year, ignore_index=True).append(year, ignore_index=True).append(year, ignore_index=True).append(year, ignore_index=True).append(year, ignore_index=True).append(year, ignore_index=True).append(year, ignore_index=True).append(year, ignore_index=True)
year

0      1996.0
1      1997.0
2      1998.0
3      1999.0
4      2000.0
        ...
489    2017.0
490    2018.0
491    2019.0
492    2020.0
493    2021.0
Name: Year, Length: 494, dtype: float64

In [11]:
country = c_Argentina.append(c_Bolivia, ignore_index=True).append(c_Brazil, ignore_index=True).append(c_Chile, ignore_index=True).append(c_Colombia, ignore_index=True).append(c_Costa_Rica, ignore_index=True).append(c_Cuba, ignore_index=True).append(c_Dominican_Republic, ignore_index=True).append(c_Ecuador, ignore_index=True).append(c_El_Salvador, ignore_index=True).append(c_Guatemala, ignore_index=True).append(c_Honduras, ignore_index=True).append(c_Mexico, ignore_index=True).append(c_Nicaragua, ignore_index=True).append(c_Panama, ignore_index=True).append(c_Paraguay, ignore_index=True).append(c_Peru, ignore_index=True).append(c_Uruguay, ignore_index=True).append(c_Venezuela, ignore_index=True)

country

0      Argentina
1      Argentina
2      Argentina
3      Argentina
4      Argentina
         ...
489    Venezuela
490    Venezuela
491    Venezuela
492    Venezuela
493    Venezuela
Length: 494, dtype: object

In [12]:
# creating the dataframe from the extracted pooled variables 
state_capture_database = pd.concat([country, year, wgi_VoiceAndAccountability], ignore_index=True, axis=1, sort=False)
state_capture_database.columns = ['country', 'year', 'wgi_VoiceAndAccountability']
state_capture_database

       country    year  wgi_VoiceAndAccountability
0    Argentina  1996.0                    0.391903
1    Argentina  1997.0                         NaN
2    Argentina  1998.0                    0.308850
3    Argentina  1999.0                         NaN
4    Argentina  2000.0                    0.418347
..         ...     ...                         ...
489  Venezuela  2017.0                   -1.207137
490  Venezuela  2018.0                   -1.434810
491  Venezuela  2019.0                   -1.428393
492  Venezuela  2020.0                   -1.506591
493  Venezuela  2021.0                         NaN

[494 rows x 3 columns]

# **2. WGI PoliticalStablility_Violence Variable wrangling**

In [13]:
fname = "/content/drive/MyDrive/Python/State Capture Latin American Dataset/WGI (World Governance Indicator Data)/wgidataset.xlsx"
wgi_PoliticalStability_Violence = pd.read_excel(fname, sheet_name=1)

In [14]:
wgi_PoliticalStability_Violence = wgi_PoliticalStability_Violence.set_index('Country/Territory')

wgi_PoliticalStability_Violence = wgi_PoliticalStability_Violence.loc[countries]

In [15]:
wgi_PoliticalStability_Violence = wgi_PoliticalStability_Violence.reset_index(level=None, drop=True, inplace=False, col_level=0, col_fill='index')

wgi_PoliticalStability_Violence = wgi_PoliticalStability_Violence.T

wgi_PoliticalStability_Violence.columns = countries

wgi_PoliticalStability_Violence = wgi_PoliticalStability_Violence.reset_index().rename(columns={'index': 'Year'})

wgi_PoliticalStability_Violence

,Year,Argentina,Bolivia,Brazil,Chile,Colombia,Costa Rica,Cuba,Dominican Republic,Ecuador,El Salvador,Guatemala,Honduras,Mexico,Nicaragua,Panama,Paraguay,Peru,Uruguay,"Venezuela, RB"
0,1996.0,0.112986,-0.134787,-0.218181,0.678324,-1.641695,0.754077,0.232741,-0.073888,-0.768634,-0.213713,-1.010376,-0.470171,-0.923007,-0.516133,0.124737,-0.458293,-1.058624,0.623367,-0.580982
1,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1998.0,-0.131970,-0.239488,-0.336899,0.035289,-1.788261,0.904321,0.009139,-0.414180,-0.160668,0.092028,-0.667385,0.031101,-0.420934,-0.490145,0.370818,-0.743759,-0.519252,0.766342,-0.535040
3,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000.0,0.099359,-0.235555,0.186740,0.486966,-1.603681,0.871159,0.247693,0.015839,-0.574142,0.332164,-0.768011,-0.078541,-0.198165,-0.063983,0.252954,-0.971018,-0.988731,0.931030,-0.757351
5,2001.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2002.0,-0.779415,-0.289909,0.329845,1.091703,-1.950178,1.071824,0.259896,0.119550,-0.762054,0.297613,-0.836783,-0.255841,-0.056015,-0.089239,0.344815,-1.215548,-0.967532,0.836660,-1.316253
7,2003.0,-0.358941,-0.834162,0.005973,0.763274,-2.374467,0.597416,0.316353,-0.419236,-0.960764,-0.179622,-0.775091,-0.379416,-0.116509,-0.367051,0.073934,-0.748829,-1.161485,0.712263,-1.286456
8,2004.0,-0.609956,-0.680683,-0.275707,0.692135,-2.269416,0.633075,0.355095,-0.343869,-0.842866,-0.068681,-0.808905,-0.392198,-0.213861,-0.341270,0.084793,-0.565201,-1.026664,0.591047,-1.392412
9,2005.0,-0.041768,-0.973392,-0.264488,0.844651,-2.056107,0.710068,0.424165,-0.258745,-0.794365,-0.033107,-0.838171,-0.626093,-0.447938,-0.338723,-0.157879,-0.651111,-0.975160,0.778609,-1.245572
10,2006.0,0.003056,-0.802807,-0.294623,0.614123,-1.901591,0.737977,0.474492,-0.108514,-0.853982,-0.166958,-0.735845,-0.669639,-0.638033,-0.267620,-0.068028,-0.774724,-0.840539,0.899404,-1.252637
11,2007.0,0.098859,-0.850300,-0.356955,0.407155,-1.803280,0.583452,0.451359,-0.077550,-0.814443,-0.006319,-0.752272,-0.436666,-0.728445,-0.119483,-0.060681,-0.738073,-0.773058,0.835498,-1.227591
12,2008.0,-0.085222,-0.695555,-0.312600,0.433190,-1.850909,0.360315,0.524764,-0.037005,-0.728911,0.040579,-0.714467,-0.529581,-0.803766,-0.221899,-0.097065,-0.724695,-0.890706,0.846269,-1.311038
13,2009.0,-0.232406,-0.507458,0.166292,0.603231,-1.831908,0.587110,0.357172,-0.001411,-0.673188,-0.006189,-0.927350,-0.308120,-0.685496,-0.305605,0.063681,-0.882129,-1.179883,0.790318,-1.276015
14,2010.0,-0.084798,-0.415407,0.013476,0.679605,-1.537185,0.691537,0.349292,-0.044954,-0.586674,0.058842,-0.852924,-0.496910,-0.726463,-0.499709,-0.116048,-0.834862,-0.999915,0.824986,-1.256237
15,2011.0,0.158994,-0.417127,-0.132575,0.452553,-1.284656,0.508276,0.280382,-0.000482,-0.686558,0.111001,-0.744141,-0.390435,-0.667769,-0.269736,-0.028219,-0.692597,-0.760750,0.957097,-1.094046
16,2012.0,0.103041,-0.458068,0.045962,0.331102,-1.401810,0.638402,0.307248,0.252367,-0.570306,0.234584,-0.633820,-0.350116,-0.662454,-0.348778,-0.179433,-0.871902,-0.907365,0.709168,-1.027133
17,2013.0,0.065314,-0.328593,-0.258553,0.363743,-1.291972,0.677918,0.370565,0.207429,-0.178657,-0.033659,-0.674156,-0.438612,-0.714224,-0.249216,-0.141261,-0.735862,-0.805740,0.804738,-1.077632
18,2014.0,-0.005122,-0.333112,-0.070290,0.447517,-1.114594,0.577418,0.544822,0.145934,-0.018533,-0.024590,-0.655564,-0.534084,-0.853919,-0.040780,0.209008,-0.088628,-0.550657,0.991880,-0.852002
19,2015.0,0.014785,-0.268487,-0.331458,0.433439,-1.069147,0.682025,0.644102,0.236706,-0.143956,-0.016997,-0.655060,-0.468914,-0.798699,-0.086608,0.386077,0.038498,-0.397571,1.004238,-0.977181
20,2016.0,0.204626,-0.248866,-0.377205,0.413111,-0.882459,0.661428,0.685364,0.252106,-0.085358,-0.099291,-0.542593,-0.433312,-0.629069,-0.088798,0.411430,0.141790,-0.201727,1.062580,-1.024604
21,2017.0,0.169504,-0.278029,-0.473865,0.417136,-0.772708,0.608826,0.647056,0.160588,-0.074854,-0.260043,-0.650675,-0.564918,-0.797447,-0.048894,0.389817,0.001771,-0.259546,1.050780,-1.272082
22,2018.0,0.010891,-0.287119,-0.440423,0.427360,-0.796932,0.469464,0.648925,0.023920,-0.089278,-0.387688,-0.538354,-0.530798,-0.648208,-0.952392,0.260900,-0.079771,-0.270443,1.034957,-1.351146
23,2019.0,-0.091444,-0.730086,-0.713788,0.007930,-0.949502,0.452293,0.603123,0.005307,-0.232957,-0.106418,-0.573592,-0.575152,-0.836903,-1.004794,0.303620,-0.010349,-0.152365,1.038879,-1.536778
24,2020.0,0.036437,-0.467675,-0.421698,0.070619,-0.673599,0.761544,0.596221,0.167433,-0.364633,-0.024204,-0.429133,-0.544604,-0.850029,-0.649612,0.229732,0.015168,-0.286899,1.050673,-1.517866
25,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# creating series of the individual country variable data to concat vertically 
Argentina = wgi_PoliticalStability_Violence['Argentina']
Bolivia = wgi_PoliticalStability_Violence['Bolivia']
Brazil = wgi_PoliticalStability_Violence['Brazil']
Chile = wgi_PoliticalStability_Violence['Chile']
Colombia = wgi_PoliticalStability_Violence['Colombia']
Costa_Rica = wgi_PoliticalStability_Violence['Costa Rica']
Cuba = wgi_PoliticalStability_Violence['Cuba']
Dominican_Republic = wgi_PoliticalStability_Violence['Dominican Republic']
Ecuador = wgi_PoliticalStability_Violence['Ecuador']
El_Salvador = wgi_PoliticalStability_Violence['El Salvador']
Guatemala = wgi_PoliticalStability_Violence['Guatemala']
Honduras = wgi_PoliticalStability_Violence['Honduras']
Mexico = wgi_PoliticalStability_Violence['Mexico']
Nicaragua = wgi_PoliticalStability_Violence['Nicaragua']
Panama = wgi_PoliticalStability_Violence['Panama']
Paraguay = wgi_PoliticalStability_Violence['Paraguay']
Peru = wgi_PoliticalStability_Violence['Peru']
Uruguay = wgi_PoliticalStability_Violence['Uruguay']
Venezuela = wgi_PoliticalStability_Violence['Venezuela, RB']

# creating a series of the variable pooled by country 
wgi_PoliticalStability_Violence = pd.concat([Argentina, Bolivia, Brazil, Chile, Colombia, Costa_Rica, Cuba, Dominican_Republic, Ecuador, El_Salvador, Guatemala, Honduras, Mexico, Nicaragua, Panama, Paraguay, Peru, Uruguay, Venezuela], ignore_index=True,  axis=0, sort=False)
wgi_PoliticalStability_Violence

0      0.112986
1           NaN
2     -0.131970
3           NaN
4      0.099359
         ...
489   -1.272082
490   -1.351146
491   -1.536778
492   -1.517866
493         NaN
Length: 494, dtype: float64

In [17]:
# adding wgi_PoliticalStability_Violence variable to the dataframe 
state_capture_database['wgi_PoliticalStability_Violence'] = wgi_PoliticalStability_Violence
state_capture_database

,country,year,wgi_VoiceAndAccountability,wgi_PoliticalStability_Violence
0,Argentina,1996.0,0.391903,0.112986
1,Argentina,1997.0,NaN,NaN
2,Argentina,1998.0,0.308850,-0.131970
3,Argentina,1999.0,NaN,NaN
4,Argentina,2000.0,0.418347,0.099359
...,...,...,...,...
489,Venezuela,2017.0,-1.207137,-1.272082
490,Venezuela,2018.0,-1.434810,-1.351146
491,Venezuela,2019.0,-1.428393,-1.536778
492,Venezuela,2020.0,-1.506591,-1.517866
493,Venezuela,2021.0,NaN,NaN

# **3.WGI_GovernmentEffectiveness Variable wrangling**

In [18]:
fname = "/content/drive/MyDrive/Python/State Capture Latin American Dataset/WGI (World Governance Indicator Data)/wgidataset.xlsx"
wgi_GovernmentEffectiveness = pd.read_excel(fname, sheet_name=2)

In [19]:
wgi_GovernmentEffectiveness = wgi_GovernmentEffectiveness.set_index('Country/Territory')

wgi_GovernmentEffectiveness = wgi_GovernmentEffectiveness.loc[countries]

In [20]:
wgi_GovernmentEffectiveness = wgi_GovernmentEffectiveness.reset_index(level=None, drop=True, inplace=False, col_level=0, col_fill='index')

wgi_GovernmentEffectiveness = wgi_GovernmentEffectiveness.T

wgi_GovernmentEffectiveness.columns = countries

wgi_GovernmentEffectiveness = wgi_GovernmentEffectiveness.reset_index().rename(columns={'index': 'Year'})

wgi_GovernmentEffectiveness

,Year,Argentina,Bolivia,Brazil,Chile,Colombia,Costa Rica,Cuba,Dominican Republic,Ecuador,El Salvador,Guatemala,Honduras,Mexico,Nicaragua,Panama,Paraguay,Peru,Uruguay,"Venezuela, RB"
0,1996.0,0.165690,-0.174990,-0.143134,1.337977,-0.458629,0.468431,-0.908113,-0.223238,-0.475312,-0.691500,-0.454697,-0.743915,0.225327,-0.570220,0.223579,-0.909467,0.034111,0.584609,-0.540713
1,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1998.0,0.376485,-0.069634,-0.080491,1.195396,-0.234478,0.337790,-0.496012,-0.520857,-0.513705,-0.499490,-0.417224,-0.547731,0.363646,-0.616464,0.382403,-1.059662,0.171099,0.469171,-0.787636
3,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000.0,0.032177,-0.355062,0.094080,1.122833,-0.321533,0.284294,-0.363303,-0.316165,-0.765904,-0.528171,-0.508264,-0.524023,0.242370,-0.623248,0.255912,-1.158424,-0.064808,0.446489,-0.737368
5,2001.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2002.0,-0.280357,-0.301505,0.055980,1.147711,-0.412750,0.351509,-0.552252,-0.392886,-0.835048,-0.503210,-0.497625,-0.590724,0.270510,-0.766407,0.029536,-1.074348,-0.341011,0.608855,-1.008559
7,2003.0,-0.047438,-0.320805,0.197510,1.224551,-0.152665,0.252112,-0.314486,-0.543789,-0.857578,-0.350971,-0.488873,-0.641816,0.206554,-0.668840,-0.056881,-0.920839,-0.438426,0.497426,-0.962464
8,2004.0,-0.057569,-0.587248,0.019532,1.190407,-0.182140,0.211721,-0.451044,-0.680542,-0.908025,-0.341768,-0.701011,-0.624132,0.122851,-0.732372,-0.072268,-0.949292,-0.512241,0.319394,-1.072073
9,2005.0,-0.124215,-0.688737,-0.096331,1.236290,-0.178072,0.156103,-0.543703,-0.551178,-0.946909,-0.381630,-0.720483,-0.671270,0.068157,-0.816867,0.069312,-0.796317,-0.612720,0.495683,-0.930628
10,2006.0,-0.045504,-0.716710,-0.320333,1.034509,-0.166689,0.049096,-0.243096,-0.585124,-0.996869,-0.152433,-0.605149,-0.645238,0.091413,-0.876923,0.067150,-0.959575,-0.669352,0.390084,-1.058087
11,2007.0,-0.015959,-0.570681,-0.214283,1.275488,-0.046805,0.201267,-0.200885,-0.674711,-0.869371,-0.201510,-0.550330,-0.548669,0.168774,-0.937263,0.138202,-0.868756,-0.521256,0.531207,-1.092995
12,2008.0,-0.146812,-0.624578,-0.089578,1.168234,-0.028741,0.277681,-0.379952,-0.619610,-0.864921,-0.162038,-0.563434,-0.617077,0.187392,-0.906191,0.123434,-0.886710,-0.356438,0.500967,-1.137684
13,2009.0,-0.318265,-0.604519,-0.094775,1.247791,-0.245924,0.331335,-0.362460,-0.612607,-0.794284,-0.044886,-0.714392,-0.675418,0.175232,-0.962115,0.143459,-0.921651,-0.416684,0.595912,-0.992998
14,2010.0,-0.162862,-0.502345,-0.035428,1.272297,-0.059322,0.308012,-0.361479,-0.643562,-0.716609,0.007327,-0.698007,-0.641706,0.162321,-0.962183,0.137119,-0.932368,-0.191240,0.626796,-1.111888
15,2011.0,-0.120088,-0.472509,-0.116579,1.247487,0.038838,0.338096,-0.375406,-0.590707,-0.581425,-0.102930,-0.697869,-0.535393,0.307821,-0.901389,0.085773,-0.844498,-0.157218,0.553673,-1.190861
16,2012.0,-0.238667,-0.368759,-0.128268,1.263929,0.022852,0.500010,-0.405000,-0.510325,-0.504965,-0.127273,-0.755518,-0.698337,0.342507,-0.895026,0.284920,-0.889527,-0.145010,0.441786,-1.145322
17,2013.0,-0.277768,-0.386835,-0.093067,1.264631,0.071213,0.482248,-0.440028,-0.467804,-0.501898,-0.115410,-0.703449,-0.728959,0.345309,-0.817015,0.288504,-0.872511,-0.114956,0.447617,-1.167550
18,2014.0,-0.159526,-0.588182,-0.139743,1.161197,-0.100936,0.396314,-0.047154,-0.435715,-0.473396,-0.033100,-0.729392,-0.810507,0.195912,-0.838426,0.261810,-0.919707,-0.267190,0.482520,-1.227362
19,2015.0,-0.075274,-0.652231,-0.184351,1.085782,-0.036395,0.375325,0.021494,-0.357565,-0.442579,-0.235846,-0.711279,-0.821800,0.209292,-0.816137,0.291912,-0.948612,-0.277245,0.528566,-1.220135
20,2016.0,0.161878,-0.567202,-0.173978,1.010372,0.015216,0.355187,-0.105189,-0.263897,-0.430473,-0.285197,-0.606527,-0.726465,0.131667,-0.688709,0.185477,-0.792438,-0.178817,0.573866,-1.285760
21,2017.0,0.144593,-0.385379,-0.232849,0.996162,-0.075080,0.306328,-0.180478,-0.371979,-0.399641,-0.321602,-0.639151,-0.508356,0.051024,-0.627218,0.015737,-0.808863,-0.130112,0.489509,-1.423879
22,2018.0,0.027268,-0.317846,-0.449775,1.075470,-0.086005,0.376207,-0.247185,-0.397150,-0.263754,-0.447729,-0.680215,-0.618581,-0.157622,-0.802979,-0.016153,-0.519722,-0.246900,0.555376,-1.584651
23,2019.0,-0.086998,-0.699322,-0.186903,1.060289,0.070712,0.422559,-0.172789,-0.358091,-0.399610,-0.465418,-0.676978,-0.611999,-0.156787,-0.770851,0.064512,-0.534344,-0.067871,0.694980,-1.658469
24,2020.0,-0.216942,-0.562046,-0.447031,0.988736,0.040289,0.362213,-0.167766,-0.330742,-0.438847,-0.356494,-0.687437,-0.595982,-0.155061,-0.714020,0.071580,-0.465851,-0.237463,0.781889,-1.780275
25,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# creating series of the individual country variable data to concat vertically 
Argentina = wgi_GovernmentEffectiveness['Argentina']
Bolivia = wgi_GovernmentEffectiveness['Bolivia']
Brazil = wgi_GovernmentEffectiveness['Brazil']
Chile = wgi_GovernmentEffectiveness['Chile']
Colombia = wgi_GovernmentEffectiveness['Colombia']
Costa_Rica = wgi_GovernmentEffectiveness['Costa Rica']
Cuba = wgi_GovernmentEffectiveness['Cuba']
Dominican_Republic = wgi_GovernmentEffectiveness['Dominican Republic']
Ecuador = wgi_GovernmentEffectiveness['Ecuador']
El_Salvador = wgi_GovernmentEffectiveness['El Salvador']
Guatemala = wgi_GovernmentEffectiveness['Guatemala']
Honduras = wgi_GovernmentEffectiveness['Honduras']
Mexico = wgi_GovernmentEffectiveness['Mexico']
Nicaragua = wgi_GovernmentEffectiveness['Nicaragua']
Panama = wgi_GovernmentEffectiveness['Panama']
Paraguay = wgi_GovernmentEffectiveness['Paraguay']
Peru = wgi_GovernmentEffectiveness['Peru']
Uruguay = wgi_GovernmentEffectiveness['Uruguay']
Venezuela = wgi_GovernmentEffectiveness['Venezuela, RB']

# creating a series of the variable pooled by country 
wgi_GovernmentEffectiveness = pd.concat([Argentina, Bolivia, Brazil, Chile, Colombia, Costa_Rica, Cuba, Dominican_Republic, Ecuador, El_Salvador, Guatemala, Honduras, Mexico, Nicaragua, Panama, Paraguay, Peru, Uruguay, Venezuela], ignore_index=True,  axis=0, sort=False)
wgi_GovernmentEffectiveness

0      0.165690
1           NaN
2      0.376485
3           NaN
4      0.032177
         ...
489   -1.423879
490   -1.584651
491   -1.658469
492   -1.780275
493         NaN
Length: 494, dtype: float64

In [22]:
# adding wgi_PoliticalStability_Violence variable to the dataframe 
state_capture_database['wgi_GovernmentEffectiveness'] = wgi_GovernmentEffectiveness
state_capture_database

,country,year,wgi_VoiceAndAccountability,wgi_PoliticalStability_Violence,wgi_GovernmentEffectiveness
0,Argentina,1996.0,0.391903,0.112986,0.165690
1,Argentina,1997.0,NaN,NaN,NaN
2,Argentina,1998.0,0.308850,-0.131970,0.376485
3,Argentina,1999.0,NaN,NaN,NaN
4,Argentina,2000.0,0.418347,0.099359,0.032177
...,...,...,...,...,...
489,Venezuela,2017.0,-1.207137,-1.272082,-1.423879
490,Venezuela,2018.0,-1.434810,-1.351146,-1.584651
491,Venezuela,2019.0,-1.428393,-1.536778,-1.658469
492,Venezuela,2020.0,-1.506591,-1.517866,-1.780275
493,Venezuela,2021.0,NaN,NaN,NaN

# **4.WGI_RegulatoryQuality variable wrangling**

In [23]:
fname = "/content/drive/MyDrive/Python/State Capture Latin American Dataset/WGI (World Governance Indicator Data)/wgidataset.xlsx"
wgi_RegulatoryQuality = pd.read_excel(fname, sheet_name=3)

In [24]:
wgi_RegulatoryQuality = wgi_RegulatoryQuality.set_index('Country/Territory')

wgi_RegulatoryQuality = wgi_RegulatoryQuality.loc[countries]

In [25]:
wgi_RegulatoryQuality = wgi_RegulatoryQuality.reset_index(level=None, drop=True, inplace=False, col_level=0, col_fill='index')

wgi_RegulatoryQuality = wgi_RegulatoryQuality.T

wgi_RegulatoryQuality.columns = countries

wgi_RegulatoryQuality = wgi_RegulatoryQuality.reset_index().rename(columns={'index': 'Year'})

wgi_RegulatoryQuality

,Year,Argentina,Bolivia,Brazil,Chile,Colombia,Costa Rica,Cuba,Dominican Republic,Ecuador,El Salvador,Guatemala,Honduras,Mexico,Nicaragua,Panama,Paraguay,Peru,Uruguay,"Venezuela, RB"
0,1996.0,0.518067,0.004969,0.296933,1.542760,-0.105488,0.551819,-1.100114,-0.231284,-0.308270,-0.193008,-0.309773,-0.692049,0.131713,-0.443440,0.645567,-0.492861,0.494784,0.840243,-0.308691
1,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1998.0,0.570877,0.185638,0.364665,1.392356,0.002287,0.752993,-1.322111,-0.163412,-0.155963,0.263607,0.072759,-0.127909,0.209376,0.006127,0.871331,-0.700827,0.615365,0.840521,-0.268656
3,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000.0,0.257245,0.035398,0.361691,1.410081,0.102620,0.570878,-1.232174,-0.136769,-0.543991,0.142521,-0.133564,-0.323888,0.253666,-0.131491,0.582315,-0.821678,0.439704,0.702127,-0.520619
5,2001.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2002.0,-0.919025,-0.059288,0.296639,1.447620,0.028216,0.394182,-1.285342,-0.210950,-0.669720,0.016505,-0.157743,-0.405392,0.453281,-0.392733,0.484309,-0.567491,0.016094,0.528296,-0.642584
7,2003.0,-0.708926,-0.084489,0.309619,1.459134,-0.087930,0.600449,-1.424122,-0.329381,-0.662545,-0.143431,-0.346035,-0.488819,0.363714,-0.376096,0.338574,-0.723694,0.160397,0.314692,-1.021271
8,2004.0,-0.713760,-0.202817,0.033440,1.402693,-0.046554,0.515623,-1.596839,-0.427951,-0.716367,0.064705,-0.200678,-0.348100,0.426816,-0.306623,0.261443,-0.731125,0.212778,0.264973,-1.102264
9,2005.0,-0.548367,-0.692568,0.039209,1.357459,0.007987,0.583522,-1.314237,-0.384817,-0.787522,-0.177207,-0.446717,-0.626438,0.194425,-0.445458,0.174934,-0.848889,0.031204,0.397515,-1.109686
10,2006.0,-0.640632,-0.888066,-0.032461,1.473752,0.101746,0.381426,-1.429788,-0.236423,-1.111778,0.036384,-0.248692,-0.470030,0.378229,-0.430780,0.319432,-0.690739,0.134765,0.366162,-1.209443
11,2007.0,-0.668216,-0.981908,-0.025431,1.505748,0.241372,0.418419,-1.556243,-0.237553,-1.141479,0.192618,-0.228721,-0.286485,0.387879,-0.445677,0.372359,-0.586817,0.277983,0.275649,-1.443969
12,2008.0,-0.737520,-0.870968,0.053929,1.518668,0.261975,0.457202,-1.497101,-0.192823,-1.138787,0.207267,-0.178202,-0.306707,0.338241,-0.410191,0.620006,-0.515990,0.345373,0.255797,-1.387424
13,2009.0,-0.845036,-0.879306,0.099461,1.462517,0.148284,0.421980,-1.603957,-0.192517,-1.296207,0.320033,-0.150586,-0.299872,0.224841,-0.430410,0.369856,-0.444605,0.386653,0.375350,-1.593088
14,2010.0,-0.762369,-0.802755,0.152444,1.438484,0.253475,0.465106,-1.671379,-0.152282,-1.170820,0.363027,-0.152868,-0.223057,0.252709,-0.282892,0.380789,-0.355624,0.450334,0.394081,-1.623488
15,2011.0,-0.722210,-0.755720,0.165336,1.459092,0.359238,0.449705,-1.626527,-0.195434,-1.031473,0.471410,-0.133385,-0.133960,0.279925,-0.341078,0.425628,-0.371420,0.463544,0.436031,-1.481942
16,2012.0,-0.929217,-0.823580,0.093902,1.538509,0.400677,0.571751,-1.560556,-0.104274,-1.017313,0.325458,-0.172313,-0.192711,0.477124,-0.295310,0.377244,-0.321478,0.491973,0.435773,-1.517801
17,2013.0,-0.957261,-0.776850,0.073423,1.491449,0.402893,0.583298,-1.583988,-0.071071,-0.928189,0.313121,-0.203737,-0.186378,0.468943,-0.293288,0.363468,-0.310310,0.458948,0.542352,-1.630421
18,2014.0,-1.074257,-0.870252,-0.078197,1.494421,0.496235,0.514857,-1.325052,-0.036815,-1.007220,0.318871,-0.192025,-0.398392,0.425959,-0.393374,0.371192,-0.283015,0.520910,0.530175,-1.815137
19,2015.0,-0.911442,-0.885823,-0.192655,1.345232,0.465427,0.525765,-1.223550,-0.037778,-1.157369,0.196323,-0.216264,-0.395934,0.357726,-0.394411,0.352537,-0.270921,0.491347,0.424531,-1.884915
20,2016.0,-0.469625,-0.924095,-0.207316,1.373064,0.402009,0.407434,-1.338703,-0.065245,-1.018454,0.093972,-0.202432,-0.513028,0.287122,-0.506705,0.360629,-0.299976,0.508346,0.489456,-1.996754
21,2017.0,-0.289890,-0.897023,-0.150032,1.350113,0.341135,0.346359,-1.328484,-0.077992,-1.059981,0.000001,-0.254668,-0.434995,0.278705,-0.670624,0.387554,-0.302169,0.418377,0.476456,-1.976389
22,2018.0,-0.290671,-0.907262,-0.327140,1.335477,0.317674,0.488578,-1.459466,-0.069028,-0.868759,0.034577,-0.189569,-0.448972,0.158226,-0.704272,0.357865,-0.075387,0.497440,0.506763,-2.363184
23,2019.0,-0.493230,-0.993421,-0.178451,1.223731,0.396564,0.497144,-1.486811,-0.054175,-0.823906,0.021560,-0.224676,-0.493247,0.103778,-0.688933,0.361237,-0.204203,0.563606,0.508237,-2.359256
24,2020.0,-0.567309,-1.023997,-0.161653,1.052093,0.317109,0.449866,-1.504454,-0.013769,-0.886009,-0.019227,-0.174790,-0.495545,0.076778,-0.659635,0.319119,-0.202351,0.526473,0.582089,-2.234419
25,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
# creating series of the individual country variable data to concat vertically 
Argentina = wgi_RegulatoryQuality['Argentina']
Bolivia = wgi_RegulatoryQuality['Bolivia']
Brazil = wgi_RegulatoryQuality['Brazil']
Chile = wgi_RegulatoryQuality['Chile']
Colombia = wgi_RegulatoryQuality['Colombia']
Costa_Rica = wgi_RegulatoryQuality['Costa Rica']
Cuba = wgi_RegulatoryQuality['Cuba']
Dominican_Republic = wgi_RegulatoryQuality['Dominican Republic']
Ecuador = wgi_RegulatoryQuality['Ecuador']
El_Salvador = wgi_RegulatoryQuality['El Salvador']
Guatemala = wgi_RegulatoryQuality['Guatemala']
Honduras = wgi_RegulatoryQuality['Honduras']
Mexico = wgi_RegulatoryQuality['Mexico']
Nicaragua = wgi_RegulatoryQuality['Nicaragua']
Panama = wgi_RegulatoryQuality['Panama']
Paraguay = wgi_RegulatoryQuality['Paraguay']
Peru = wgi_RegulatoryQuality['Peru']
Uruguay = wgi_RegulatoryQuality['Uruguay']
Venezuela = wgi_RegulatoryQuality['Venezuela, RB']

# creating a series of the variable pooled by country 
wgi_RegulatoryQuality = pd.concat([Argentina, Bolivia, Brazil, Chile, Colombia, Costa_Rica, Cuba, Dominican_Republic, Ecuador, El_Salvador, Guatemala, Honduras, Mexico, Nicaragua, Panama, Paraguay, Peru, Uruguay, Venezuela], ignore_index=True,  axis=0, sort=False)
wgi_RegulatoryQuality

0      0.518067
1           NaN
2      0.570877
3           NaN
4      0.257245
         ...
489   -1.976389
490   -2.363184
491   -2.359256
492   -2.234419
493         NaN
Length: 494, dtype: float64

In [27]:
# adding wgi_PoliticalStability_Violence variable to the dataframe 
state_capture_database['wgi_RegulatoryQuality'] = wgi_RegulatoryQuality
state_capture_database

,country,year,wgi_VoiceAndAccountability,wgi_PoliticalStability_Violence,wgi_GovernmentEffectiveness,wgi_RegulatoryQuality
0,Argentina,1996.0,0.391903,0.112986,0.165690,0.518067
1,Argentina,1997.0,NaN,NaN,NaN,NaN
2,Argentina,1998.0,0.308850,-0.131970,0.376485,0.570877
3,Argentina,1999.0,NaN,NaN,NaN,NaN
4,Argentina,2000.0,0.418347,0.099359,0.032177,0.257245
...,...,...,...,...,...,...
489,Venezuela,2017.0,-1.207137,-1.272082,-1.423879,-1.976389
490,Venezuela,2018.0,-1.434810,-1.351146,-1.584651,-2.363184
491,Venezuela,2019.0,-1.428393,-1.536778,-1.658469,-2.359256
492,Venezuela,2020.0,-1.506591,-1.517866,-1.780275,-2.234419
493,Venezuela,2021.0,NaN,NaN,NaN,NaN

# **5. WGI_ControlOfCorruption Variable wrangling**

In [28]:
fname = "/content/drive/MyDrive/Python/State Capture Latin American Dataset/WGI (World Governance Indicator Data)/wgidataset.xlsx"
wgi_ControlOfCorruptoin = pd.read_excel(fname, sheet_name=4)

In [29]:
wgi_ControlOfCorruptoin = wgi_ControlOfCorruptoin.set_index('Country/Territory')

wgi_ControlOfCorruptoin = wgi_ControlOfCorruptoin.loc[countries]

In [30]:
wgi_ControlOfCorruptoin = wgi_ControlOfCorruptoin.reset_index(level=None, drop=True, inplace=False, col_level=0, col_fill='index')

wgi_ControlOfCorruptoin = wgi_ControlOfCorruptoin.T

wgi_ControlOfCorruptoin.columns = countries

wgi_ControlOfCorruptoin = wgi_ControlOfCorruptoin.reset_index().rename(columns={'index': 'Year'})

wgi_ControlOfCorruptoin

,Year,Argentina,Bolivia,Brazil,Chile,Colombia,Costa Rica,Cuba,Dominican Republic,Ecuador,El Salvador,Guatemala,Honduras,Mexico,Nicaragua,Panama,Paraguay,Peru,Uruguay,"Venezuela, RB"
0,1996.0,-0.101317,-0.824829,-0.018580,1.454119,-0.512254,0.696142,0.289153,-0.422995,-0.684874,-0.865278,-0.856944,-1.078811,-0.512429,-0.564544,-0.201106,-1.166015,-0.398886,1.124996,-0.862947
1,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1998.0,-0.113424,-0.357911,0.075473,1.380602,-0.497306,0.904965,0.368719,-0.700647,-0.849382,-0.765270,-0.858931,-0.936254,-0.454345,-0.885585,-0.083027,-1.335120,-0.365755,1.079483,-0.924228
3,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000.0,-0.192119,-0.460205,0.040204,1.586007,-0.396754,0.872909,0.377433,-0.721408,-0.894235,-0.515096,-0.754019,-0.954894,-0.245629,-1.009483,-0.321520,-1.379774,-0.393004,0.925141,-0.673500
5,2001.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2002.0,-0.468211,-0.899616,0.081059,1.592268,-0.238168,0.667530,0.422406,-0.476076,-0.886092,-0.679732,-0.645413,-0.970906,-0.180860,-0.481653,-0.299217,-1.335866,-0.273120,0.912639,-1.062250
7,2003.0,-0.478336,-0.815142,0.091483,1.311239,-0.178992,0.749755,0.242800,-0.703046,-0.758578,-0.367350,-0.766650,-0.923499,-0.167082,-0.479604,-0.348310,-1.394238,-0.076417,1.050345,-1.064031
8,2004.0,-0.424991,-0.775836,0.023013,1.373608,-0.128930,0.422830,0.231167,-0.585200,-0.703297,-0.424856,-0.609274,-0.893368,-0.303954,-0.395427,-0.268328,-1.373365,-0.321763,0.898615,-0.981567
9,2005.0,-0.388192,-0.736238,-0.139791,1.470515,-0.132257,0.483341,0.275199,-0.690176,-0.712955,-0.454791,-0.666517,-0.811710,-0.271011,-0.608619,-0.350897,-1.321241,-0.329965,1.074672,-1.028939
10,2006.0,-0.341254,-0.434567,-0.109042,1.457343,-0.122551,0.444859,0.258399,-0.700955,-0.751306,-0.296291,-0.805734,-0.831947,-0.261170,-0.673169,-0.323002,-1.140731,-0.200190,1.114514,-1.042506
11,2007.0,-0.340292,-0.403707,-0.075929,1.396431,-0.215963,0.516526,0.306803,-0.747674,-0.771819,-0.371979,-0.742176,-0.788446,-0.272645,-0.765121,-0.300416,-1.183495,-0.246271,1.243985,-1.113234
12,2008.0,-0.435577,-0.523222,0.007890,1.376727,-0.237617,0.551821,0.270318,-0.725965,-0.687104,-0.361732,-0.647653,-0.904884,-0.244697,-0.762406,-0.086394,-0.977197,-0.186954,1.308401,-1.167220
13,2009.0,-0.444996,-0.630317,-0.069309,1.380127,-0.309453,0.752068,0.279622,-0.778067,-0.804220,-0.250378,-0.526856,-0.904352,-0.301022,-0.724971,-0.295198,-0.803636,-0.305230,1.238403,-1.192175
14,2010.0,-0.361560,-0.465882,0.046305,1.497727,-0.385489,0.708374,0.312917,-0.843858,-0.773307,-0.277008,-0.532349,-0.892262,-0.361640,-0.753034,-0.320846,-0.729230,-0.228864,1.279709,-1.227857
15,2011.0,-0.366130,-0.569396,0.165940,1.528507,-0.288764,0.649001,0.272388,-0.812078,-0.708429,-0.261878,-0.527953,-0.825177,-0.402093,-0.726569,-0.316966,-0.715740,-0.219929,1.278939,-1.173876
16,2012.0,-0.443186,-0.729190,-0.037403,1.581779,-0.387508,0.618006,0.235093,-0.859924,-0.578082,-0.412769,-0.658765,-0.954003,-0.411876,-0.774553,-0.358086,-0.857488,-0.370510,1.355076,-1.268052
17,2013.0,-0.432139,-0.589760,-0.084605,1.541496,-0.405065,0.625930,0.120248,-0.874395,-0.570796,-0.353766,-0.622492,-0.945296,-0.511859,-0.735763,-0.345686,-1.037716,-0.423345,1.375074,-1.313794
18,2014.0,-0.541584,-0.630102,-0.338399,1.488740,-0.368573,0.755604,0.068497,-0.816094,-0.754916,-0.376822,-0.735947,-0.785432,-0.761695,-0.885310,-0.339574,-0.969670,-0.560282,1.379018,-1.399611
19,2015.0,-0.547077,-0.696429,-0.396470,1.280415,-0.298131,0.748738,0.070622,-0.818535,-0.671304,-0.423664,-0.733266,-0.566732,-0.766011,-0.888394,-0.370707,-0.947136,-0.533857,1.317308,-1.391556
20,2016.0,-0.283931,-0.724258,-0.381325,1.140084,-0.324139,0.744290,0.169224,-0.756239,-0.680194,-0.522922,-0.739685,-0.657643,-0.719472,-0.871312,-0.494614,-0.709544,-0.367263,1.267522,-1.353657
21,2017.0,-0.258181,-0.658737,-0.495932,1.106465,-0.372276,0.509424,0.267848,-0.740225,-0.621622,-0.501855,-0.741132,-0.718960,-0.838887,-0.872115,-0.542508,-0.704184,-0.498541,1.282488,-1.370064
22,2018.0,-0.068787,-0.617678,-0.398966,1.039679,-0.285714,0.552795,0.166378,-0.754167,-0.562948,-0.596976,-0.817149,-0.614268,-0.854890,-1.087380,-0.553159,-0.834903,-0.529832,1.254706,-1.466074
23,2019.0,-0.076288,-0.738259,-0.336589,1.066971,-0.236334,0.702770,0.043799,-0.766020,-0.486591,-0.555039,-0.900723,-0.811913,-0.826935,-1.096854,-0.582233,-0.830877,-0.452849,1.250806,-1.486213
24,2020.0,-0.116382,-0.756366,-0.342424,1.146561,-0.181955,0.776123,-0.126735,-0.680823,-0.535989,-0.591945,-1.095947,-0.857769,-0.847625,-1.249458,-0.514193,-0.870659,-0.489503,1.422945,-1.560315
25,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
# creating series of the individual country variable data to concat vertically 
Argentina = wgi_ControlOfCorruptoin['Argentina']
Bolivia = wgi_ControlOfCorruptoin['Bolivia']
Brazil = wgi_ControlOfCorruptoin['Brazil']
Chile = wgi_ControlOfCorruptoin['Chile']
Colombia = wgi_ControlOfCorruptoin['Colombia']
Costa_Rica = wgi_ControlOfCorruptoin['Costa Rica']
Cuba = wgi_ControlOfCorruptoin['Cuba']
Dominican_Republic = wgi_ControlOfCorruptoin['Dominican Republic']
Ecuador = wgi_ControlOfCorruptoin['Ecuador']
El_Salvador = wgi_ControlOfCorruptoin['El Salvador']
Guatemala = wgi_ControlOfCorruptoin['Guatemala']
Honduras = wgi_ControlOfCorruptoin['Honduras']
Mexico = wgi_ControlOfCorruptoin['Mexico']
Nicaragua = wgi_ControlOfCorruptoin['Nicaragua']
Panama = wgi_ControlOfCorruptoin['Panama']
Paraguay = wgi_ControlOfCorruptoin['Paraguay']
Peru = wgi_ControlOfCorruptoin['Peru']
Uruguay = wgi_ControlOfCorruptoin['Uruguay']
Venezuela = wgi_ControlOfCorruptoin['Venezuela, RB']

# creating a series of the variable pooled by country 
wgi_ControlOfCorruptoin = pd.concat([Argentina, Bolivia, Brazil, Chile, Colombia, Costa_Rica, Cuba, Dominican_Republic, Ecuador, El_Salvador, Guatemala, Honduras, Mexico, Nicaragua, Panama, Paraguay, Peru, Uruguay, Venezuela], ignore_index=True,  axis=0, sort=False)
wgi_ControlOfCorruptoin

0     -0.101317
1           NaN
2     -0.113424
3           NaN
4     -0.192119
         ...
489   -1.370064
490   -1.466074
491   -1.486213
492   -1.560315
493         NaN
Length: 494, dtype: float64

In [32]:
# adding wgi_PoliticalStability_Violence variable to the dataframe 
state_capture_database['wgi_ControlOfCorruption'] = wgi_ControlOfCorruptoin
state_capture_database

,country,year,wgi_VoiceAndAccountability,wgi_PoliticalStability_Violence,wgi_GovernmentEffectiveness,wgi_RegulatoryQuality,wgi_ControlOfCorruption
0,Argentina,1996.0,0.391903,0.112986,0.165690,0.518067,-0.101317
1,Argentina,1997.0,NaN,NaN,NaN,NaN,NaN
2,Argentina,1998.0,0.308850,-0.131970,0.376485,0.570877,-0.113424
3,Argentina,1999.0,NaN,NaN,NaN,NaN,NaN
4,Argentina,2000.0,0.418347,0.099359,0.032177,0.257245,-0.192119
...,...,...,...,...,...,...,...
489,Venezuela,2017.0,-1.207137,-1.272082,-1.423879,-1.976389,-1.370064
490,Venezuela,2018.0,-1.434810,-1.351146,-1.584651,-2.363184,-1.466074
491,Venezuela,2019.0,-1.428393,-1.536778,-1.658469,-2.359256,-1.486213
492,Venezuela,2020.0,-1.506591,-1.517866,-1.780275,-2.234419,-1.560315
493,Venezuela,2021.0,NaN,NaN,NaN,NaN,NaN

# **6. WGI_RuleofLaw Variable Wrangling**

In [33]:
fname = "/content/drive/MyDrive/Python/State Capture Latin American Dataset/WGI (World Governance Indicator Data)/wgidataset.xlsx"
wgi_RuleofLaw = pd.read_excel(fname, sheet_name=5)

In [34]:
wgi_RuleofLaw = wgi_RuleofLaw.set_index('Country/Territory')

wgi_RuleofLaw = wgi_RuleofLaw.loc[countries]

In [35]:
wgi_RuleofLaw = wgi_RuleofLaw.reset_index(level=None, drop=True, inplace=False, col_level=0, col_fill='index')

wgi_RuleofLaw = wgi_RuleofLaw.T

wgi_RuleofLaw.columns = countries

wgi_RuleofLaw = wgi_RuleofLaw.reset_index().rename(columns={'index': 'Year'})

wgi_RuleofLaw

,Year,Argentina,Bolivia,Brazil,Chile,Colombia,Costa Rica,Cuba,Dominican Republic,Ecuador,El Salvador,Guatemala,Honduras,Mexico,Nicaragua,Panama,Paraguay,Peru,Uruguay,"Venezuela, RB"
0,1996.0,0.075553,-0.261528,-0.223502,1.113738,-0.751838,0.618177,-1.136811,-0.522591,-0.449708,-0.870226,-1.126488,-0.929349,-0.726646,-0.515927,-0.166980,-0.663563,-0.696725,0.561771,-0.750198
1,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1998.0,-0.005769,-0.218658,-0.193651,1.178179,-0.636551,0.746290,-1.039076,-0.472836,-0.552422,-0.659774,-1.066467,-0.918294,-0.510605,-0.651352,-0.053330,-0.869312,-0.708034,0.658352,-0.678563
3,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000.0,-0.149923,-0.387525,-0.208450,1.322716,-0.889675,0.634486,-1.041968,-0.610340,-0.640391,-0.739856,-0.881475,-0.988642,-0.382611,-0.891232,-0.151828,-1.012090,-0.689722,0.590465,-0.861417
5,2001.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2002.0,-0.757995,-0.400345,-0.231834,1.355726,-0.716801,0.705636,-1.166926,-0.672770,-0.720816,-0.510176,-0.973819,-0.836411,-0.309769,-0.680656,-0.061780,-1.097435,-0.467591,0.684070,-1.133338
7,2003.0,-0.773514,-0.452089,-0.322895,1.289519,-0.703269,0.703033,-1.215304,-0.608573,-0.738097,-0.455793,-1.072579,-0.881402,-0.332210,-0.535597,-0.109802,-1.027801,-0.521803,0.662397,-1.294148
8,2004.0,-0.807373,-0.684771,-0.364877,1.321666,-0.685518,0.559696,-1.106403,-0.672106,-0.746674,-0.381176,-1.010165,-0.761798,-0.374086,-0.767625,-0.103464,-1.000439,-0.489397,0.456652,-1.244032
9,2005.0,-0.554655,-0.756329,-0.429490,1.304793,-0.623254,0.558704,-1.080982,-0.670407,-0.793714,-0.454086,-1.051119,-0.779209,-0.346960,-0.613706,-0.088760,-0.975147,-0.683670,0.471144,-1.242444
10,2006.0,-0.568944,-0.850106,-0.366405,1.271957,-0.505184,0.466250,-0.759093,-0.575809,-1.033067,-0.621683,-1.094119,-0.991312,-0.431499,-0.751503,-0.132794,-0.978290,-0.686792,0.562511,-1.424685
11,2007.0,-0.591604,-0.830113,-0.371003,1.288420,-0.435862,0.381860,-0.684809,-0.613635,-1.035035,-0.645043,-1.115380,-0.930491,-0.494035,-0.788395,-0.149815,-0.973342,-0.729500,0.604659,-1.574430
12,2008.0,-0.676608,-0.974528,-0.315275,1.313308,-0.396767,0.460335,-0.824909,-0.660289,-1.167481,-0.667652,-1.109739,-0.964828,-0.667874,-0.804928,-0.174590,-0.928021,-0.704413,0.595218,-1.623528
13,2009.0,-0.675478,-1.107930,-0.156511,1.296515,-0.388473,0.563519,-0.708231,-0.772622,-1.251499,-0.747609,-1.018172,-0.896946,-0.559861,-0.787628,-0.088221,-0.883755,-0.613784,0.718072,-1.617913
14,2010.0,-0.590495,-1.023729,0.044096,1.335560,-0.308575,0.523684,-0.717991,-0.808321,-1.204064,-0.812607,-0.960065,-0.878003,-0.550817,-0.828638,-0.073794,-0.863406,-0.562909,0.738615,-1.654271
15,2011.0,-0.560863,-0.979010,0.037666,1.365851,-0.255811,0.451347,-0.690706,-0.773367,-1.205241,-0.722186,-1.036375,-0.903819,-0.549186,-0.724707,0.018770,-0.836694,-0.576481,0.698995,-1.675650
16,2012.0,-0.679647,-1.016023,-0.069445,1.391818,-0.353854,0.519662,-0.705491,-0.687735,-1.134630,-0.698657,-1.076259,-1.140156,-0.534059,-0.732206,-0.191668,-0.846166,-0.574353,0.593149,-1.689736
17,2013.0,-0.707728,-1.046474,-0.080245,1.367733,-0.405946,0.551591,-0.697317,-0.532447,-0.968318,-0.619113,-1.083524,-1.164706,-0.544546,-0.674778,-0.216099,-0.808193,-0.566023,0.564203,-1.821163
18,2014.0,-0.886139,-1.055300,-0.049949,1.433073,-0.291997,0.560421,-0.657870,-0.405766,-1.058525,-0.476425,-0.962340,-0.944687,-0.422922,-0.712345,-0.059616,-0.673260,-0.521166,0.710497,-1.916445
19,2015.0,-0.770878,-1.141120,-0.147159,1.343957,-0.268497,0.504643,-0.701528,-0.512761,-1.028962,-0.585137,-0.947342,-0.925686,-0.447167,-0.736176,-0.106438,-0.691643,-0.485534,0.712310,-2.032399
20,2016.0,-0.393747,-1.200806,-0.157332,1.129331,-0.278923,0.466016,-0.442510,-0.395291,-0.761443,-0.709700,-1.020066,-1.118942,-0.556374,-0.644402,0.049479,-0.729934,-0.482176,0.630390,-2.241467
21,2017.0,-0.249286,-1.204870,-0.246950,1.149239,-0.362958,0.469251,-0.430313,-0.420853,-0.810796,-0.810564,-1.057874,-1.044247,-0.558606,-0.646170,0.031758,-0.705197,-0.503339,0.583332,-2.236806
22,2018.0,-0.243671,-1.145215,-0.252480,1.091852,-0.406235,0.481021,-0.444256,-0.379277,-0.638797,-0.825435,-1.035944,-1.028927,-0.636506,-1.057517,-0.091993,-0.523526,-0.529063,0.593040,-2.322770
23,2019.0,-0.430634,-1.121446,-0.180635,1.074586,-0.416838,0.544550,-0.322623,-0.347594,-0.577439,-0.762337,-1.052349,-1.009133,-0.658005,-1.175733,-0.118744,-0.556475,-0.487109,0.621715,-2.320636
24,2020.0,-0.469371,-1.151606,-0.175814,1.067767,-0.491236,0.569912,-0.278078,-0.264179,-0.548132,-0.760863,-1.053237,-0.958380,-0.670108,-1.217995,-0.207773,-0.415100,-0.342975,0.678659,-2.346105
25,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
# creating series of the individual country variable data to concat vertically 
Argentina = wgi_RuleofLaw['Argentina']
Bolivia = wgi_RuleofLaw['Bolivia']
Brazil = wgi_RuleofLaw['Brazil']
Chile = wgi_RuleofLaw['Chile']
Colombia = wgi_RuleofLaw['Colombia']
Costa_Rica = wgi_RuleofLaw['Costa Rica']
Cuba = wgi_RuleofLaw['Cuba']
Dominican_Republic = wgi_RuleofLaw['Dominican Republic']
Ecuador = wgi_RuleofLaw['Ecuador']
El_Salvador = wgi_RuleofLaw['El Salvador']
Guatemala = wgi_RuleofLaw['Guatemala']
Honduras = wgi_RuleofLaw['Honduras']
Mexico = wgi_RuleofLaw['Mexico']
Nicaragua = wgi_RuleofLaw['Nicaragua']
Panama = wgi_RuleofLaw['Panama']
Paraguay = wgi_RuleofLaw['Paraguay']
Peru = wgi_RuleofLaw['Peru']
Uruguay = wgi_RuleofLaw['Uruguay']
Venezuela = wgi_RuleofLaw['Venezuela, RB']

# creating a series of the variable pooled by country 
wgi_RuleofLaw = pd.concat([Argentina, Bolivia, Brazil, Chile, Colombia, Costa_Rica, Cuba, Dominican_Republic, Ecuador, El_Salvador, Guatemala, Honduras, Mexico, Nicaragua, Panama, Paraguay, Peru, Uruguay, Venezuela], ignore_index=True,  axis=0, sort=False)
wgi_RuleofLaw

0      0.075553
1           NaN
2     -0.005769
3           NaN
4     -0.149923
         ...
489   -2.236806
490   -2.322770
491   -2.320636
492   -2.346105
493         NaN
Length: 494, dtype: float64

In [37]:
# adding wgi_PoliticalStability_Violence variable to the dataframe 
state_capture_database['wgi_RuleofLaw'] = wgi_RuleofLaw
state_capture_database

,country,year,wgi_VoiceAndAccountability,wgi_PoliticalStability_Violence,wgi_GovernmentEffectiveness,wgi_RegulatoryQuality,wgi_ControlOfCorruption,wgi_RuleofLaw
0,Argentina,1996.0,0.391903,0.112986,0.165690,0.518067,-0.101317,0.075553
1,Argentina,1997.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Argentina,1998.0,0.308850,-0.131970,0.376485,0.570877,-0.113424,-0.005769
3,Argentina,1999.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Argentina,2000.0,0.418347,0.099359,0.032177,0.257245,-0.192119,-0.149923
...,...,...,...,...,...,...,...,...
489,Venezuela,2017.0,-1.207137,-1.272082,-1.423879,-1.976389,-1.370064,-2.236806
490,Venezuela,2018.0,-1.434810,-1.351146,-1.584651,-2.363184,-1.466074,-2.322770
491,Venezuela,2019.0,-1.428393,-1.536778,-1.658469,-2.359256,-1.486213,-2.320636
492,Venezuela,2020.0,-1.506591,-1.517866,-1.780275,-2.234419,-1.560315,-2.346105
493,Venezuela,2021.0,NaN,NaN,NaN,NaN,NaN,NaN

# **7. WB_RuralPopulation Variable wrangling**

In [38]:
!pip install --upgrade xlrd
import xlrd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (2.0.1)

In [39]:
!pip install xlrd
import xlrd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (2.0.1)

In [40]:
!pip install xlrd>=1.2.0
!pip install --upgrade pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [41]:
fname = "https://api.worldbank.org/v2/en/indicator/SP.RUR.TOTL?downloadformat=excel"
WB_RuralPopulation = pd.read_excel(fname, skiprows=3)
WB_RuralPopulation.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,Rural population,SP.RUR.TOTL,26683.0,27295.0,27697.0,27936.0,28107.0,28277.0,...,58506.0,58814.0,59110.0,59361.0,59572.0,59747.0,59897.0,60016.0,60112.0,60173.0
1,Africa Eastern and Southern,AFE,Rural population,SP.RUR.TOTL,111597625.0,114110332.0,116717022.0,119394205.0,122140071.0,124963818.0,...,366421044.0,374087585.0,381804769.0,389549737.0,397309170.0,405073414.0,412813896.0,420506755.0,428130824.0,435672671.0
2,Afghanistan,AFG,Rural population,SP.RUR.TOTL,8241132.0,8373135.0,8512057.0,8657973.0,8810638.0,8970244.0,...,23632789.0,24404524.0,25165924.0,25877997.0,26530194.0,27131343.0,27694940.0,28244483.0,28796851.0,29353133.0

In [42]:
WB_RuralPopulation = WB_RuralPopulation.drop(labels=['Country Code', 'Indicator Name', 'Indicator Code'], axis=1)
WB_RuralPopulation

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,26683.0,27295.0,27697.0,27936.0,28107.0,28277.0,28456.0,28633.0,28807.0,...,58506.0,58814.0,59110.0,59361.0,59572.0,59747.0,59897.0,60016.0,60112.0,60173.0
1,Africa Eastern and Southern,111597625.0,114110332.0,116717022.0,119394205.0,122140071.0,124963818.0,127863551.0,130848646.0,133924817.0,...,366421044.0,374087585.0,381804769.0,389549737.0,397309170.0,405073414.0,412813896.0,420506755.0,428130824.0,435672671.0
2,Afghanistan,8241132.0,8373135.0,8512057.0,8657973.0,8810638.0,8970244.0,9133649.0,9300663.0,9475709.0,...,23632789.0,24404524.0,25165924.0,25877997.0,26530194.0,27131343.0,27694940.0,28244483.0,28796851.0,29353133.0
3,Africa Western and Central,82254748.0,83593412.0,84979354.0,86400362.0,87851320.0,89328091.0,90869502.0,92443341.0,94055197.0,...,211404928.0,214830600.0,218280270.0,221750635.0,225245547.0,228753833.0,232268264.0,235777809.0,239272321.0,242748830.0
4,Angola,4885715.0,4934165.0,4980123.0,5019234.0,5043469.0,5049021.0,5031759.0,4998298.0,4967822.0,...,9724802.0,9885478.0,10040929.0,10192856.0,10340318.0,10483874.0,10625063.0,10764271.0,10903384.0,11041997.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",4831654.0,4882907.0,4935554.0,4989088.0,5042799.0,5096204.0,5150223.0,5205368.0,5260809.0,...,16407307.0,16707993.0,17000893.0,17282713.0,17552294.0,17809825.0,18056196.0,18292399.0,18519540.0,18737717.0
263,South Africa,9128063.0,9324278.0,9538726.0,9760589.0,9989720.0,10225890.0,10468782.0,10718501.0,10975779.0,...,19404379.0,19438497.0,19465728.0,19480494.0,19481009.0,19468830.0,19444293.0,19408552.0,19361915.0,19305303.0
264,Zambia,2513587.0,2564658.0,2615526.0,2664155.0,2700785.0,2735977.0,2769234.0,2800517.0,2829778.0,...,8627882.0,8826816.0,9027051.0,9224802.0,9419129.0,9610601.0,9800075.0,9989319.0,10179380.0,10370034.0
265,Zimbabwe,3300515.0,3404373.0,3510800.0,3611339.0,3713677.0,3817492.0,3922210.0,4028102.0,4136075.0,...,8808921.0,8990946.0,9170486.0,9340770.0,9499100.0,9647147.0,9788215.0,9928166.0,10070822.0,10216947.0

In [43]:
WB_RuralPopulation = WB_RuralPopulation.set_index('Country Name')

WB_RuralPopulation = WB_RuralPopulation.loc[countries]

In [44]:
WB_RuralPopulation = WB_RuralPopulation.reset_index(level=None, drop=True, inplace=False, col_level=0, col_fill='index')

WB_RuralPopulation = WB_RuralPopulation.T

WB_RuralPopulation.columns = countries

WB_RuralPopulation = WB_RuralPopulation.reset_index().rename(columns={'index': 'Year'})

WB_RuralPopulation['Year'] = WB_RuralPopulation['Year'].astype(int)

WB_RuralPopulation

,Year,Argentina,Bolivia,Brazil,Chile,Colombia,Costa Rica,Cuba,Dominican Republic,Ecuador,El Salvador,Guatemala,Honduras,Mexico,Nicaragua,Panama,Paraguay,Peru,Uruguay,"Venezuela, RB"
0,1960,5404937.0,2312589.0,38876458.0,2615894.0,8628131.0,874939.0,2970685.0,2299663.0,3004358.0,1705325.0,2843931.0,1574907.0,18601508.0,1071309.0,665652.0,1226760.0,5401349.0,501611.0,3125408.0
1,1961,5367317.0,2347041.0,39294349.0,2602412.0,8664637.0,907039.0,3019432.0,2346520.0,3063174.0,1749891.0,2901164.0,1607567.0,18863464.0,1097314.0,678645.0,1257363.0,5495130.0,502455.0,3133076.0
2,1962,5337547.0,2382311.0,39711702.0,2590963.0,8692946.0,940218.0,3072645.0,2391687.0,3123091.0,1798928.0,2958885.0,1640448.0,19121717.0,1123377.0,691479.0,1288867.0,5534469.0,503044.0,3153258.0
3,1963,5305828.0,2418443.0,40112607.0,2577816.0,8712030.0,972118.0,3128374.0,2435642.0,3186853.0,1849909.0,3016780.0,1673817.0,19377440.0,1148184.0,704472.0,1320348.0,5571857.0,503335.0,3170503.0
4,1964,5271909.0,2455512.0,40484458.0,2562308.0,8719182.0,997929.0,3183546.0,2477973.0,3253848.0,1902125.0,3077682.0,1707890.0,19631924.0,1166667.0,717502.0,1352295.0,5606079.0,503384.0,3184651.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,2017,3634137.0,3460830.0,28454529.0,2310651.0,9563831.0,1061270.0,2610637.0,2073501.0,6098120.0,1834989.0,7934315.0,4105676.0,25121419.0,2662543.0,1340242.0,2657551.0,7005790.0,163584.0,3474491.0
58,2018,3617403.0,3471223.0,28133824.0,2329159.0,9545848.0,1032885.0,2603578.0,2011294.0,6180950.0,1796330.0,8001178.0,4113431.0,25041299.0,2681761.0,1348752.0,2672174.0,7067388.0,160944.0,3406369.0
59,2019,3599141.0,3480065.0,27807885.0,2341903.0,9512141.0,1005676.0,2594348.0,1951483.0,6256949.0,1758851.0,8063081.0,4119683.0,24948670.0,2699365.0,1356355.0,2685487.0,7120116.0,158340.0,3353461.0
60,2020,3579773.0,3487551.0,27477555.0,2346132.0,9451496.0,979547.0,2583148.0,1894044.0,6322214.0,1722476.0,8119648.0,4124378.0,24844052.0,2715272.0,1362863.0,2697309.0,7155880.0,155797.0,3332977.0
61,2021,3559798.0,3493674.0,27140788.0,2340642.0,9361143.0,954579.0,2569977.0,1838800.0,6375273.0,1687118.0,8170759.0,4127639.0,24728980.0,2729410.0,1368149.0,2707654.0,7172274.0,153242.0,3351303.0

In [45]:
# getting only the temporal period 1996 to 2020

time1 = WB_RuralPopulation['Year'] >= 1996
time2 = WB_RuralPopulation['Year'] <= 2021
timeperiod = time1 & time2

WB_RuralPopulation = WB_RuralPopulation[timeperiod].reset_index().drop(columns='index')
WB_RuralPopulation

,Year,Argentina,Bolivia,Brazil,Chile,Colombia,Costa Rica,Cuba,Dominican Republic,Ecuador,El Salvador,Guatemala,Honduras,Mexico,Nicaragua,Panama,Paraguay,Peru,Uruguay,"Venezuela, RB"
0,1996,4100563.0,3136445.0,35718094.0,2208381.0,10298708.0,1617599.0,2797613.0,3305090.0,4882913.0,2545225.0,5901847.0,3322677.0,24525617.0,2153290.0,1147094.0,2308236.0,7085287.0,297623.0,3058775.0
1,1997,4077785.0,3158154.0,35033639.0,2192502.0,10312933.0,1622690.0,2789413.0,3292294.0,4925793.0,2497509.0,6006636.0,3388980.0,24666036.0,2185143.0,1147071.0,2328413.0,7109994.0,289507.0,3048839.0
2,1998,4053893.0,3178869.0,34328880.0,2175217.0,10320766.0,1625632.0,2775683.0,3276981.0,4965867.0,2446656.0,6113086.0,3455622.0,24795977.0,2215387.0,1146521.0,2346848.0,7128838.0,281385.0,3037062.0
3,1999,4028898.0,3198457.0,33609034.0,2156454.0,10323159.0,1625780.0,2761303.0,3259472.0,5002226.0,2433964.0,6221658.0,3521498.0,24916146.0,2244172.0,1145367.0,2363370.0,7137369.0,273142.0,3023980.0
4,2000,4003431.0,3216874.0,32874567.0,2136729.0,10320832.0,1622511.0,2745667.0,3240025.0,5034533.0,2419233.0,6335891.0,3585869.0,24999903.0,2271811.0,1145526.0,2377821.0,7133072.0,264649.0,3009783.0
5,2001,3977684.0,3234237.0,32687356.0,2115932.0,10313978.0,1597090.0,2729205.0,3218886.0,5062676.0,2402569.0,6450059.0,3648463.0,25029404.0,2298178.0,1158708.0,2390360.0,7115747.0,255962.0,2994546.0
6,2002,3952815.0,3253816.0,32532199.0,2100770.0,10301818.0,1568480.0,2711999.0,3195871.0,5110442.0,2384021.0,6559052.0,3699536.0,25050042.0,2323434.0,1171689.0,2400870.0,7086902.0,247158.0,3043173.0
7,2003,3928382.0,3273067.0,32356591.0,2113551.0,10283437.0,1537368.0,2700956.0,3132570.0,5171926.0,2364003.0,6664800.0,3747377.0,25067242.0,2347953.0,1184430.0,2423478.0,7048620.0,238373.0,3091235.0
8,2004,3903086.0,3291065.0,32162492.0,2125988.0,10258117.0,1504663.0,2695476.0,3051042.0,5232707.0,2342837.0,6770217.0,3792452.0,25086720.0,2372265.0,1197009.0,2446661.0,7004399.0,229913.0,3138309.0
9,2005,3877236.0,3307933.0,31950579.0,2138869.0,10225220.0,1471128.0,2687690.0,2968437.0,5293775.0,2321111.0,6873860.0,3835036.0,25114752.0,2396560.0,1209470.0,2467494.0,6957061.0,221929.0,3184052.0
10,2006,3850408.0,3323358.0,31719371.0,2151926.0,10185476.0,1436813.0,2677135.0,2884525.0,5355639.0,2298802.0,6975317.0,3874786.0,25151867.0,2418775.0,1221816.0,2485914.0,6907204.0,214389.0,3227393.0
11,2007,3823186.0,3337615.0,31470391.0,2165456.0,10140105.0,1401816.0,2664265.0,2799789.0,5417822.0,2272949.0,7074356.0,3911678.0,25196552.0,2441294.0,1234066.0,2502185.0,6855748.0,207268.0,3268077.0
12,2008,3795591.0,3350500.0,31206854.0,2178924.0,10088363.0,1366162.0,2650465.0,2714469.0,5479974.0,2227180.0,7170952.0,3945305.0,25241503.0,2463918.0,1246143.0,2516927.0,6840105.0,200480.0,3307732.0
13,2009,3768543.0,3362410.0,30936531.0,2192333.0,10029830.0,1330227.0,2637716.0,2629580.0,5541143.0,2181665.0,7265539.0,3975543.0,25281882.0,2486611.0,1258058.0,2531111.0,6840849.0,193980.0,3347744.0
14,2010,3732551.0,3373314.0,30658541.0,2205503.0,9965274.0,1293748.0,2627182.0,2544677.0,5600647.0,2136406.0,7357571.0,4001949.0,25311523.0,2509179.0,1269842.0,2545380.0,6841824.0,187649.0,3389188.0
15,2011,3717660.0,3383142.0,30356010.0,2217618.0,9892834.0,1257049.0,2619380.0,2470282.0,5662951.0,2091408.0,7449392.0,4024672.0,25324581.0,2531635.0,1281070.0,2559942.0,6842875.0,181518.0,3435346.0
16,2012,3705497.0,3391944.0,30046545.0,2229160.0,9813668.0,1221412.0,2613789.0,2403083.0,5727274.0,2046849.0,7538790.0,4043671.0,25325354.0,2554002.0,1291782.0,2574576.0,6844395.0,177768.0,3487185.0
17,2013,3693179.0,3405293.0,29735221.0,2241071.0,9735691.0,1186950.0,2614545.0,2336313.0,5792131.0,2002889.0,7625644.0,4059815.0,25311373.0,2576243.0,1302058.0,2591284.0,6851292.0,174793.0,3534117.0
18,2014,3679391.0,3421053.0,29416964.0,2254856.0,9668302.0,1153723.0,2616306.0,2269885.0,5860544.0,1959420.0,7709179.0,4073535.0,25283004.0,2598376.0,1311972.0,2608528.0,6868729.0,171892.0,3561895.0
19,2015,3664923.0,3435596.0,29096331.0,2271327.0,9616282.0,1121685.0,2616476.0,2203774.0,5933924.0,1916512.0,7788224.0,4085771.0,25242937.0,2620293.0,1321666.0,2625333.0,6899489.0,169065.0,3563493.0
20,2016,3649822.0,3448768.0,28776239.0,2290337.0,9582981.0,1090837.0,2615009.0,2138191.0,6013650.0,1874997.0,7863355.0,4096486.0,25188376.0,2641994.0,1331144.0,2641610.0,6946297.0,166276.0,3532895.0
21,2017,3634137.0,3460830.0,28454529.0,2310651.0,9563831.0,1061270.0,2610637.0,2073501.0,6098120.0,1834989.0,7934315.0,4105676.0,25121419.0,2662543.0,1340242.0,2657551.0,7005790.0,163584.0,3474491.0
22,2018,3617403.0,3471223.0,28133824.0,2329159.0,9545848.0,1032885.0,2603578.0,2011294.0,6180950.0,1796330.0,8001178.0,4113431.0,25041299.0,2681761.0,1348752.0,2672174.0,7067388.0,160944.0,3406369.0
23,2019,3599141.0,3480065.0,27807885.0,2341903.0,9512141.0,1005676.0,2594348.0,1951483.0,6256949.0,1758851.0,8063081.0,4119683.0,24948670.0,2699365.0,1356355.0,2685487.0,7120116.0,158340.0,3353461.0
24,2020,3579773.0,3487551.0,27477555.0,2346132.0,9451496.0,979547.0,2583148.0,1894044.0,6322214.0,1722476.0,8119648.0,4124378.0,24844052.0,2715272.0,1362863.0,2697309.0,7155880.0,155797.0,3332977.0
25,2021,3559798.0,3493674.0,27140788.0,2340642.0,9361143.0,954579.0,2569977.0,1838800.0,6375273.0,1687118.0,8170759.0,4127639.0,24728980.0,2729410.0,1368149.0,2707654.0,7172274.0,153242.0,3351303.0

In [46]:
# creating series of the individual country variable data to concat vertically 
Argentina = WB_RuralPopulation['Argentina']
Bolivia = WB_RuralPopulation['Bolivia']
Brazil = WB_RuralPopulation['Brazil']
Chile = WB_RuralPopulation['Chile']
Colombia = WB_RuralPopulation['Colombia']
Costa_Rica = WB_RuralPopulation['Costa Rica']
Cuba = WB_RuralPopulation['Cuba']
Dominican_Republic = WB_RuralPopulation['Dominican Republic']
Ecuador = WB_RuralPopulation['Ecuador']
El_Salvador = WB_RuralPopulation['El Salvador']
Guatemala = WB_RuralPopulation['Guatemala']
Honduras = WB_RuralPopulation['Honduras']
Mexico = WB_RuralPopulation['Mexico']
Nicaragua = WB_RuralPopulation['Nicaragua']
Panama = WB_RuralPopulation['Panama']
Paraguay = WB_RuralPopulation['Paraguay']
Peru = WB_RuralPopulation['Peru']
Uruguay = WB_RuralPopulation['Uruguay']
Venezuela = WB_RuralPopulation['Venezuela, RB']

# creating a series of the variable pooled by country 
WB_RuralPopulation = pd.concat([Argentina, Bolivia, Brazil, Chile, Colombia, Costa_Rica, Cuba, Dominican_Republic, Ecuador, El_Salvador, Guatemala, Honduras, Mexico, Nicaragua, Panama, Paraguay, Peru, Uruguay, Venezuela], ignore_index=True,  axis=0, sort=False)
WB_RuralPopulation

0      4100563.0
1      4077785.0
2      4053893.0
3      4028898.0
4      4003431.0
         ...
489    3474491.0
490    3406369.0
491    3353461.0
492    3332977.0
493    3351303.0
Length: 494, dtype: float64

In [47]:
# adding wgi_PoliticalStability_Violence variable to the dataframe 
state_capture_database['WB_RuralPopulation'] = WB_RuralPopulation
state_capture_database

,country,year,wgi_VoiceAndAccountability,wgi_PoliticalStability_Violence,wgi_GovernmentEffectiveness,wgi_RegulatoryQuality,wgi_ControlOfCorruption,wgi_RuleofLaw,WB_RuralPopulation
0,Argentina,1996.0,0.391903,0.112986,0.165690,0.518067,-0.101317,0.075553,4100563.0
1,Argentina,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,4077785.0
2,Argentina,1998.0,0.308850,-0.131970,0.376485,0.570877,-0.113424,-0.005769,4053893.0
3,Argentina,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,4028898.0
4,Argentina,2000.0,0.418347,0.099359,0.032177,0.257245,-0.192119,-0.149923,4003431.0
...,...,...,...,...,...,...,...,...,...
489,Venezuela,2017.0,-1.207137,-1.272082,-1.423879,-1.976389,-1.370064,-2.236806,3474491.0
490,Venezuela,2018.0,-1.434810,-1.351146,-1.584651,-2.363184,-1.466074,-2.322770,3406369.0
491,Venezuela,2019.0,-1.428393,-1.536778,-1.658469,-2.359256,-1.486213,-2.320636,3353461.0
492,Venezuela,2020.0,-1.506591,-1.517866,-1.780275,-2.234419,-1.560315,-2.346105,3332977.0
493,Venezuela,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,3351303.0

# **8. WB_ForestArea_%of_LandArea variable wrangling**

In [48]:
fname = "https://api.worldbank.org/v2/en/indicator/AG.LND.FRST.ZS?downloadformat=excel"
WB_ForestArea_Percent_of_LandArea = pd.read_excel(fname, skiprows=3)
WB_ForestArea_Percent_of_LandArea.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,Forest area (% of land area),AG.LND.FRST.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,NaN
1,Africa Eastern and Southern,AFE,Forest area (% of land area),AG.LND.FRST.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,31.972492,31.761842,31.551270,31.340526,31.119431,30.903543,30.690224,30.469798,30.251786,NaN
2,Afghanistan,AFG,Forest area (% of land area),AG.LND.FRST.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.850994,1.850994,1.850994,1.850994,1.850994,1.850994,1.850994,1.850994,1.850994,NaN

In [49]:

# dropping useless column names 
WB_ForestArea_Percent_of_LandArea = WB_ForestArea_Percent_of_LandArea.drop(labels=['Country Code', 'Indicator Name', 'Indicator Code'], axis=1)



# getting only the Latin American countries that we want out of all countries in world 

WB_ForestArea_Percent_of_LandArea = WB_ForestArea_Percent_of_LandArea.set_index('Country Name')

WB_ForestArea_Percent_of_LandArea = WB_ForestArea_Percent_of_LandArea.loc[countries]

# resetting index 
WB_ForestArea_Percent_of_LandArea = WB_ForestArea_Percent_of_LandArea.reset_index(level=None, drop=True, inplace=False, col_level=0, col_fill='index')

WB_ForestArea_Percent_of_LandArea = WB_ForestArea_Percent_of_LandArea.T

# renaming the columns 
WB_ForestArea_Percent_of_LandArea.columns = countries

WB_ForestArea_Percent_of_LandArea = WB_ForestArea_Percent_of_LandArea.reset_index().rename(columns={'index': 'Year'})
# changing the year column to type 'int' to boolean index the temporal period
WB_ForestArea_Percent_of_LandArea['Year'] = WB_ForestArea_Percent_of_LandArea['Year'].astype(int)


# getting only the temporal period 1996 to 2020

time1 = WB_ForestArea_Percent_of_LandArea['Year'] >= 1996
time2 = WB_ForestArea_Percent_of_LandArea['Year'] <= 2021
timeperiod = time1 & time2

# doing the boolean index to get time period 1996 to 2020 and resetting index and dropping old column called index that serves no purpose
WB_ForestArea_Percent_of_LandArea = WB_ForestArea_Percent_of_LandArea[timeperiod].reset_index().drop(columns='index')
WB_ForestArea_Percent_of_LandArea


# creating series of the individual country variable data to concat vertically 
Argentina = WB_ForestArea_Percent_of_LandArea['Argentina']
Bolivia = WB_ForestArea_Percent_of_LandArea['Bolivia']
Brazil = WB_ForestArea_Percent_of_LandArea['Brazil']
Chile = WB_ForestArea_Percent_of_LandArea['Chile']
Colombia = WB_ForestArea_Percent_of_LandArea['Colombia']
Costa_Rica = WB_ForestArea_Percent_of_LandArea['Costa Rica']
Cuba = WB_ForestArea_Percent_of_LandArea['Cuba']
Dominican_Republic = WB_ForestArea_Percent_of_LandArea['Dominican Republic']
Ecuador = WB_ForestArea_Percent_of_LandArea['Ecuador']
El_Salvador = WB_ForestArea_Percent_of_LandArea['El Salvador']
Guatemala = WB_ForestArea_Percent_of_LandArea['Guatemala']
Honduras = WB_ForestArea_Percent_of_LandArea['Honduras']
Mexico = WB_ForestArea_Percent_of_LandArea['Mexico']
Nicaragua = WB_ForestArea_Percent_of_LandArea['Nicaragua']
Panama = WB_ForestArea_Percent_of_LandArea['Panama']
Paraguay = WB_ForestArea_Percent_of_LandArea['Paraguay']
Peru = WB_ForestArea_Percent_of_LandArea['Peru']
Uruguay = WB_ForestArea_Percent_of_LandArea['Uruguay']
Venezuela = WB_ForestArea_Percent_of_LandArea['Venezuela, RB']

# creating a series of the variable pooled by country 
WB_ForestArea_Percent_of_LandArea = pd.concat([Argentina, Bolivia, Brazil, Chile, Colombia, Costa_Rica, Cuba, Dominican_Republic, Ecuador, El_Salvador, Guatemala, Honduras, Mexico, Nicaragua, Panama, Paraguay, Peru, Uruguay, Venezuela], ignore_index=True,  axis=0, sort=False)
WB_ForestArea_Percent_of_LandArea

# adding the concatenated series to the main state capture dataframe
# adding wgi_PoliticalStability_Violence variable to the dataframe 
state_capture_database['WB_ForestArea_Percent_of_LandArea'] = WB_ForestArea_Percent_of_LandArea
state_capture_database

,country,year,wgi_VoiceAndAccountability,wgi_PoliticalStability_Violence,wgi_GovernmentEffectiveness,wgi_RegulatoryQuality,wgi_ControlOfCorruption,wgi_RuleofLaw,WB_RuralPopulation,WB_ForestArea_Percent_of_LandArea
0,Argentina,1996.0,0.391903,0.112986,0.165690,0.518067,-0.101317,0.075553,4100563.0,12.463377
1,Argentina,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,4077785.0,12.396654
2,Argentina,1998.0,0.308850,-0.131970,0.376485,0.570877,-0.113424,-0.005769,4053893.0,12.329931
3,Argentina,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,4028898.0,12.263208
4,Argentina,2000.0,0.418347,0.099359,0.032177,0.257245,-0.192119,-0.149923,4003431.0,12.196486
...,...,...,...,...,...,...,...,...,...,...
489,Venezuela,2017.0,-1.207137,-1.272082,-1.423879,-1.976389,-1.370064,-2.236806,3474491.0,52.636676
490,Venezuela,2018.0,-1.434810,-1.351146,-1.584651,-2.363184,-1.466074,-2.322770,3406369.0,52.534165
491,Venezuela,2019.0,-1.428393,-1.536778,-1.658469,-2.359256,-1.486213,-2.320636,3353461.0,52.459611
492,Venezuela,2020.0,-1.506591,-1.517866,-1.780275,-2.234419,-1.560315,-2.346105,3332977.0,52.413015
493,Venezuela,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,3351303.0,NaN

# **9.WB_AgriculturalLand_Percent_of_LandArea**

In [50]:
fname = "https://api.worldbank.org/v2/en/indicator/AG.LND.AGRI.ZS?downloadformat=excel"
WB_AgriculturalLand_Percent_of_LandArea = pd.read_excel(fname, skiprows=3)
WB_AgriculturalLand_Percent_of_LandArea.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,11.111111,11.111111,11.111111,11.111111,11.111111,...,11.111111,11.111111,11.111111,11.111111,11.111111,11.111111,11.111111,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,43.672679,43.645948,43.681124,43.651032,43.622251,...,43.621913,43.747682,43.877935,43.937150,44.005687,44.042629,44.117980,NaN,NaN,NaN
2,Afghanistan,AFG,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,57.745918,57.837821,57.914407,58.010906,58.013969,...,58.067580,58.067580,58.067580,58.067580,58.067580,58.067580,58.081365,NaN,NaN,NaN

In [51]:

# dropping useless column names 
WB_AgriculturalLand_Percent_of_LandArea = WB_AgriculturalLand_Percent_of_LandArea.drop(labels=['Country Code', 'Indicator Name', 'Indicator Code'], axis=1)



# getting only the Latin American countries that we want out of all countries in world 

WB_AgriculturalLand_Percent_of_LandArea = WB_AgriculturalLand_Percent_of_LandArea.set_index('Country Name')

WB_AgriculturalLand_Percent_of_LandArea = WB_AgriculturalLand_Percent_of_LandArea.loc[countries]

# resetting index 
WB_AgriculturalLand_Percent_of_LandArea = WB_AgriculturalLand_Percent_of_LandArea.reset_index(level=None, drop=True, inplace=False, col_level=0, col_fill='index')

WB_AgriculturalLand_Percent_of_LandArea = WB_AgriculturalLand_Percent_of_LandArea.T

# renaming the columns 
WB_AgriculturalLand_Percent_of_LandArea.columns = countries

WB_AgriculturalLand_Percent_of_LandArea = WB_AgriculturalLand_Percent_of_LandArea.reset_index().rename(columns={'index': 'Year'})
# changing the year column to type 'int' to boolean index the temporal period
WB_AgriculturalLand_Percent_of_LandArea['Year'] = WB_AgriculturalLand_Percent_of_LandArea['Year'].astype(int)


# getting only the temporal period 1996 to 2020

time1 = WB_AgriculturalLand_Percent_of_LandArea['Year'] >= 1996
time2 = WB_AgriculturalLand_Percent_of_LandArea['Year'] <= 2021
timeperiod = time1 & time2

# doing the boolean index to get time period 1996 to 2020 and resetting index and dropping old column called index that serves no purpose
WB_AgriculturalLand_Percent_of_LandArea = WB_AgriculturalLand_Percent_of_LandArea[timeperiod].reset_index().drop(columns='index')
WB_AgriculturalLand_Percent_of_LandArea


# creating series of the individual country variable data to concat vertically 
Argentina = WB_AgriculturalLand_Percent_of_LandArea['Argentina']
Bolivia = WB_AgriculturalLand_Percent_of_LandArea['Bolivia']
Brazil = WB_AgriculturalLand_Percent_of_LandArea['Brazil']
Chile = WB_AgriculturalLand_Percent_of_LandArea['Chile']
Colombia = WB_AgriculturalLand_Percent_of_LandArea['Colombia']
Costa_Rica = WB_AgriculturalLand_Percent_of_LandArea['Costa Rica']
Cuba = WB_AgriculturalLand_Percent_of_LandArea['Cuba']
Dominican_Republic = WB_AgriculturalLand_Percent_of_LandArea['Dominican Republic']
Ecuador = WB_AgriculturalLand_Percent_of_LandArea['Ecuador']
El_Salvador = WB_AgriculturalLand_Percent_of_LandArea['El Salvador']
Guatemala = WB_AgriculturalLand_Percent_of_LandArea['Guatemala']
Honduras = WB_AgriculturalLand_Percent_of_LandArea['Honduras']
Mexico = WB_AgriculturalLand_Percent_of_LandArea['Mexico']
Nicaragua = WB_AgriculturalLand_Percent_of_LandArea['Nicaragua']
Panama = WB_AgriculturalLand_Percent_of_LandArea['Panama']
Paraguay = WB_AgriculturalLand_Percent_of_LandArea['Paraguay']
Peru = WB_AgriculturalLand_Percent_of_LandArea['Peru']
Uruguay = WB_AgriculturalLand_Percent_of_LandArea['Uruguay']
Venezuela = WB_AgriculturalLand_Percent_of_LandArea['Venezuela, RB']

# creating a series of the variable pooled by country 
WB_AgriculturalLand_Percent_of_LandArea = pd.concat([Argentina, Bolivia, Brazil, Chile, Colombia, Costa_Rica, Cuba, Dominican_Republic, Ecuador, El_Salvador, Guatemala, Honduras, Mexico, Nicaragua, Panama, Paraguay, Peru, Uruguay, Venezuela], ignore_index=True,  axis=0, sort=False)
WB_AgriculturalLand_Percent_of_LandArea

# adding the concatenated series to the main state capture dataframe
# adding wgi_PoliticalStability_Violence variable to the dataframe 
state_capture_database['WB_AgriculturalLand_Percent_of_LandArea'] = WB_AgriculturalLand_Percent_of_LandArea
state_capture_database

,country,year,wgi_VoiceAndAccountability,wgi_PoliticalStability_Violence,wgi_GovernmentEffectiveness,wgi_RegulatoryQuality,wgi_ControlOfCorruption,wgi_RuleofLaw,WB_RuralPopulation,WB_ForestArea_Percent_of_LandArea,WB_AgriculturalLand_Percent_of_LandArea
0,Argentina,1996.0,0.391903,0.112986,0.165690,0.518067,-0.101317,0.075553,4100563.0,12.463377,46.823718
1,Argentina,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,4077785.0,12.396654,46.857700
2,Argentina,1998.0,0.308850,-0.131970,0.376485,0.570877,-0.113424,-0.005769,4053893.0,12.329931,46.892414
3,Argentina,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,4028898.0,12.263208,46.922377
4,Argentina,2000.0,0.418347,0.099359,0.032177,0.257245,-0.192119,-0.149923,4003431.0,12.196486,46.958187
...,...,...,...,...,...,...,...,...,...,...,...
489,Venezuela,2017.0,-1.207137,-1.272082,-1.423879,-1.976389,-1.370064,-2.236806,3474491.0,52.636676,24.375035
490,Venezuela,2018.0,-1.434810,-1.351146,-1.584651,-2.363184,-1.466074,-2.322770,3406369.0,52.534165,24.375035
491,Venezuela,2019.0,-1.428393,-1.536778,-1.658469,-2.359256,-1.486213,-2.320636,3353461.0,52.459611,NaN
492,Venezuela,2020.0,-1.506591,-1.517866,-1.780275,-2.234419,-1.560315,-2.346105,3332977.0,52.413015,NaN
493,Venezuela,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,3351303.0,NaN,NaN

# **10.WB_Rural_Population_Percent_of_Total_Pop**

In [52]:
fname = "https://api.worldbank.org/v2/en/indicator/SP.RUR.TOTL.ZS?downloadformat=excel"
WB_Rural_Population_Percent_of_Total_Pop = pd.read_excel(fname, skiprows=3)
WB_Rural_Population_Percent_of_Total_Pop.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,Rural population (% of total population),SP.RUR.TOTL.ZS,49.224000,49.239000,49.254000,49.270000,49.285000,49.300000,...,57.043000,57.010000,56.959000,56.892000,56.808000,56.707000,56.58900,56.454000,56.303000,56.134000
1,Africa Eastern and Southern,AFE,Rural population (% of total population),SP.RUR.TOTL.ZS,85.295312,85.055541,84.814392,84.555586,84.280924,83.998008,...,66.928313,66.492452,66.047576,65.594916,65.134899,64.667627,64.19223,63.708678,63.216694,62.716935
2,Afghanistan,AFG,Rural population (% of total population),SP.RUR.TOTL.ZS,91.599000,91.316000,91.024000,90.724000,90.414000,90.096000,...,75.840000,75.627000,75.413000,75.197000,74.980000,74.750000,74.50500,74.246000,73.974000,73.686000

In [53]:

# dropping useless column names 
WB_Rural_Population_Percent_of_Total_Pop = WB_Rural_Population_Percent_of_Total_Pop.drop(labels=['Country Code', 'Indicator Name', 'Indicator Code'], axis=1)



# getting only the Latin American countries that we want out of all countries in world 

WB_Rural_Population_Percent_of_Total_Pop = WB_Rural_Population_Percent_of_Total_Pop.set_index('Country Name')

WB_Rural_Population_Percent_of_Total_Pop = WB_Rural_Population_Percent_of_Total_Pop.loc[countries]

# resetting index 
WB_Rural_Population_Percent_of_Total_Pop = WB_Rural_Population_Percent_of_Total_Pop.reset_index(level=None, drop=True, inplace=False, col_level=0, col_fill='index')

WB_Rural_Population_Percent_of_Total_Pop = WB_Rural_Population_Percent_of_Total_Pop.T

# renaming the columns 
WB_Rural_Population_Percent_of_Total_Pop.columns = countries

WB_Rural_Population_Percent_of_Total_Pop = WB_Rural_Population_Percent_of_Total_Pop.reset_index().rename(columns={'index': 'Year'})
# changing the year column to type 'int' to boolean index the temporal period
WB_Rural_Population_Percent_of_Total_Pop['Year'] = WB_Rural_Population_Percent_of_Total_Pop['Year'].astype(int)


# getting only the temporal period 1996 to 2020

time1 = WB_Rural_Population_Percent_of_Total_Pop['Year'] >= 1996
time2 = WB_Rural_Population_Percent_of_Total_Pop['Year'] <= 2021
timeperiod = time1 & time2

# doing the boolean index to get time period 1996 to 2020 and resetting index and dropping old column called index that serves no purpose
WB_Rural_Population_Percent_of_Total_Pop = WB_Rural_Population_Percent_of_Total_Pop[timeperiod].reset_index().drop(columns='index')
WB_Rural_Population_Percent_of_Total_Pop


# creating series of the individual country variable data to concat vertically 
Argentina = WB_Rural_Population_Percent_of_Total_Pop['Argentina']
Bolivia = WB_Rural_Population_Percent_of_Total_Pop['Bolivia']
Brazil = WB_Rural_Population_Percent_of_Total_Pop['Brazil']
Chile = WB_Rural_Population_Percent_of_Total_Pop['Chile']
Colombia = WB_Rural_Population_Percent_of_Total_Pop['Colombia']
Costa_Rica = WB_Rural_Population_Percent_of_Total_Pop['Costa Rica']
Cuba = WB_Rural_Population_Percent_of_Total_Pop['Cuba']
Dominican_Republic = WB_Rural_Population_Percent_of_Total_Pop['Dominican Republic']
Ecuador = WB_Rural_Population_Percent_of_Total_Pop['Ecuador']
El_Salvador = WB_Rural_Population_Percent_of_Total_Pop['El Salvador']
Guatemala = WB_Rural_Population_Percent_of_Total_Pop['Guatemala']
Honduras = WB_Rural_Population_Percent_of_Total_Pop['Honduras']
Mexico = WB_Rural_Population_Percent_of_Total_Pop['Mexico']
Nicaragua = WB_Rural_Population_Percent_of_Total_Pop['Nicaragua']
Panama = WB_Rural_Population_Percent_of_Total_Pop['Panama']
Paraguay = WB_Rural_Population_Percent_of_Total_Pop['Paraguay']
Peru = WB_Rural_Population_Percent_of_Total_Pop['Peru']
Uruguay = WB_Rural_Population_Percent_of_Total_Pop['Uruguay']
Venezuela = WB_Rural_Population_Percent_of_Total_Pop['Venezuela, RB']

# creating a series of the variable pooled by country 
WB_Rural_Population_Percent_of_Total_Pop = pd.concat([Argentina, Bolivia, Brazil, Chile, Colombia, Costa_Rica, Cuba, Dominican_Republic, Ecuador, El_Salvador, Guatemala, Honduras, Mexico, Nicaragua, Panama, Paraguay, Peru, Uruguay, Venezuela], ignore_index=True,  axis=0, sort=False)
WB_Rural_Population_Percent_of_Total_Pop

# adding the concatenated series to the main state capture dataframe
# adding wgi_PoliticalStability_Violence variable to the dataframe 
state_capture_database['WB_Rural_Population_Percent_of_Total_Pop'] = WB_Rural_Population_Percent_of_Total_Pop
state_capture_database

,country,year,wgi_VoiceAndAccountability,wgi_PoliticalStability_Violence,wgi_GovernmentEffectiveness,wgi_RegulatoryQuality,wgi_ControlOfCorruption,wgi_RuleofLaw,WB_RuralPopulation,WB_ForestArea_Percent_of_LandArea,WB_AgriculturalLand_Percent_of_LandArea,WB_Rural_Population_Percent_of_Total_Pop
0,Argentina,1996.0,0.391903,0.112986,0.165690,0.518067,-0.101317,0.075553,4100563.0,12.463377,46.823718,11.634
1,Argentina,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,4077785.0,12.396654,46.857700,11.436
2,Argentina,1998.0,0.308850,-0.131970,0.376485,0.570877,-0.113424,-0.005769,4053893.0,12.329931,46.892414,11.241
3,Argentina,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,4028898.0,12.263208,46.922377,11.048
4,Argentina,2000.0,0.418347,0.099359,0.032177,0.257245,-0.192119,-0.149923,4003431.0,12.196486,46.958187,10.858
...,...,...,...,...,...,...,...,...,...,...,...,...
489,Venezuela,2017.0,-1.207137,-1.272082,-1.423879,-1.976389,-1.370064,-2.236806,3474491.0,52.636676,24.375035,11.817
490,Venezuela,2018.0,-1.434810,-1.351146,-1.584651,-2.363184,-1.466074,-2.322770,3406369.0,52.534165,24.375035,11.792
491,Venezuela,2019.0,-1.428393,-1.536778,-1.658469,-2.359256,-1.486213,-2.320636,3353461.0,52.459611,NaN,11.760
492,Venezuela,2020.0,-1.506591,-1.517866,-1.780275,-2.234419,-1.560315,-2.346105,3332977.0,52.413015,NaN,11.721
493,Venezuela,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,3351303.0,NaN,NaN,11.675

# **11.WB_Net_ODA_Received_Percent_of_GNI**

In [54]:
fname = 'https://api.worldbank.org/v2/en/indicator/DT.ODA.ODAT.GN.ZS?downloadformat=excel'
WB_Net_ODA_Received_Percent_of_GNI = pd.read_excel(fname, skiprows=3)
WB_Net_ODA_Received_Percent_of_GNI.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,Net ODA received (% of GNI),DT.ODA.ODAT.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Net ODA received (% of GNI),DT.ODA.ODAT.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.797871,3.087643,2.674042,2.846872,2.905827,2.81037,2.856478,3.107670,NaN,NaN
2,Afghanistan,AFG,Net ODA received (% of GNI),DT.ODA.ODAT.GN.ZS,3.12996,6.191071,3.035259,4.783043,5.661171,5.252922,...,33.434135,25.486560,24.094067,22.124711,22.240576,20.06131,20.785338,21.664854,20.717541,NaN

In [55]:

# dropping useless column names 
WB_Net_ODA_Received_Percent_of_GNI = WB_Net_ODA_Received_Percent_of_GNI.drop(labels=['Country Code', 'Indicator Name', 'Indicator Code'], axis=1)



# getting only the Latin American countries that we want out of all countries in world 

WB_Net_ODA_Received_Percent_of_GNI = WB_Net_ODA_Received_Percent_of_GNI.set_index('Country Name')

WB_Net_ODA_Received_Percent_of_GNI = WB_Net_ODA_Received_Percent_of_GNI.loc[countries]

# resetting index 
WB_Net_ODA_Received_Percent_of_GNI = WB_Net_ODA_Received_Percent_of_GNI.reset_index(level=None, drop=True, inplace=False, col_level=0, col_fill='index')

WB_Net_ODA_Received_Percent_of_GNI = WB_Net_ODA_Received_Percent_of_GNI.T

# renaming the columns 
WB_Net_ODA_Received_Percent_of_GNI.columns = countries

WB_Net_ODA_Received_Percent_of_GNI = WB_Net_ODA_Received_Percent_of_GNI.reset_index().rename(columns={'index': 'Year'})
# changing the year column to type 'int' to boolean index the temporal period
WB_Net_ODA_Received_Percent_of_GNI['Year'] = WB_Net_ODA_Received_Percent_of_GNI['Year'].astype(int)


# getting only the temporal period 1996 to 2020

time1 = WB_Net_ODA_Received_Percent_of_GNI['Year'] >= 1996
time2 = WB_Net_ODA_Received_Percent_of_GNI['Year'] <= 2021
timeperiod = time1 & time2

# doing the boolean index to get time period 1996 to 2020 and resetting index and dropping old column called index that serves no purpose
WB_Net_ODA_Received_Percent_of_GNI = WB_Net_ODA_Received_Percent_of_GNI[timeperiod].reset_index().drop(columns='index')
WB_Net_ODA_Received_Percent_of_GNI


# creating series of the individual country variable data to concat vertically 
Argentina = WB_Net_ODA_Received_Percent_of_GNI['Argentina']
Bolivia = WB_Net_ODA_Received_Percent_of_GNI['Bolivia']
Brazil = WB_Net_ODA_Received_Percent_of_GNI['Brazil']
Chile = WB_Net_ODA_Received_Percent_of_GNI['Chile']
Colombia = WB_Net_ODA_Received_Percent_of_GNI['Colombia']
Costa_Rica = WB_Net_ODA_Received_Percent_of_GNI['Costa Rica']
Cuba = WB_Net_ODA_Received_Percent_of_GNI['Cuba']
Dominican_Republic = WB_Net_ODA_Received_Percent_of_GNI['Dominican Republic']
Ecuador = WB_Net_ODA_Received_Percent_of_GNI['Ecuador']
El_Salvador = WB_Net_ODA_Received_Percent_of_GNI['El Salvador']
Guatemala = WB_Net_ODA_Received_Percent_of_GNI['Guatemala']
Honduras = WB_Net_ODA_Received_Percent_of_GNI['Honduras']
Mexico = WB_Net_ODA_Received_Percent_of_GNI['Mexico']
Nicaragua = WB_Net_ODA_Received_Percent_of_GNI['Nicaragua']
Panama = WB_Net_ODA_Received_Percent_of_GNI['Panama']
Paraguay = WB_Net_ODA_Received_Percent_of_GNI['Paraguay']
Peru = WB_Net_ODA_Received_Percent_of_GNI['Peru']
Uruguay = WB_Net_ODA_Received_Percent_of_GNI['Uruguay']
Venezuela = WB_Net_ODA_Received_Percent_of_GNI['Venezuela, RB']

# creating a series of the variable pooled by country 
WB_Net_ODA_Received_Percent_of_GNI = pd.concat([Argentina, Bolivia, Brazil, Chile, Colombia, Costa_Rica, Cuba, Dominican_Republic, Ecuador, El_Salvador, Guatemala, Honduras, Mexico, Nicaragua, Panama, Paraguay, Peru, Uruguay, Venezuela], ignore_index=True,  axis=0, sort=False)
WB_Net_ODA_Received_Percent_of_GNI

# adding the concatenated series to the main state capture dataframe
# adding wgi_PoliticalStability_Violence variable to the dataframe 
state_capture_database['WB_Net_ODA_Received_Percent_of_GNI'] = WB_Net_ODA_Received_Percent_of_GNI
state_capture_database

,country,year,wgi_VoiceAndAccountability,wgi_PoliticalStability_Violence,wgi_GovernmentEffectiveness,wgi_RegulatoryQuality,wgi_ControlOfCorruption,wgi_RuleofLaw,WB_RuralPopulation,WB_ForestArea_Percent_of_LandArea,WB_AgriculturalLand_Percent_of_LandArea,WB_Rural_Population_Percent_of_Total_Pop,WB_Net_ODA_Received_Percent_of_GNI
0,Argentina,1996.0,0.391903,0.112986,0.165690,0.518067,-0.101317,0.075553,4100563.0,12.463377,46.823718,11.634,0.045918
1,Argentina,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,4077785.0,12.396654,46.857700,11.436,0.034629
2,Argentina,1998.0,0.308850,-0.131970,0.376485,0.570877,-0.113424,-0.005769,4053893.0,12.329931,46.892414,11.241,0.025369
3,Argentina,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,4028898.0,12.263208,46.922377,11.048,0.029841
4,Argentina,2000.0,0.418347,0.099359,0.032177,0.257245,-0.192119,-0.149923,4003431.0,12.196486,46.958187,10.858,0.026950
...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Venezuela,2017.0,-1.207137,-1.272082,-1.423879,-1.976389,-1.370064,-2.236806,3474491.0,52.636676,24.375035,11.817,NaN
490,Venezuela,2018.0,-1.434810,-1.351146,-1.584651,-2.363184,-1.466074,-2.322770,3406369.0,52.534165,24.375035,11.792,NaN
491,Venezuela,2019.0,-1.428393,-1.536778,-1.658469,-2.359256,-1.486213,-2.320636,3353461.0,52.459611,NaN,11.760,NaN
492,Venezuela,2020.0,-1.506591,-1.517866,-1.780275,-2.234419,-1.560315,-2.346105,3332977.0,52.413015,NaN,11.721,NaN
493,Venezuela,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,3351303.0,NaN,NaN,11.675,NaN

# **12.WB_Net_ODA_Received_Per_Capita_USDollars**

In [56]:
fname = "https://api.worldbank.org/v2/en/indicator/DT.ODA.ODAT.PC.ZS?downloadformat=excel"
WB_Net_ODA_Received_Per_Capita_USDollars = pd.read_excel(fname, skiprows=3)
WB_Net_ODA_Received_Per_Capita_USDollars.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,Net ODA received per capita (current US$),DT.ODA.ODAT.PC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Net ODA received per capita (current US$),DT.ODA.ODAT.PC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,47.904476,51.915194,44.804296,42.933690,41.098386,44.511377,42.801916,45.758777,NaN,NaN
2,Afghanistan,AFG,Net ODA received per capita (current US$),DT.ODA.ODAT.PC.ZS,1.909532,3.781052,1.810416,3.842526,4.737925,5.416661,...,213.928916,159.671682,147.974260,124.127083,115.009373,105.016759,101.996876,108.765221,108.061634,NaN

In [57]:

# dropping useless column names 
WB_Net_ODA_Received_Per_Capita_USDollars = WB_Net_ODA_Received_Per_Capita_USDollars.drop(labels=['Country Code', 'Indicator Name', 'Indicator Code'], axis=1)



# getting only the Latin American countries that we want out of all countries in world 

WB_Net_ODA_Received_Per_Capita_USDollars = WB_Net_ODA_Received_Per_Capita_USDollars.set_index('Country Name')

WB_Net_ODA_Received_Per_Capita_USDollars = WB_Net_ODA_Received_Per_Capita_USDollars.loc[countries]

# resetting index 
WB_Net_ODA_Received_Per_Capita_USDollars = WB_Net_ODA_Received_Per_Capita_USDollars.reset_index(level=None, drop=True, inplace=False, col_level=0, col_fill='index')

WB_Net_ODA_Received_Per_Capita_USDollars = WB_Net_ODA_Received_Per_Capita_USDollars.T

# renaming the columns 
WB_Net_ODA_Received_Per_Capita_USDollars.columns = countries

WB_Net_ODA_Received_Per_Capita_USDollars = WB_Net_ODA_Received_Per_Capita_USDollars.reset_index().rename(columns={'index': 'Year'})
# changing the year column to type 'int' to boolean index the temporal period
WB_Net_ODA_Received_Per_Capita_USDollars['Year'] = WB_Net_ODA_Received_Per_Capita_USDollars['Year'].astype(int)


# getting only the temporal period 1996 to 2020

time1 = WB_Net_ODA_Received_Per_Capita_USDollars['Year'] >= 1996
time2 = WB_Net_ODA_Received_Per_Capita_USDollars['Year'] <= 2021
timeperiod = time1 & time2

# doing the boolean index to get time period 1996 to 2020 and resetting index and dropping old column called index that serves no purpose
WB_Net_ODA_Received_Per_Capita_USDollars = WB_Net_ODA_Received_Per_Capita_USDollars[timeperiod].reset_index().drop(columns='index')
WB_Net_ODA_Received_Per_Capita_USDollars


# creating series of the individual country variable data to concat vertically 
Argentina = WB_Net_ODA_Received_Per_Capita_USDollars['Argentina']
Bolivia = WB_Net_ODA_Received_Per_Capita_USDollars['Bolivia']
Brazil = WB_Net_ODA_Received_Per_Capita_USDollars['Brazil']
Chile = WB_Net_ODA_Received_Per_Capita_USDollars['Chile']
Colombia = WB_Net_ODA_Received_Per_Capita_USDollars['Colombia']
Costa_Rica = WB_Net_ODA_Received_Per_Capita_USDollars['Costa Rica']
Cuba = WB_Net_ODA_Received_Per_Capita_USDollars['Cuba']
Dominican_Republic = WB_Net_ODA_Received_Per_Capita_USDollars['Dominican Republic']
Ecuador = WB_Net_ODA_Received_Per_Capita_USDollars['Ecuador']
El_Salvador = WB_Net_ODA_Received_Per_Capita_USDollars['El Salvador']
Guatemala = WB_Net_ODA_Received_Per_Capita_USDollars['Guatemala']
Honduras = WB_Net_ODA_Received_Per_Capita_USDollars['Honduras']
Mexico = WB_Net_ODA_Received_Per_Capita_USDollars['Mexico']
Nicaragua = WB_Net_ODA_Received_Per_Capita_USDollars['Nicaragua']
Panama = WB_Net_ODA_Received_Per_Capita_USDollars['Panama']
Paraguay = WB_Net_ODA_Received_Per_Capita_USDollars['Paraguay']
Peru = WB_Net_ODA_Received_Per_Capita_USDollars['Peru']
Uruguay = WB_Net_ODA_Received_Per_Capita_USDollars['Uruguay']
Venezuela = WB_Net_ODA_Received_Per_Capita_USDollars['Venezuela, RB']

# creating a series of the variable pooled by country 
WB_Net_ODA_Received_Per_Capita_USDollars = pd.concat([Argentina, Bolivia, Brazil, Chile, Colombia, Costa_Rica, Cuba, Dominican_Republic, Ecuador, El_Salvador, Guatemala, Honduras, Mexico, Nicaragua, Panama, Paraguay, Peru, Uruguay, Venezuela], ignore_index=True,  axis=0, sort=False)
WB_Net_ODA_Received_Per_Capita_USDollars

# adding the concatenated series to the main state capture dataframe
# adding wgi_PoliticalStability_Violence variable to the dataframe 
state_capture_database['WB_Net_ODA_Received_Per_Capita_USDollars'] = WB_Net_ODA_Received_Per_Capita_USDollars
state_capture_database

,country,year,wgi_VoiceAndAccountability,wgi_PoliticalStability_Violence,wgi_GovernmentEffectiveness,wgi_RegulatoryQuality,wgi_ControlOfCorruption,wgi_RuleofLaw,WB_RuralPopulation,WB_ForestArea_Percent_of_LandArea,WB_AgriculturalLand_Percent_of_LandArea,WB_Rural_Population_Percent_of_Total_Pop,WB_Net_ODA_Received_Percent_of_GNI,WB_Net_ODA_Received_Per_Capita_USDollars
0,Argentina,1996.0,0.391903,0.112986,0.165690,0.518067,-0.101317,0.075553,4100563.0,12.463377,46.823718,11.634,0.045918,3.473832
1,Argentina,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,4077785.0,12.396654,46.857700,11.436,0.034629,2.783711
2,Argentina,1998.0,0.308850,-0.131970,0.376485,0.570877,-0.113424,-0.005769,4053893.0,12.329931,46.892414,11.241,0.025369,2.050830
3,Argentina,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,4028898.0,12.263208,46.922377,11.048,0.029841,2.259015
4,Argentina,2000.0,0.418347,0.099359,0.032177,0.257245,-0.192119,-0.149923,4003431.0,12.196486,46.958187,10.858,0.026950,2.022197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Venezuela,2017.0,-1.207137,-1.272082,-1.423879,-1.976389,-1.370064,-2.236806,3474491.0,52.636676,24.375035,11.817,NaN,2.953832
490,Venezuela,2018.0,-1.434810,-1.351146,-1.584651,-2.363184,-1.466074,-2.322770,3406369.0,52.534165,24.375035,11.792,NaN,5.158355
491,Venezuela,2019.0,-1.428393,-1.536778,-1.658469,-2.359256,-1.486213,-2.320636,3353461.0,52.459611,NaN,11.760,NaN,9.112132
492,Venezuela,2020.0,-1.506591,-1.517866,-1.780275,-2.234419,-1.560315,-2.346105,3332977.0,52.413015,NaN,11.721,NaN,10.916114
493,Venezuela,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,3351303.0,NaN,NaN,11.675,NaN,NaN

# **13.WB_Net_ODA_Received_USD**

In [58]:
fname = "https://api.worldbank.org/v2/en/indicator/DT.ODA.ODAT.CD?downloadformat=excel"
WB_Net_ODA_Received_USD = pd.read_excel(fname, skiprows=3)
WB_Net_ODA_Received_USD.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,Net official development assistance received (...,DT.ODA.ODAT.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Net official development assistance received (...,DT.ODA.ODAT.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.622688e+10,2.920757e+10,2.590026e+10,2.549711e+10,2.506915e+10,2.788161e+10,2.752549e+10,3.020291e+10,NaN,NaN
2,Afghanistan,AFG,Net official development assistance received (...,DT.ODA.ODAT.CD,1.718000e+07,3.467000e+07,1.693000e+07,3.667000e+07,4.617000e+07,5.393000e+07,...,6.666320e+09,5.152540e+09,4.938020e+09,4.271660e+09,4.069380e+09,3.811700e+09,3.791420e+09,4.137620e+09,4.206660e+09,NaN

In [59]:

# dropping useless column names 
WB_Net_ODA_Received_USD = WB_Net_ODA_Received_USD.drop(labels=['Country Code', 'Indicator Name', 'Indicator Code'], axis=1)



# getting only the Latin American countries that we want out of all countries in world 

WB_Net_ODA_Received_USD = WB_Net_ODA_Received_USD.set_index('Country Name')

WB_Net_ODA_Received_USD = WB_Net_ODA_Received_USD.loc[countries]

# resetting index 
WB_Net_ODA_Received_USD = WB_Net_ODA_Received_USD.reset_index(level=None, drop=True, inplace=False, col_level=0, col_fill='index')

WB_Net_ODA_Received_USD = WB_Net_ODA_Received_USD.T

# renaming the columns 
WB_Net_ODA_Received_USD.columns = countries

WB_Net_ODA_Received_USD = WB_Net_ODA_Received_USD.reset_index().rename(columns={'index': 'Year'})
# changing the year column to type 'int' to boolean index the temporal period
WB_Net_ODA_Received_USD['Year'] = WB_Net_ODA_Received_USD['Year'].astype(int)


# getting only the temporal period 1996 to 2020

time1 = WB_Net_ODA_Received_USD['Year'] >= 1996
time2 = WB_Net_ODA_Received_USD['Year'] <= 2021
timeperiod = time1 & time2

# doing the boolean index to get time period 1996 to 2020 and resetting index and dropping old column called index that serves no purpose
WB_Net_ODA_Received_USD = WB_Net_ODA_Received_USD[timeperiod].reset_index().drop(columns='index')
WB_Net_ODA_Received_USD


# creating series of the individual country variable data to concat vertically 
Argentina = WB_Net_ODA_Received_USD['Argentina']
Bolivia = WB_Net_ODA_Received_USD['Bolivia']
Brazil = WB_Net_ODA_Received_USD['Brazil']
Chile = WB_Net_ODA_Received_USD['Chile']
Colombia = WB_Net_ODA_Received_USD['Colombia']
Costa_Rica = WB_Net_ODA_Received_USD['Costa Rica']
Cuba = WB_Net_ODA_Received_USD['Cuba']
Dominican_Republic = WB_Net_ODA_Received_USD['Dominican Republic']
Ecuador = WB_Net_ODA_Received_USD['Ecuador']
El_Salvador = WB_Net_ODA_Received_USD['El Salvador']
Guatemala = WB_Net_ODA_Received_USD['Guatemala']
Honduras = WB_Net_ODA_Received_USD['Honduras']
Mexico = WB_Net_ODA_Received_USD['Mexico']
Nicaragua = WB_Net_ODA_Received_USD['Nicaragua']
Panama = WB_Net_ODA_Received_USD['Panama']
Paraguay = WB_Net_ODA_Received_USD['Paraguay']
Peru = WB_Net_ODA_Received_USD['Peru']
Uruguay = WB_Net_ODA_Received_USD['Uruguay']
Venezuela = WB_Net_ODA_Received_USD['Venezuela, RB']

# creating a series of the variable pooled by country 
WB_Net_ODA_Received_USD = pd.concat([Argentina, Bolivia, Brazil, Chile, Colombia, Costa_Rica, Cuba, Dominican_Republic, Ecuador, El_Salvador, Guatemala, Honduras, Mexico, Nicaragua, Panama, Paraguay, Peru, Uruguay, Venezuela], ignore_index=True,  axis=0, sort=False)
WB_Net_ODA_Received_USD

# adding the concatenated series to the main state capture dataframe
# adding wgi_PoliticalStability_Violence variable to the dataframe 
state_capture_database['WB_Net_ODA_Received_USD'] = WB_Net_ODA_Received_USD
state_capture_database

,country,year,wgi_VoiceAndAccountability,wgi_PoliticalStability_Violence,wgi_GovernmentEffectiveness,wgi_RegulatoryQuality,wgi_ControlOfCorruption,wgi_RuleofLaw,WB_RuralPopulation,WB_ForestArea_Percent_of_LandArea,WB_AgriculturalLand_Percent_of_LandArea,WB_Rural_Population_Percent_of_Total_Pop,WB_Net_ODA_Received_Percent_of_GNI,WB_Net_ODA_Received_Per_Capita_USDollars,WB_Net_ODA_Received_USD
0,Argentina,1996.0,0.391903,0.112986,0.165690,0.518067,-0.101317,0.075553,4100563.0,12.463377,46.823718,11.634,0.045918,3.473832,1.224400e+08
1,Argentina,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,4077785.0,12.396654,46.857700,11.436,0.034629,2.783711,9.926000e+07
2,Argentina,1998.0,0.308850,-0.131970,0.376485,0.570877,-0.113424,-0.005769,4053893.0,12.329931,46.892414,11.241,0.025369,2.050830,7.396000e+07
3,Argentina,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,4028898.0,12.263208,46.922377,11.048,0.029841,2.259015,8.238000e+07
4,Argentina,2000.0,0.418347,0.099359,0.032177,0.257245,-0.192119,-0.149923,4003431.0,12.196486,46.958187,10.858,0.026950,2.022197,7.456000e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Venezuela,2017.0,-1.207137,-1.272082,-1.423879,-1.976389,-1.370064,-2.236806,3474491.0,52.636676,24.375035,11.817,NaN,2.953832,8.685000e+07
490,Venezuela,2018.0,-1.434810,-1.351146,-1.584651,-2.363184,-1.466074,-2.322770,3406369.0,52.534165,24.375035,11.792,NaN,5.158355,1.490100e+08
491,Venezuela,2019.0,-1.428393,-1.536778,-1.658469,-2.359256,-1.486213,-2.320636,3353461.0,52.459611,NaN,11.760,NaN,9.112132,2.598400e+08
492,Venezuela,2020.0,-1.506591,-1.517866,-1.780275,-2.234419,-1.560315,-2.346105,3332977.0,52.413015,NaN,11.721,NaN,10.916114,3.104100e+08
493,Venezuela,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,3351303.0,NaN,NaN,11.675,NaN,NaN,NaN

# **14. WB_Net_FDI_Inflows_Percent_of_GDP**

In [60]:
fname = "https://api.worldbank.org/v2/en/indicator/BX.KLT.DINV.WD.GD.ZS?downloadformat=excel"
WB_Net_FDI_Inflows_Percent_of_GDP = pd.read_excel(fname, skiprows=3)
WB_Net_FDI_Inflows_Percent_of_GDP.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,-12.033753,8.298275,8.979311,-0.971131,0.923362,5.254015,4.244573,-2.272667,6.572318,NaN
1,Africa Eastern and Southern,AFE,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.535381,2.190644,2.760357,3.119325,1.893654,0.983708,1.367465,1.389270,1.366106,NaN
2,Afghanistan,AFG,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.285441,0.239801,0.209665,0.884001,0.516606,0.274797,0.661572,0.124496,0.064476,NaN

In [61]:

# dropping useless column names 
WB_Net_FDI_Inflows_Percent_of_GDP = WB_Net_FDI_Inflows_Percent_of_GDP.drop(labels=['Country Code', 'Indicator Name', 'Indicator Code'], axis=1)



# getting only the Latin American countries that we want out of all countries in world 

WB_Net_FDI_Inflows_Percent_of_GDP = WB_Net_FDI_Inflows_Percent_of_GDP.set_index('Country Name')

WB_Net_FDI_Inflows_Percent_of_GDP = WB_Net_FDI_Inflows_Percent_of_GDP.loc[countries]

# resetting index 
WB_Net_FDI_Inflows_Percent_of_GDP = WB_Net_FDI_Inflows_Percent_of_GDP.reset_index(level=None, drop=True, inplace=False, col_level=0, col_fill='index')

WB_Net_FDI_Inflows_Percent_of_GDP = WB_Net_FDI_Inflows_Percent_of_GDP.T

# renaming the columns 
WB_Net_FDI_Inflows_Percent_of_GDP.columns = countries

WB_Net_FDI_Inflows_Percent_of_GDP = WB_Net_FDI_Inflows_Percent_of_GDP.reset_index().rename(columns={'index': 'Year'})
# changing the year column to type 'int' to boolean index the temporal period
WB_Net_FDI_Inflows_Percent_of_GDP['Year'] = WB_Net_FDI_Inflows_Percent_of_GDP['Year'].astype(int)


# getting only the temporal period 1996 to 2020

time1 = WB_Net_FDI_Inflows_Percent_of_GDP['Year'] >= 1996
time2 = WB_Net_FDI_Inflows_Percent_of_GDP['Year'] <= 2021
timeperiod = time1 & time2

# doing the boolean index to get time period 1996 to 2020 and resetting index and dropping old column called index that serves no purpose
WB_Net_FDI_Inflows_Percent_of_GDP = WB_Net_FDI_Inflows_Percent_of_GDP[timeperiod].reset_index().drop(columns='index')
WB_Net_FDI_Inflows_Percent_of_GDP


# creating series of the individual country variable data to concat vertically 
Argentina = WB_Net_FDI_Inflows_Percent_of_GDP['Argentina']
Bolivia = WB_Net_FDI_Inflows_Percent_of_GDP['Bolivia']
Brazil = WB_Net_FDI_Inflows_Percent_of_GDP['Brazil']
Chile = WB_Net_FDI_Inflows_Percent_of_GDP['Chile']
Colombia = WB_Net_FDI_Inflows_Percent_of_GDP['Colombia']
Costa_Rica = WB_Net_FDI_Inflows_Percent_of_GDP['Costa Rica']
Cuba = WB_Net_FDI_Inflows_Percent_of_GDP['Cuba']
Dominican_Republic = WB_Net_FDI_Inflows_Percent_of_GDP['Dominican Republic']
Ecuador = WB_Net_FDI_Inflows_Percent_of_GDP['Ecuador']
El_Salvador = WB_Net_FDI_Inflows_Percent_of_GDP['El Salvador']
Guatemala = WB_Net_FDI_Inflows_Percent_of_GDP['Guatemala']
Honduras = WB_Net_FDI_Inflows_Percent_of_GDP['Honduras']
Mexico = WB_Net_FDI_Inflows_Percent_of_GDP['Mexico']
Nicaragua = WB_Net_FDI_Inflows_Percent_of_GDP['Nicaragua']
Panama = WB_Net_FDI_Inflows_Percent_of_GDP['Panama']
Paraguay = WB_Net_FDI_Inflows_Percent_of_GDP['Paraguay']
Peru = WB_Net_FDI_Inflows_Percent_of_GDP['Peru']
Uruguay = WB_Net_FDI_Inflows_Percent_of_GDP['Uruguay']
Venezuela = WB_Net_FDI_Inflows_Percent_of_GDP['Venezuela, RB']

# creating a series of the variable pooled by country 
WB_Net_FDI_Inflows_Percent_of_GDP = pd.concat([Argentina, Bolivia, Brazil, Chile, Colombia, Costa_Rica, Cuba, Dominican_Republic, Ecuador, El_Salvador, Guatemala, Honduras, Mexico, Nicaragua, Panama, Paraguay, Peru, Uruguay, Venezuela], ignore_index=True,  axis=0, sort=False)
WB_Net_FDI_Inflows_Percent_of_GDP

# adding the concatenated series to the main state capture dataframe
# adding wgi_PoliticalStability_Violence variable to the dataframe 
state_capture_database['WB_Net_FDI_Inflows_Percent_of_GDP'] = WB_Net_FDI_Inflows_Percent_of_GDP
state_capture_database

,country,year,wgi_VoiceAndAccountability,wgi_PoliticalStability_Violence,wgi_GovernmentEffectiveness,wgi_RegulatoryQuality,wgi_ControlOfCorruption,wgi_RuleofLaw,WB_RuralPopulation,WB_ForestArea_Percent_of_LandArea,WB_AgriculturalLand_Percent_of_LandArea,WB_Rural_Population_Percent_of_Total_Pop,WB_Net_ODA_Received_Percent_of_GNI,WB_Net_ODA_Received_Per_Capita_USDollars,WB_Net_ODA_Received_USD,WB_Net_FDI_Inflows_Percent_of_GDP
0,Argentina,1996.0,0.391903,0.112986,0.165690,0.518067,-0.101317,0.075553,4100563.0,12.463377,46.823718,11.634,0.045918,3.473832,1.224400e+08,2.553203
1,Argentina,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,4077785.0,12.396654,46.857700,11.436,0.034629,2.783711,9.926000e+07,3.127878
2,Argentina,1998.0,0.308850,-0.131970,0.376485,0.570877,-0.113424,-0.005769,4053893.0,12.329931,46.892414,11.241,0.025369,2.050830,7.396000e+07,2.438769
3,Argentina,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,4028898.0,12.263208,46.922377,11.048,0.029841,2.259015,8.238000e+07,8.460582
4,Argentina,2000.0,0.418347,0.099359,0.032177,0.257245,-0.192119,-0.149923,4003431.0,12.196486,46.958187,10.858,0.026950,2.022197,7.456000e+07,3.665791
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Venezuela,2017.0,-1.207137,-1.272082,-1.423879,-1.976389,-1.370064,-2.236806,3474491.0,52.636676,24.375035,11.817,NaN,2.953832,8.685000e+07,NaN
490,Venezuela,2018.0,-1.434810,-1.351146,-1.584651,-2.363184,-1.466074,-2.322770,3406369.0,52.534165,24.375035,11.792,NaN,5.158355,1.490100e+08,NaN
491,Venezuela,2019.0,-1.428393,-1.536778,-1.658469,-2.359256,-1.486213,-2.320636,3353461.0,52.459611,NaN,11.760,NaN,9.112132,2.598400e+08,NaN
492,Venezuela,2020.0,-1.506591,-1.517866,-1.780275,-2.234419,-1.560315,-2.346105,3332977.0,52.413015,NaN,11.721,NaN,10.916114,3.104100e+08,NaN
493,Venezuela,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,3351303.0,NaN,NaN,11.675,NaN,NaN,NaN,NaN

# **15.WB_Total_Population**

In [62]:
fname = "https://api.worldbank.org/v2/en/indicator/SP.POP.TOTL?downloadformat=excel"
WB_Total_Population = pd.read_excel(fname, skiprows=3)
WB_Total_Population.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54208.0,55434.0,56234.0,56699.0,57029.0,57357.0,...,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,106766.0,107195.0
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130836765.0,134159786.0,137614644.0,141202036.0,144920186.0,148769974.0,...,547482863.0,562601578.0,578075373.0,593871847.0,609978946.0,626392880.0,643090131.0,660046272.0,677243299.0,694665117.0
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996967.0,9169406.0,9351442.0,9543200.0,9744772.0,9956318.0,...,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,38928341.0,39835428.0

In [63]:

# dropping useless column names 
WB_Total_Population = WB_Total_Population.drop(labels=['Country Code', 'Indicator Name', 'Indicator Code'], axis=1)



# getting only the Latin American countries that we want out of all countries in world 

WB_Total_Population = WB_Total_Population.set_index('Country Name')

WB_Total_Population = WB_Total_Population.loc[countries]

# resetting index 
WB_Total_Population = WB_Total_Population.reset_index(level=None, drop=True, inplace=False, col_level=0, col_fill='index')

WB_Total_Population = WB_Total_Population.T

# renaming the columns 
WB_Total_Population.columns = countries

WB_Total_Population = WB_Total_Population.reset_index().rename(columns={'index': 'Year'})
# changing the year column to type 'int' to boolean index the temporal period
WB_Total_Population['Year'] = WB_Total_Population['Year'].astype(int)


# getting only the temporal period 1996 to 2020

time1 = WB_Total_Population['Year'] >= 1996
time2 = WB_Total_Population['Year'] <= 2021
timeperiod = time1 & time2

# doing the boolean index to get time period 1996 to 2020 and resetting index and dropping old column called index that serves no purpose
WB_Total_Population = WB_Total_Population[timeperiod].reset_index().drop(columns='index')
WB_Total_Population


# creating series of the individual country variable data to concat vertically 
Argentina = WB_Total_Population['Argentina']
Bolivia = WB_Total_Population['Bolivia']
Brazil = WB_Total_Population['Brazil']
Chile = WB_Total_Population['Chile']
Colombia = WB_Total_Population['Colombia']
Costa_Rica = WB_Total_Population['Costa Rica']
Cuba = WB_Total_Population['Cuba']
Dominican_Republic = WB_Total_Population['Dominican Republic']
Ecuador = WB_Total_Population['Ecuador']
El_Salvador = WB_Total_Population['El Salvador']
Guatemala = WB_Total_Population['Guatemala']
Honduras = WB_Total_Population['Honduras']
Mexico = WB_Total_Population['Mexico']
Nicaragua = WB_Total_Population['Nicaragua']
Panama = WB_Total_Population['Panama']
Paraguay = WB_Total_Population['Paraguay']
Peru = WB_Total_Population['Peru']
Uruguay = WB_Total_Population['Uruguay']
Venezuela = WB_Total_Population['Venezuela, RB']

# creating a series of the variable pooled by country 
WB_Total_Population = pd.concat([Argentina, Bolivia, Brazil, Chile, Colombia, Costa_Rica, Cuba, Dominican_Republic, Ecuador, El_Salvador, Guatemala, Honduras, Mexico, Nicaragua, Panama, Paraguay, Peru, Uruguay, Venezuela], ignore_index=True,  axis=0, sort=False)
WB_Total_Population

# adding the concatenated series to the main state capture dataframe
# adding wgi_PoliticalStability_Violence variable to the dataframe 
state_capture_database['WB_Total_Population'] = WB_Total_Population
state_capture_database

,country,year,wgi_VoiceAndAccountability,wgi_PoliticalStability_Violence,wgi_GovernmentEffectiveness,wgi_RegulatoryQuality,wgi_ControlOfCorruption,wgi_RuleofLaw,WB_RuralPopulation,WB_ForestArea_Percent_of_LandArea,WB_AgriculturalLand_Percent_of_LandArea,WB_Rural_Population_Percent_of_Total_Pop,WB_Net_ODA_Received_Percent_of_GNI,WB_Net_ODA_Received_Per_Capita_USDollars,WB_Net_ODA_Received_USD,WB_Net_FDI_Inflows_Percent_of_GDP,WB_Total_Population
0,Argentina,1996.0,0.391903,0.112986,0.165690,0.518067,-0.101317,0.075553,4100563.0,12.463377,46.823718,11.634,0.045918,3.473832,1.224400e+08,2.553203,35246376.0
1,Argentina,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,4077785.0,12.396654,46.857700,11.436,0.034629,2.783711,9.926000e+07,3.127878,35657438.0
2,Argentina,1998.0,0.308850,-0.131970,0.376485,0.570877,-0.113424,-0.005769,4053893.0,12.329931,46.892414,11.241,0.025369,2.050830,7.396000e+07,2.438769,36063451.0
3,Argentina,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,4028898.0,12.263208,46.922377,11.048,0.029841,2.259015,8.238000e+07,8.460582,36467218.0
4,Argentina,2000.0,0.418347,0.099359,0.032177,0.257245,-0.192119,-0.149923,4003431.0,12.196486,46.958187,10.858,0.026950,2.022197,7.456000e+07,3.665791,36870796.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Venezuela,2017.0,-1.207137,-1.272082,-1.423879,-1.976389,-1.370064,-2.236806,3474491.0,52.636676,24.375035,11.817,NaN,2.953832,8.685000e+07,NaN,29402480.0
490,Venezuela,2018.0,-1.434810,-1.351146,-1.584651,-2.363184,-1.466074,-2.322770,3406369.0,52.534165,24.375035,11.792,NaN,5.158355,1.490100e+08,NaN,28887117.0
491,Venezuela,2019.0,-1.428393,-1.536778,-1.658469,-2.359256,-1.486213,-2.320636,3353461.0,52.459611,NaN,11.760,NaN,9.112132,2.598400e+08,NaN,28515829.0
492,Venezuela,2020.0,-1.506591,-1.517866,-1.780275,-2.234419,-1.560315,-2.346105,3332977.0,52.413015,NaN,11.721,NaN,10.916114,3.104100e+08,NaN,28435943.0
493,Venezuela,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,3351303.0,NaN,NaN,11.675,NaN,NaN,NaN,NaN,28704947.0

# **16.WB_Urban_Population_Percent_of_Total_Pop**

In [64]:
fname = "https://api.worldbank.org/v2/en/indicator/SP.URB.TOTL.IN.ZS?downloadformat=excel"
WB_Urban_Population_Percent_of_Total_Pop = pd.read_excel(fname, skiprows=3)
WB_Urban_Population_Percent_of_Total_Pop.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,Urban population (% of total population),SP.URB.TOTL.IN.ZS,50.776000,50.761000,50.746000,50.730000,50.715000,50.700000,...,42.957000,42.990000,43.041000,43.108000,43.192000,43.293000,43.41100,43.546000,43.697000,43.866000
1,Africa Eastern and Southern,AFE,Urban population (% of total population),SP.URB.TOTL.IN.ZS,14.704688,14.944459,15.185608,15.444414,15.719076,16.001992,...,33.071687,33.507548,33.952424,34.405084,34.865101,35.332373,35.80777,36.291322,36.783306,37.283065
2,Afghanistan,AFG,Urban population (% of total population),SP.URB.TOTL.IN.ZS,8.401000,8.684000,8.976000,9.276000,9.586000,9.904000,...,24.160000,24.373000,24.587000,24.803000,25.020000,25.250000,25.49500,25.754000,26.026000,26.314000

In [65]:

# dropping useless column names 
WB_Urban_Population_Percent_of_Total_Pop = WB_Urban_Population_Percent_of_Total_Pop.drop(labels=['Country Code', 'Indicator Name', 'Indicator Code'], axis=1)



# getting only the Latin American countries that we want out of all countries in world 

WB_Urban_Population_Percent_of_Total_Pop = WB_Urban_Population_Percent_of_Total_Pop.set_index('Country Name')

WB_Urban_Population_Percent_of_Total_Pop = WB_Urban_Population_Percent_of_Total_Pop.loc[countries]

# resetting index 
WB_Urban_Population_Percent_of_Total_Pop = WB_Urban_Population_Percent_of_Total_Pop.reset_index(level=None, drop=True, inplace=False, col_level=0, col_fill='index')

WB_Urban_Population_Percent_of_Total_Pop = WB_Urban_Population_Percent_of_Total_Pop.T

# renaming the columns 
WB_Urban_Population_Percent_of_Total_Pop.columns = countries

WB_Urban_Population_Percent_of_Total_Pop = WB_Urban_Population_Percent_of_Total_Pop.reset_index().rename(columns={'index': 'Year'})
# changing the year column to type 'int' to boolean index the temporal period
WB_Urban_Population_Percent_of_Total_Pop['Year'] = WB_Urban_Population_Percent_of_Total_Pop['Year'].astype(int)


# getting only the temporal period 1996 to 2020

time1 = WB_Urban_Population_Percent_of_Total_Pop['Year'] >= 1996
time2 = WB_Urban_Population_Percent_of_Total_Pop['Year'] <= 2021
timeperiod = time1 & time2

# doing the boolean index to get time period 1996 to 2020 and resetting index and dropping old column called index that serves no purpose
WB_Urban_Population_Percent_of_Total_Pop = WB_Urban_Population_Percent_of_Total_Pop[timeperiod].reset_index().drop(columns='index')
WB_Urban_Population_Percent_of_Total_Pop


# creating series of the individual country variable data to concat vertically 
Argentina = WB_Urban_Population_Percent_of_Total_Pop['Argentina']
Bolivia = WB_Urban_Population_Percent_of_Total_Pop['Bolivia']
Brazil = WB_Urban_Population_Percent_of_Total_Pop['Brazil']
Chile = WB_Urban_Population_Percent_of_Total_Pop['Chile']
Colombia = WB_Urban_Population_Percent_of_Total_Pop['Colombia']
Costa_Rica = WB_Urban_Population_Percent_of_Total_Pop['Costa Rica']
Cuba = WB_Urban_Population_Percent_of_Total_Pop['Cuba']
Dominican_Republic = WB_Urban_Population_Percent_of_Total_Pop['Dominican Republic']
Ecuador = WB_Urban_Population_Percent_of_Total_Pop['Ecuador']
El_Salvador = WB_Urban_Population_Percent_of_Total_Pop['El Salvador']
Guatemala = WB_Urban_Population_Percent_of_Total_Pop['Guatemala']
Honduras = WB_Urban_Population_Percent_of_Total_Pop['Honduras']
Mexico = WB_Urban_Population_Percent_of_Total_Pop['Mexico']
Nicaragua = WB_Urban_Population_Percent_of_Total_Pop['Nicaragua']
Panama = WB_Urban_Population_Percent_of_Total_Pop['Panama']
Paraguay = WB_Urban_Population_Percent_of_Total_Pop['Paraguay']
Peru = WB_Urban_Population_Percent_of_Total_Pop['Peru']
Uruguay = WB_Urban_Population_Percent_of_Total_Pop['Uruguay']
Venezuela = WB_Urban_Population_Percent_of_Total_Pop['Venezuela, RB']

# creating a series of the variable pooled by country 
WB_Urban_Population_Percent_of_Total_Pop = pd.concat([Argentina, Bolivia, Brazil, Chile, Colombia, Costa_Rica, Cuba, Dominican_Republic, Ecuador, El_Salvador, Guatemala, Honduras, Mexico, Nicaragua, Panama, Paraguay, Peru, Uruguay, Venezuela], ignore_index=True,  axis=0, sort=False)
WB_Urban_Population_Percent_of_Total_Pop

# adding the concatenated series to the main state capture dataframe
# adding wgi_PoliticalStability_Violence variable to the dataframe 
state_capture_database['WB_Urban_Population_Percent_of_Total_Pop'] = WB_Urban_Population_Percent_of_Total_Pop
state_capture_database

,country,year,wgi_VoiceAndAccountability,wgi_PoliticalStability_Violence,wgi_GovernmentEffectiveness,wgi_RegulatoryQuality,wgi_ControlOfCorruption,wgi_RuleofLaw,WB_RuralPopulation,WB_ForestArea_Percent_of_LandArea,WB_AgriculturalLand_Percent_of_LandArea,WB_Rural_Population_Percent_of_Total_Pop,WB_Net_ODA_Received_Percent_of_GNI,WB_Net_ODA_Received_Per_Capita_USDollars,WB_Net_ODA_Received_USD,WB_Net_FDI_Inflows_Percent_of_GDP,WB_Total_Population,WB_Urban_Population_Percent_of_Total_Pop
0,Argentina,1996.0,0.391903,0.112986,0.165690,0.518067,-0.101317,0.075553,4100563.0,12.463377,46.823718,11.634,0.045918,3.473832,1.224400e+08,2.553203,35246376.0,88.366
1,Argentina,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,4077785.0,12.396654,46.857700,11.436,0.034629,2.783711,9.926000e+07,3.127878,35657438.0,88.564
2,Argentina,1998.0,0.308850,-0.131970,0.376485,0.570877,-0.113424,-0.005769,4053893.0,12.329931,46.892414,11.241,0.025369,2.050830,7.396000e+07,2.438769,36063451.0,88.759
3,Argentina,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,4028898.0,12.263208,46.922377,11.048,0.029841,2.259015,8.238000e+07,8.460582,36467218.0,88.952
4,Argentina,2000.0,0.418347,0.099359,0.032177,0.257245,-0.192119,-0.149923,4003431.0,12.196486,46.958187,10.858,0.026950,2.022197,7.456000e+07,3.665791,36870796.0,89.142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Venezuela,2017.0,-1.207137,-1.272082,-1.423879,-1.976389,-1.370064,-2.236806,3474491.0,52.636676,24.375035,11.817,NaN,2.953832,8.685000e+07,NaN,29402480.0,88.183
490,Venezuela,2018.0,-1.434810,-1.351146,-1.584651,-2.363184,-1.466074,-2.322770,3406369.0,52.534165,24.375035,11.792,NaN,5.158355,1.490100e+08,NaN,28887117.0,88.208
491,Venezuela,2019.0,-1.428393,-1.536778,-1.658469,-2.359256,-1.486213,-2.320636,3353461.0,52.459611,NaN,11.760,NaN,9.112132,2.598400e+08,NaN,28515829.0,88.240
492,Venezuela,2020.0,-1.506591,-1.517866,-1.780275,-2.234419,-1.560315,-2.346105,3332977.0,52.413015,NaN,11.721,NaN,10.916114,3.104100e+08,NaN,28435943.0,88.279
493,Venezuela,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,3351303.0,NaN,NaN,11.675,NaN,NaN,NaN,NaN,28704947.0,88.325

# **17.WB_FDI_Net_Inflows_USD**

In [66]:
fname = "https://api.worldbank.org/v2/en/indicator/BX.KLT.DINV.CD.WD?downloadformat=excel"
WB_Net_FDI_Inflows_USD = pd.read_excel(fname, skiprows=3)
WB_Net_FDI_Inflows_USD.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,"Foreign direct investment, net inflows (BoP, c...",BX.KLT.DINV.CD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,-3.146927e+08,2.263714e+08,2.506181e+08,-2.877586e+07,2.755127e+07,1.624636e+08,1.359212e+08,-7.522654e+07,1.640876e+08,NaN
1,Africa Eastern and Southern,AFE,"Foreign direct investment, net inflows (BoP, c...",BX.KLT.DINV.CD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.463634e+10,2.153424e+10,2.768142e+10,2.877423e+10,1.663278e+10,1.003544e+10,1.359147e+10,1.382234e+10,1.257987e+10,NaN
2,Afghanistan,AFG,"Foreign direct investment, net inflows (BoP, c...",BX.KLT.DINV.CD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.682366e+07,4.831135e+07,4.297526e+07,1.691466e+08,9.359132e+07,5.153390e+07,1.194351e+08,2.340455e+07,1.297015e+07,NaN

In [67]:

# dropping useless column names 
WB_Net_FDI_Inflows_USD = WB_Net_FDI_Inflows_USD.drop(labels=['Country Code', 'Indicator Name', 'Indicator Code'], axis=1)



# getting only the Latin American countries that we want out of all countries in world 

WB_Net_FDI_Inflows_USD = WB_Net_FDI_Inflows_USD.set_index('Country Name')

WB_Net_FDI_Inflows_USD = WB_Net_FDI_Inflows_USD.loc[countries]

# resetting index 
WB_Net_FDI_Inflows_USD = WB_Net_FDI_Inflows_USD.reset_index(level=None, drop=True, inplace=False, col_level=0, col_fill='index')

WB_Net_FDI_Inflows_USD = WB_Net_FDI_Inflows_USD.T

# renaming the columns 
WB_Net_FDI_Inflows_USD.columns = countries

WB_Net_FDI_Inflows_USD = WB_Net_FDI_Inflows_USD.reset_index().rename(columns={'index': 'Year'})
# changing the year column to type 'int' to boolean index the temporal period
WB_Net_FDI_Inflows_USD['Year'] = WB_Net_FDI_Inflows_USD['Year'].astype(int)


# getting only the temporal period 1996 to 2020

time1 = WB_Net_FDI_Inflows_USD['Year'] >= 1996
time2 = WB_Net_FDI_Inflows_USD['Year'] <= 2021
timeperiod = time1 & time2

# doing the boolean index to get time period 1996 to 2020 and resetting index and dropping old column called index that serves no purpose
WB_Net_FDI_Inflows_USD = WB_Net_FDI_Inflows_USD[timeperiod].reset_index().drop(columns='index')
WB_Net_FDI_Inflows_USD


# creating series of the individual country variable data to concat vertically 
Argentina = WB_Net_FDI_Inflows_USD['Argentina']
Bolivia = WB_Net_FDI_Inflows_USD['Bolivia']
Brazil = WB_Net_FDI_Inflows_USD['Brazil']
Chile = WB_Net_FDI_Inflows_USD['Chile']
Colombia = WB_Net_FDI_Inflows_USD['Colombia']
Costa_Rica = WB_Net_FDI_Inflows_USD['Costa Rica']
Cuba = WB_Net_FDI_Inflows_USD['Cuba']
Dominican_Republic = WB_Net_FDI_Inflows_USD['Dominican Republic']
Ecuador = WB_Net_FDI_Inflows_USD['Ecuador']
El_Salvador = WB_Net_FDI_Inflows_USD['El Salvador']
Guatemala = WB_Net_FDI_Inflows_USD['Guatemala']
Honduras = WB_Net_FDI_Inflows_USD['Honduras']
Mexico = WB_Net_FDI_Inflows_USD['Mexico']
Nicaragua = WB_Net_FDI_Inflows_USD['Nicaragua']
Panama = WB_Net_FDI_Inflows_USD['Panama']
Paraguay = WB_Net_FDI_Inflows_USD['Paraguay']
Peru = WB_Net_FDI_Inflows_USD['Peru']
Uruguay = WB_Net_FDI_Inflows_USD['Uruguay']
Venezuela = WB_Net_FDI_Inflows_USD['Venezuela, RB']

# creating a series of the variable pooled by country 
WB_Net_FDI_Inflows_USD = pd.concat([Argentina, Bolivia, Brazil, Chile, Colombia, Costa_Rica, Cuba, Dominican_Republic, Ecuador, El_Salvador, Guatemala, Honduras, Mexico, Nicaragua, Panama, Paraguay, Peru, Uruguay, Venezuela], ignore_index=True,  axis=0, sort=False)
WB_Net_FDI_Inflows_USD

# adding the concatenated series to the main state capture dataframe
# adding wgi_PoliticalStability_Violence variable to the dataframe 
state_capture_database['WB_Net_FDI_Inflows_USD'] = WB_Net_FDI_Inflows_USD
state_capture_database

,country,year,wgi_VoiceAndAccountability,wgi_PoliticalStability_Violence,wgi_GovernmentEffectiveness,wgi_RegulatoryQuality,wgi_ControlOfCorruption,wgi_RuleofLaw,WB_RuralPopulation,WB_ForestArea_Percent_of_LandArea,WB_AgriculturalLand_Percent_of_LandArea,WB_Rural_Population_Percent_of_Total_Pop,WB_Net_ODA_Received_Percent_of_GNI,WB_Net_ODA_Received_Per_Capita_USDollars,WB_Net_ODA_Received_USD,WB_Net_FDI_Inflows_Percent_of_GDP,WB_Total_Population,WB_Urban_Population_Percent_of_Total_Pop,WB_Net_FDI_Inflows_USD
0,Argentina,1996.0,0.391903,0.112986,0.165690,0.518067,-0.101317,0.075553,4100563.0,12.463377,46.823718,11.634,0.045918,3.473832,1.224400e+08,2.553203,35246376.0,88.366,6.948537e+09
1,Argentina,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,4077785.0,12.396654,46.857700,11.436,0.034629,2.783711,9.926000e+07,3.127878,35657438.0,88.564,9.160272e+09
2,Argentina,1998.0,0.308850,-0.131970,0.376485,0.570877,-0.113424,-0.005769,4053893.0,12.329931,46.892414,11.241,0.025369,2.050830,7.396000e+07,2.438769,36063451.0,88.759,7.290657e+09
3,Argentina,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,4028898.0,12.263208,46.922377,11.048,0.029841,2.259015,8.238000e+07,8.460582,36467218.0,88.952,2.398770e+10
4,Argentina,2000.0,0.418347,0.099359,0.032177,0.257245,-0.192119,-0.149923,4003431.0,12.196486,46.958187,10.858,0.026950,2.022197,7.456000e+07,3.665791,36870796.0,89.142,1.041831e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Venezuela,2017.0,-1.207137,-1.272082,-1.423879,-1.976389,-1.370064,-2.236806,3474491.0,52.636676,24.375035,11.817,NaN,2.953832,8.685000e+07,NaN,29402480.0,88.183,-6.800000e+07
490,Venezuela,2018.0,-1.434810,-1.351146,-1.584651,-2.363184,-1.466074,-2.322770,3406369.0,52.534165,24.375035,11.792,NaN,5.158355,1.490100e+08,NaN,28887117.0,88.208,8.860000e+08
491,Venezuela,2019.0,-1.428393,-1.536778,-1.658469,-2.359256,-1.486213,-2.320636,3353461.0,52.459611,NaN,11.760,NaN,9.112132,2.598400e+08,NaN,28515829.0,88.240,9.340000e+08
492,Venezuela,2020.0,-1.506591,-1.517866,-1.780275,-2.234419,-1.560315,-2.346105,3332977.0,52.413015,NaN,11.721,NaN,10.916114,3.104100e+08,NaN,28435943.0,88.279,9.586667e+08
493,Venezuela,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,3351303.0,NaN,NaN,11.675,NaN,NaN,NaN,NaN,28704947.0,88.325,NaN

# **18.WB_GDP_Growth_Annual_Percentage**

In [68]:
fname = "https://api.worldbank.org/v2/en/indicator/NY.GDP.MKTP.KD.ZG?downloadformat=excel"
WB_GDP_Growth_Annual_Percentage = pd.read_excel(fname, skiprows=3)
WB_GDP_Growth_Annual_Percentage.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.035375,6.429817,-0.020479,3.543630,2.116716,5.482371,1.267218,-2.085600,-22.318948,NaN
1,Africa Eastern and Southern,AFE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,0.239594,7.980768,5.164334,4.579952,5.327717,...,0.923067,4.200209,3.984387,2.952845,2.217017,2.557135,2.485244,2.025941,-2.886856,4.303667
2,Afghanistan,AFG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,12.752287,5.600745,2.724543,1.451315,2.260314,2.647003,1.189228,3.911603,-2.351101,NaN

In [69]:

# dropping useless column names 
WB_GDP_Growth_Annual_Percentage = WB_GDP_Growth_Annual_Percentage.drop(labels=['Country Code', 'Indicator Name', 'Indicator Code'], axis=1)



# getting only the Latin American countries that we want out of all countries in world 

WB_GDP_Growth_Annual_Percentage = WB_GDP_Growth_Annual_Percentage.set_index('Country Name')

WB_GDP_Growth_Annual_Percentage = WB_GDP_Growth_Annual_Percentage.loc[countries]

# resetting index 
WB_GDP_Growth_Annual_Percentage = WB_GDP_Growth_Annual_Percentage.reset_index(level=None, drop=True, inplace=False, col_level=0, col_fill='index')

WB_GDP_Growth_Annual_Percentage = WB_GDP_Growth_Annual_Percentage.T

# renaming the columns 
WB_GDP_Growth_Annual_Percentage.columns = countries

WB_GDP_Growth_Annual_Percentage = WB_GDP_Growth_Annual_Percentage.reset_index().rename(columns={'index': 'Year'})
# changing the year column to type 'int' to boolean index the temporal period
WB_GDP_Growth_Annual_Percentage['Year'] = WB_GDP_Growth_Annual_Percentage['Year'].astype(int)


# getting only the temporal period 1996 to 2020

time1 = WB_GDP_Growth_Annual_Percentage['Year'] >= 1996
time2 = WB_GDP_Growth_Annual_Percentage['Year'] <= 2021
timeperiod = time1 & time2

# doing the boolean index to get time period 1996 to 2020 and resetting index and dropping old column called index that serves no purpose
WB_GDP_Growth_Annual_Percentage = WB_GDP_Growth_Annual_Percentage[timeperiod].reset_index().drop(columns='index')
WB_GDP_Growth_Annual_Percentage


# creating series of the individual country variable data to concat vertically 
Argentina = WB_GDP_Growth_Annual_Percentage['Argentina']
Bolivia = WB_GDP_Growth_Annual_Percentage['Bolivia']
Brazil = WB_GDP_Growth_Annual_Percentage['Brazil']
Chile = WB_GDP_Growth_Annual_Percentage['Chile']
Colombia = WB_GDP_Growth_Annual_Percentage['Colombia']
Costa_Rica = WB_GDP_Growth_Annual_Percentage['Costa Rica']
Cuba = WB_GDP_Growth_Annual_Percentage['Cuba']
Dominican_Republic = WB_GDP_Growth_Annual_Percentage['Dominican Republic']
Ecuador = WB_GDP_Growth_Annual_Percentage['Ecuador']
El_Salvador = WB_GDP_Growth_Annual_Percentage['El Salvador']
Guatemala = WB_GDP_Growth_Annual_Percentage['Guatemala']
Honduras = WB_GDP_Growth_Annual_Percentage['Honduras']
Mexico = WB_GDP_Growth_Annual_Percentage['Mexico']
Nicaragua = WB_GDP_Growth_Annual_Percentage['Nicaragua']
Panama = WB_GDP_Growth_Annual_Percentage['Panama']
Paraguay = WB_GDP_Growth_Annual_Percentage['Paraguay']
Peru = WB_GDP_Growth_Annual_Percentage['Peru']
Uruguay = WB_GDP_Growth_Annual_Percentage['Uruguay']
Venezuela = WB_GDP_Growth_Annual_Percentage['Venezuela, RB']

# creating a series of the variable pooled by country 
WB_GDP_Growth_Annual_Percentage = pd.concat([Argentina, Bolivia, Brazil, Chile, Colombia, Costa_Rica, Cuba, Dominican_Republic, Ecuador, El_Salvador, Guatemala, Honduras, Mexico, Nicaragua, Panama, Paraguay, Peru, Uruguay, Venezuela], ignore_index=True,  axis=0, sort=False)
WB_GDP_Growth_Annual_Percentage

# adding the concatenated series to the main state capture dataframe
# adding wgi_PoliticalStability_Violence variable to the dataframe 
state_capture_database['WB_GDP_Growth_Annual_Percentage'] = WB_GDP_Growth_Annual_Percentage
state_capture_database

,country,year,wgi_VoiceAndAccountability,wgi_PoliticalStability_Violence,wgi_GovernmentEffectiveness,wgi_RegulatoryQuality,wgi_ControlOfCorruption,wgi_RuleofLaw,WB_RuralPopulation,WB_ForestArea_Percent_of_LandArea,WB_AgriculturalLand_Percent_of_LandArea,WB_Rural_Population_Percent_of_Total_Pop,WB_Net_ODA_Received_Percent_of_GNI,WB_Net_ODA_Received_Per_Capita_USDollars,WB_Net_ODA_Received_USD,WB_Net_FDI_Inflows_Percent_of_GDP,WB_Total_Population,WB_Urban_Population_Percent_of_Total_Pop,WB_Net_FDI_Inflows_USD,WB_GDP_Growth_Annual_Percentage
0,Argentina,1996.0,0.391903,0.112986,0.165690,0.518067,-0.101317,0.075553,4100563.0,12.463377,46.823718,11.634,0.045918,3.473832,1.224400e+08,2.553203,35246376.0,88.366,6.948537e+09,5.526690
1,Argentina,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,4077785.0,12.396654,46.857700,11.436,0.034629,2.783711,9.926000e+07,3.127878,35657438.0,88.564,9.160272e+09,8.111047
2,Argentina,1998.0,0.308850,-0.131970,0.376485,0.570877,-0.113424,-0.005769,4053893.0,12.329931,46.892414,11.241,0.025369,2.050830,7.396000e+07,2.438769,36063451.0,88.759,7.290657e+09,3.850179
3,Argentina,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,4028898.0,12.263208,46.922377,11.048,0.029841,2.259015,8.238000e+07,8.460582,36467218.0,88.952,2.398770e+10,-3.385457
4,Argentina,2000.0,0.418347,0.099359,0.032177,0.257245,-0.192119,-0.149923,4003431.0,12.196486,46.958187,10.858,0.026950,2.022197,7.456000e+07,3.665791,36870796.0,89.142,1.041831e+10,-0.788999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Venezuela,2017.0,-1.207137,-1.272082,-1.423879,-1.976389,-1.370064,-2.236806,3474491.0,52.636676,24.375035,11.817,NaN,2.953832,8.685000e+07,NaN,29402480.0,88.183,-6.800000e+07,NaN
490,Venezuela,2018.0,-1.434810,-1.351146,-1.584651,-2.363184,-1.466074,-2.322770,3406369.0,52.534165,24.375035,11.792,NaN,5.158355,1.490100e+08,NaN,28887117.0,88.208,8.860000e+08,NaN
491,Venezuela,2019.0,-1.428393,-1.536778,-1.658469,-2.359256,-1.486213,-2.320636,3353461.0,52.459611,NaN,11.760,NaN,9.112132,2.598400e+08,NaN,28515829.0,88.240,9.340000e+08,NaN
492,Venezuela,2020.0,-1.506591,-1.517866,-1.780275,-2.234419,-1.560315,-2.346105,3332977.0,52.413015,NaN,11.721,NaN,10.916114,3.104100e+08,NaN,28435943.0,88.279,9.586667e+08,NaN
493,Venezuela,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,3351303.0,NaN,NaN,11.675,NaN,NaN,NaN,NaN,28704947.0,88.325,NaN,NaN

# **19.WB_GDPPC_Growth_Annual_Percentage**

In [70]:
fname = "https://api.worldbank.org/v2/en/indicator/NY.GDP.PCAP.KD.ZG?downloadformat=excel"
WB_GDPPC_Growth_Annual_Percentage = pd.read_excel(fname, skiprows=3)
WB_GDPPC_Growth_Annual_Percentage.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.532297,5.810829,-0.609127,2.984921,1.604501,4.985800,0.803198,-2.512957,-22.650725,NaN
1,Africa Eastern and Southern,AFE,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,NaN,-2.243254,5.269877,2.492519,1.896793,2.602103,...,-1.790869,1.400051,1.200956,0.214389,-0.482125,-0.130261,-0.175692,-0.595037,-5.352819,1.687789
2,Afghanistan,AFG,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,8.974865,1.974166,-0.665291,-1.622857,-0.541416,0.064764,-1.194900,1.535637,-4.575032,NaN

In [71]:

# dropping useless column names 
WB_GDPPC_Growth_Annual_Percentage = WB_GDPPC_Growth_Annual_Percentage.drop(labels=['Country Code', 'Indicator Name', 'Indicator Code'], axis=1)



# getting only the Latin American countries that we want out of all countries in world 

WB_GDPPC_Growth_Annual_Percentage = WB_GDPPC_Growth_Annual_Percentage.set_index('Country Name')

WB_GDPPC_Growth_Annual_Percentage = WB_GDPPC_Growth_Annual_Percentage.loc[countries]

# resetting index 
WB_GDPPC_Growth_Annual_Percentage = WB_GDPPC_Growth_Annual_Percentage.reset_index(level=None, drop=True, inplace=False, col_level=0, col_fill='index')

WB_GDPPC_Growth_Annual_Percentage = WB_GDPPC_Growth_Annual_Percentage.T

# renaming the columns 
WB_GDPPC_Growth_Annual_Percentage.columns = countries

WB_GDPPC_Growth_Annual_Percentage = WB_GDPPC_Growth_Annual_Percentage.reset_index().rename(columns={'index': 'Year'})
# changing the year column to type 'int' to boolean index the temporal period
WB_GDPPC_Growth_Annual_Percentage['Year'] = WB_GDPPC_Growth_Annual_Percentage['Year'].astype(int)


# getting only the temporal period 1996 to 2020

time1 = WB_GDPPC_Growth_Annual_Percentage['Year'] >= 1996
time2 = WB_GDPPC_Growth_Annual_Percentage['Year'] <= 2021
timeperiod = time1 & time2

# doing the boolean index to get time period 1996 to 2020 and resetting index and dropping old column called index that serves no purpose
WB_GDPPC_Growth_Annual_Percentage = WB_GDPPC_Growth_Annual_Percentage[timeperiod].reset_index().drop(columns='index')
WB_GDPPC_Growth_Annual_Percentage


# creating series of the individual country variable data to concat vertically 
Argentina = WB_GDPPC_Growth_Annual_Percentage['Argentina']
Bolivia = WB_GDPPC_Growth_Annual_Percentage['Bolivia']
Brazil = WB_GDPPC_Growth_Annual_Percentage['Brazil']
Chile = WB_GDPPC_Growth_Annual_Percentage['Chile']
Colombia = WB_GDPPC_Growth_Annual_Percentage['Colombia']
Costa_Rica = WB_GDPPC_Growth_Annual_Percentage['Costa Rica']
Cuba = WB_GDPPC_Growth_Annual_Percentage['Cuba']
Dominican_Republic = WB_GDPPC_Growth_Annual_Percentage['Dominican Republic']
Ecuador = WB_GDPPC_Growth_Annual_Percentage['Ecuador']
El_Salvador = WB_GDPPC_Growth_Annual_Percentage['El Salvador']
Guatemala = WB_GDPPC_Growth_Annual_Percentage['Guatemala']
Honduras = WB_GDPPC_Growth_Annual_Percentage['Honduras']
Mexico = WB_GDPPC_Growth_Annual_Percentage['Mexico']
Nicaragua = WB_GDPPC_Growth_Annual_Percentage['Nicaragua']
Panama = WB_GDPPC_Growth_Annual_Percentage['Panama']
Paraguay = WB_GDPPC_Growth_Annual_Percentage['Paraguay']
Peru = WB_GDPPC_Growth_Annual_Percentage['Peru']
Uruguay = WB_GDPPC_Growth_Annual_Percentage['Uruguay']
Venezuela = WB_GDPPC_Growth_Annual_Percentage['Venezuela, RB']

# creating a series of the variable pooled by country 
WB_GDPPC_Growth_Annual_Percentage = pd.concat([Argentina, Bolivia, Brazil, Chile, Colombia, Costa_Rica, Cuba, Dominican_Republic, Ecuador, El_Salvador, Guatemala, Honduras, Mexico, Nicaragua, Panama, Paraguay, Peru, Uruguay, Venezuela], ignore_index=True,  axis=0, sort=False)
WB_GDPPC_Growth_Annual_Percentage

# adding the concatenated series to the main state capture dataframe
# adding wgi_PoliticalStability_Violence variable to the dataframe 
state_capture_database['WB_GDPPC_Growth_Annual_Percentage'] = WB_GDPPC_Growth_Annual_Percentage
state_capture_database

,country,year,wgi_VoiceAndAccountability,wgi_PoliticalStability_Violence,wgi_GovernmentEffectiveness,wgi_RegulatoryQuality,wgi_ControlOfCorruption,wgi_RuleofLaw,WB_RuralPopulation,WB_ForestArea_Percent_of_LandArea,...,WB_Rural_Population_Percent_of_Total_Pop,WB_Net_ODA_Received_Percent_of_GNI,WB_Net_ODA_Received_Per_Capita_USDollars,WB_Net_ODA_Received_USD,WB_Net_FDI_Inflows_Percent_of_GDP,WB_Total_Population,WB_Urban_Population_Percent_of_Total_Pop,WB_Net_FDI_Inflows_USD,WB_GDP_Growth_Annual_Percentage,WB_GDPPC_Growth_Annual_Percentage
0,Argentina,1996.0,0.391903,0.112986,0.165690,0.518067,-0.101317,0.075553,4100563.0,12.463377,...,11.634,0.045918,3.473832,1.224400e+08,2.553203,35246376.0,88.366,6.948537e+09,5.526690,4.274586
1,Argentina,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,4077785.0,12.396654,...,11.436,0.034629,2.783711,9.926000e+07,3.127878,35657438.0,88.564,9.160272e+09,8.111047,6.864733
2,Argentina,1998.0,0.308850,-0.131970,0.376485,0.570877,-0.113424,-0.005769,4053893.0,12.329931,...,11.241,0.025369,2.050830,7.396000e+07,2.438769,36063451.0,88.759,7.290657e+09,3.850179,2.681003
3,Argentina,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,4028898.0,12.263208,...,11.048,0.029841,2.259015,8.238000e+07,8.460582,36467218.0,88.952,2.398770e+10,-3.385457,-4.455178
4,Argentina,2000.0,0.418347,0.099359,0.032177,0.257245,-0.192119,-0.149923,4003431.0,12.196486,...,10.858,0.026950,2.022197,7.456000e+07,3.665791,36870796.0,89.142,1.041831e+10,-0.788999,-1.874936
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Venezuela,2017.0,-1.207137,-1.272082,-1.423879,-1.976389,-1.370064,-2.236806,3474491.0,52.636676,...,11.817,NaN,2.953832,8.685000e+07,NaN,29402480.0,88.183,-6.800000e+07,NaN,NaN
490,Venezuela,2018.0,-1.434810,-1.351146,-1.584651,-2.363184,-1.466074,-2.322770,3406369.0,52.534165,...,11.792,NaN,5.158355,1.490100e+08,NaN,28887117.0,88.208,8.860000e+08,NaN,NaN
491,Venezuela,2019.0,-1.428393,-1.536778,-1.658469,-2.359256,-1.486213,-2.320636,3353461.0,52.459611,...,11.760,NaN,9.112132,2.598400e+08,NaN,28515829.0,88.240,9.340000e+08,NaN,NaN
492,Venezuela,2020.0,-1.506591,-1.517866,-1.780275,-2.234419,-1.560315,-2.346105,3332977.0,52.413015,...,11.721,NaN,10.916114,3.104100e+08,NaN,28435943.0,88.279,9.586667e+08,NaN,NaN
493,Venezuela,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,3351303.0,NaN,...,11.675,NaN,NaN,NaN,NaN,28704947.0,88.325,NaN,NaN,NaN

# **20.WB_Inflation_Consumer_Prices_Annual_Percent**

In [72]:
fname = "https://api.worldbank.org/v2/en/indicator/FP.CPI.TOTL.ZG?downloadformat=excel"
WB_Inflation_Consumer_Prices_Annual_Percent = pd.read_excel(fname, skiprows=3)
WB_Inflation_Consumer_Prices_Annual_Percent.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,0.627472,-2.372065,0.421441,0.474764,-0.931196,-1.028282,3.626041,4.257462,NaN,NaN
1,Africa Eastern and Southern,AFE,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,9.158707,5.750981,5.370290,5.250171,6.571396,6.399343,4.720811,4.120246,5.404815,7.240978
2,Afghanistan,AFG,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,6.441213,7.385772,4.673996,-0.661709,4.383892,4.975952,0.626149,2.302373,NaN,NaN

In [73]:

# dropping useless column names 
WB_Inflation_Consumer_Prices_Annual_Percent = WB_Inflation_Consumer_Prices_Annual_Percent.drop(labels=['Country Code', 'Indicator Name', 'Indicator Code'], axis=1)



# getting only the Latin American countries that we want out of all countries in world 

WB_Inflation_Consumer_Prices_Annual_Percent = WB_Inflation_Consumer_Prices_Annual_Percent.set_index('Country Name')

WB_Inflation_Consumer_Prices_Annual_Percent = WB_Inflation_Consumer_Prices_Annual_Percent.loc[countries]

# resetting index 
WB_Inflation_Consumer_Prices_Annual_Percent = WB_Inflation_Consumer_Prices_Annual_Percent.reset_index(level=None, drop=True, inplace=False, col_level=0, col_fill='index')

WB_Inflation_Consumer_Prices_Annual_Percent = WB_Inflation_Consumer_Prices_Annual_Percent.T

# renaming the columns 
WB_Inflation_Consumer_Prices_Annual_Percent.columns = countries

WB_Inflation_Consumer_Prices_Annual_Percent = WB_Inflation_Consumer_Prices_Annual_Percent.reset_index().rename(columns={'index': 'Year'})
# changing the year column to type 'int' to boolean index the temporal period
WB_Inflation_Consumer_Prices_Annual_Percent['Year'] = WB_Inflation_Consumer_Prices_Annual_Percent['Year'].astype(int)


# getting only the temporal period 1996 to 2020

time1 = WB_Inflation_Consumer_Prices_Annual_Percent['Year'] >= 1996
time2 = WB_Inflation_Consumer_Prices_Annual_Percent['Year'] <= 2021
timeperiod = time1 & time2

# doing the boolean index to get time period 1996 to 2020 and resetting index and dropping old column called index that serves no purpose
WB_Inflation_Consumer_Prices_Annual_Percent = WB_Inflation_Consumer_Prices_Annual_Percent[timeperiod].reset_index().drop(columns='index')
WB_Inflation_Consumer_Prices_Annual_Percent


# creating series of the individual country variable data to concat vertically 
Argentina = WB_Inflation_Consumer_Prices_Annual_Percent['Argentina']
Bolivia = WB_Inflation_Consumer_Prices_Annual_Percent['Bolivia']
Brazil = WB_Inflation_Consumer_Prices_Annual_Percent['Brazil']
Chile = WB_Inflation_Consumer_Prices_Annual_Percent['Chile']
Colombia = WB_Inflation_Consumer_Prices_Annual_Percent['Colombia']
Costa_Rica = WB_Inflation_Consumer_Prices_Annual_Percent['Costa Rica']
Cuba = WB_Inflation_Consumer_Prices_Annual_Percent['Cuba']
Dominican_Republic = WB_Inflation_Consumer_Prices_Annual_Percent['Dominican Republic']
Ecuador = WB_Inflation_Consumer_Prices_Annual_Percent['Ecuador']
El_Salvador = WB_Inflation_Consumer_Prices_Annual_Percent['El Salvador']
Guatemala = WB_Inflation_Consumer_Prices_Annual_Percent['Guatemala']
Honduras = WB_Inflation_Consumer_Prices_Annual_Percent['Honduras']
Mexico = WB_Inflation_Consumer_Prices_Annual_Percent['Mexico']
Nicaragua = WB_Inflation_Consumer_Prices_Annual_Percent['Nicaragua']
Panama = WB_Inflation_Consumer_Prices_Annual_Percent['Panama']
Paraguay = WB_Inflation_Consumer_Prices_Annual_Percent['Paraguay']
Peru = WB_Inflation_Consumer_Prices_Annual_Percent['Peru']
Uruguay = WB_Inflation_Consumer_Prices_Annual_Percent['Uruguay']
Venezuela = WB_Inflation_Consumer_Prices_Annual_Percent['Venezuela, RB']

# creating a series of the variable pooled by country 
WB_Inflation_Consumer_Prices_Annual_Percent = pd.concat([Argentina, Bolivia, Brazil, Chile, Colombia, Costa_Rica, Cuba, Dominican_Republic, Ecuador, El_Salvador, Guatemala, Honduras, Mexico, Nicaragua, Panama, Paraguay, Peru, Uruguay, Venezuela], ignore_index=True,  axis=0, sort=False)
WB_Inflation_Consumer_Prices_Annual_Percent

# adding the concatenated series to the main state capture dataframe
# adding wgi_PoliticalStability_Violence variable to the dataframe 
state_capture_database['WB_Inflation_Consumer_Prices_Annual_Percent'] = WB_Inflation_Consumer_Prices_Annual_Percent
state_capture_database

,country,year,wgi_VoiceAndAccountability,wgi_PoliticalStability_Violence,wgi_GovernmentEffectiveness,wgi_RegulatoryQuality,wgi_ControlOfCorruption,wgi_RuleofLaw,WB_RuralPopulation,WB_ForestArea_Percent_of_LandArea,...,WB_Net_ODA_Received_Percent_of_GNI,WB_Net_ODA_Received_Per_Capita_USDollars,WB_Net_ODA_Received_USD,WB_Net_FDI_Inflows_Percent_of_GDP,WB_Total_Population,WB_Urban_Population_Percent_of_Total_Pop,WB_Net_FDI_Inflows_USD,WB_GDP_Growth_Annual_Percentage,WB_GDPPC_Growth_Annual_Percentage,WB_Inflation_Consumer_Prices_Annual_Percent
0,Argentina,1996.0,0.391903,0.112986,0.165690,0.518067,-0.101317,0.075553,4100563.0,12.463377,...,0.045918,3.473832,1.224400e+08,2.553203,35246376.0,88.366,6.948537e+09,5.526690,4.274586,NaN
1,Argentina,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,4077785.0,12.396654,...,0.034629,2.783711,9.926000e+07,3.127878,35657438.0,88.564,9.160272e+09,8.111047,6.864733,NaN
2,Argentina,1998.0,0.308850,-0.131970,0.376485,0.570877,-0.113424,-0.005769,4053893.0,12.329931,...,0.025369,2.050830,7.396000e+07,2.438769,36063451.0,88.759,7.290657e+09,3.850179,2.681003,NaN
3,Argentina,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,4028898.0,12.263208,...,0.029841,2.259015,8.238000e+07,8.460582,36467218.0,88.952,2.398770e+10,-3.385457,-4.455178,NaN
4,Argentina,2000.0,0.418347,0.099359,0.032177,0.257245,-0.192119,-0.149923,4003431.0,12.196486,...,0.026950,2.022197,7.456000e+07,3.665791,36870796.0,89.142,1.041831e+10,-0.788999,-1.874936,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Venezuela,2017.0,-1.207137,-1.272082,-1.423879,-1.976389,-1.370064,-2.236806,3474491.0,52.636676,...,NaN,2.953832,8.685000e+07,NaN,29402480.0,88.183,-6.800000e+07,NaN,NaN,NaN
490,Venezuela,2018.0,-1.434810,-1.351146,-1.584651,-2.363184,-1.466074,-2.322770,3406369.0,52.534165,...,NaN,5.158355,1.490100e+08,NaN,28887117.0,88.208,8.860000e+08,NaN,NaN,NaN
491,Venezuela,2019.0,-1.428393,-1.536778,-1.658469,-2.359256,-1.486213,-2.320636,3353461.0,52.459611,...,NaN,9.112132,2.598400e+08,NaN,28515829.0,88.240,9.340000e+08,NaN,NaN,NaN
492,Venezuela,2020.0,-1.506591,-1.517866,-1.780275,-2.234419,-1.560315,-2.346105,3332977.0,52.413015,...,NaN,10.916114,3.104100e+08,NaN,28435943.0,88.279,9.586667e+08,NaN,NaN,NaN
493,Venezuela,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,3351303.0,NaN,...,NaN,NaN,NaN,NaN,28704947.0,88.325,NaN,NaN,NaN,NaN

# **21.WB_Total_Reserves_USD**

In [74]:
fname = "https://api.worldbank.org/v2/en/indicator/FI.RES.TOTL.CD?downloadformat=excel"
WB_Total_Reserves_USD = pd.read_excel(fname, skiprows=3)
WB_Total_Reserves_USD.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,"Total reserves (includes gold, current US$)",FI.RES.TOTL.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7.686223e+08,6.531707e+08,6.803510e+08,8.158006e+08,9.225509e+08,9.071115e+08,9.802477e+08,9.823000e+08,1.212579e+09,1.512960e+09
1,Africa Eastern and Southern,AFE,"Total reserves (includes gold, current US$)",FI.RES.TOTL.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,"Total reserves (includes gold, current US$)",FI.RES.TOTL.CD,50690800.0,42444500.0,40592100.0,45547800.0,44619680.0,45434560.0,...,7.152304e+09,7.288703e+09,7.528550e+09,6.976966e+09,7.281911e+09,8.097281e+09,8.206682e+09,8.497656e+09,9.748946e+09,NaN

In [75]:

# dropping useless column names 
WB_Total_Reserves_USD = WB_Total_Reserves_USD.drop(labels=['Country Code', 'Indicator Name', 'Indicator Code'], axis=1)



# getting only the Latin American countries that we want out of all countries in world 

WB_Total_Reserves_USD = WB_Total_Reserves_USD.set_index('Country Name')

WB_Total_Reserves_USD = WB_Total_Reserves_USD.loc[countries]

# resetting index 
WB_Total_Reserves_USD = WB_Total_Reserves_USD.reset_index(level=None, drop=True, inplace=False, col_level=0, col_fill='index')

WB_Total_Reserves_USD = WB_Total_Reserves_USD.T

# renaming the columns 
WB_Total_Reserves_USD.columns = countries

WB_Total_Reserves_USD = WB_Total_Reserves_USD.reset_index().rename(columns={'index': 'Year'})
# changing the year column to type 'int' to boolean index the temporal period
WB_Total_Reserves_USD['Year'] = WB_Total_Reserves_USD['Year'].astype(int)


# getting only the temporal period 1996 to 2020

time1 = WB_Total_Reserves_USD['Year'] >= 1996
time2 = WB_Total_Reserves_USD['Year'] <= 2021
timeperiod = time1 & time2

# doing the boolean index to get time period 1996 to 2020 and resetting index and dropping old column called index that serves no purpose
WB_Total_Reserves_USD = WB_Total_Reserves_USD[timeperiod].reset_index().drop(columns='index')
WB_Total_Reserves_USD


# creating series of the individual country variable data to concat vertically 
Argentina = WB_Total_Reserves_USD['Argentina']
Bolivia = WB_Total_Reserves_USD['Bolivia']
Brazil = WB_Total_Reserves_USD['Brazil']
Chile = WB_Total_Reserves_USD['Chile']
Colombia = WB_Total_Reserves_USD['Colombia']
Costa_Rica = WB_Total_Reserves_USD['Costa Rica']
Cuba = WB_Total_Reserves_USD['Cuba']
Dominican_Republic = WB_Total_Reserves_USD['Dominican Republic']
Ecuador = WB_Total_Reserves_USD['Ecuador']
El_Salvador = WB_Total_Reserves_USD['El Salvador']
Guatemala = WB_Total_Reserves_USD['Guatemala']
Honduras = WB_Total_Reserves_USD['Honduras']
Mexico = WB_Total_Reserves_USD['Mexico']
Nicaragua = WB_Total_Reserves_USD['Nicaragua']
Panama = WB_Total_Reserves_USD['Panama']
Paraguay = WB_Total_Reserves_USD['Paraguay']
Peru = WB_Total_Reserves_USD['Peru']
Uruguay = WB_Total_Reserves_USD['Uruguay']
Venezuela = WB_Total_Reserves_USD['Venezuela, RB']

# creating a series of the variable pooled by country 
WB_Total_Reserves_USD = pd.concat([Argentina, Bolivia, Brazil, Chile, Colombia, Costa_Rica, Cuba, Dominican_Republic, Ecuador, El_Salvador, Guatemala, Honduras, Mexico, Nicaragua, Panama, Paraguay, Peru, Uruguay, Venezuela], ignore_index=True,  axis=0, sort=False)
WB_Total_Reserves_USD

# adding the concatenated series to the main state capture dataframe
# adding wgi_PoliticalStability_Violence variable to the dataframe 
state_capture_database['WB_Total_Reserves_USD'] = WB_Total_Reserves_USD
state_capture_database

,country,year,wgi_VoiceAndAccountability,wgi_PoliticalStability_Violence,wgi_GovernmentEffectiveness,wgi_RegulatoryQuality,wgi_ControlOfCorruption,wgi_RuleofLaw,WB_RuralPopulation,WB_ForestArea_Percent_of_LandArea,...,WB_Net_ODA_Received_Per_Capita_USDollars,WB_Net_ODA_Received_USD,WB_Net_FDI_Inflows_Percent_of_GDP,WB_Total_Population,WB_Urban_Population_Percent_of_Total_Pop,WB_Net_FDI_Inflows_USD,WB_GDP_Growth_Annual_Percentage,WB_GDPPC_Growth_Annual_Percentage,WB_Inflation_Consumer_Prices_Annual_Percent,WB_Total_Reserves_USD
0,Argentina,1996.0,0.391903,0.112986,0.165690,0.518067,-0.101317,0.075553,4100563.0,12.463377,...,3.473832,1.224400e+08,2.553203,35246376.0,88.366,6.948537e+09,5.526690,4.274586,NaN,1.971902e+10
1,Argentina,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,4077785.0,12.396654,...,2.783711,9.926000e+07,3.127878,35657438.0,88.564,9.160272e+09,8.111047,6.864733,NaN,2.242460e+10
2,Argentina,1998.0,0.308850,-0.131970,0.376485,0.570877,-0.113424,-0.005769,4053893.0,12.329931,...,2.050830,7.396000e+07,2.438769,36063451.0,88.759,7.290657e+09,3.850179,2.681003,NaN,2.485574e+10
3,Argentina,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,4028898.0,12.263208,...,2.259015,8.238000e+07,8.460582,36467218.0,88.952,2.398770e+10,-3.385457,-4.455178,NaN,2.635016e+10
4,Argentina,2000.0,0.418347,0.099359,0.032177,0.257245,-0.192119,-0.149923,4003431.0,12.196486,...,2.022197,7.456000e+07,3.665791,36870796.0,89.142,1.041831e+10,-0.788999,-1.874936,NaN,2.515212e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Venezuela,2017.0,-1.207137,-1.272082,-1.423879,-1.976389,-1.370064,-2.236806,3474491.0,52.636676,...,2.953832,8.685000e+07,NaN,29402480.0,88.183,-6.800000e+07,NaN,NaN,NaN,9.794062e+09
490,Venezuela,2018.0,-1.434810,-1.351146,-1.584651,-2.363184,-1.466074,-2.322770,3406369.0,52.534165,...,5.158355,1.490100e+08,NaN,28887117.0,88.208,8.860000e+08,NaN,NaN,NaN,NaN
491,Venezuela,2019.0,-1.428393,-1.536778,-1.658469,-2.359256,-1.486213,-2.320636,3353461.0,52.459611,...,9.112132,2.598400e+08,NaN,28515829.0,88.240,9.340000e+08,NaN,NaN,NaN,NaN
492,Venezuela,2020.0,-1.506591,-1.517866,-1.780275,-2.234419,-1.560315,-2.346105,3332977.0,52.413015,...,10.916114,3.104100e+08,NaN,28435943.0,88.279,9.586667e+08,NaN,NaN,NaN,NaN
493,Venezuela,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,3351303.0,NaN,...,NaN,NaN,NaN,28704947.0,88.325,NaN,NaN,NaN,NaN,NaN

# **22.WB_GDP_USD**

In [76]:
fname = "https://api.worldbank.org/v2/en/indicator/NY.GDP.MKTP.CD?downloadformat=excel"
WB_GDP_USD = pd.read_excel(fname, skiprows=3)
WB_GDP_USD.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.615084e+09,2.727933e+09,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.202235e+09,3.310056e+09,2.496648e+09,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.129059e+10,2.180847e+10,2.370702e+10,2.821004e+10,2.611879e+10,2.968217e+10,...,9.730435e+11,9.839370e+11,1.003679e+12,9.242525e+11,8.823551e+11,1.020647e+12,9.910223e+11,9.975340e+11,9.216459e+11,1.082096e+12
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.990732e+10,2.014640e+10,2.049713e+10,1.913421e+10,1.811656e+10,1.875347e+10,1.805323e+10,1.879945e+10,2.011614e+10,NaN

In [77]:

# dropping useless column names 
WB_GDP_USD = WB_GDP_USD.drop(labels=['Country Code', 'Indicator Name', 'Indicator Code'], axis=1)



# getting only the Latin American countries that we want out of all countries in world 

WB_GDP_USD = WB_GDP_USD.set_index('Country Name')

WB_GDP_USD = WB_GDP_USD.loc[countries]

# resetting index 
WB_GDP_USD = WB_GDP_USD.reset_index(level=None, drop=True, inplace=False, col_level=0, col_fill='index')

WB_GDP_USD = WB_GDP_USD.T

# renaming the columns 
WB_GDP_USD.columns = countries

WB_GDP_USD = WB_GDP_USD.reset_index().rename(columns={'index': 'Year'})
# changing the year column to type 'int' to boolean index the temporal period
WB_GDP_USD['Year'] = WB_GDP_USD['Year'].astype(int)


# getting only the temporal period 1996 to 2020

time1 = WB_GDP_USD['Year'] >= 1996
time2 = WB_GDP_USD['Year'] <= 2021
timeperiod = time1 & time2

# doing the boolean index to get time period 1996 to 2020 and resetting index and dropping old column called index that serves no purpose
WB_GDP_USD = WB_GDP_USD[timeperiod].reset_index().drop(columns='index')
WB_GDP_USD


# creating series of the individual country variable data to concat vertically 
Argentina = WB_GDP_USD['Argentina']
Bolivia = WB_GDP_USD['Bolivia']
Brazil = WB_GDP_USD['Brazil']
Chile = WB_GDP_USD['Chile']
Colombia = WB_GDP_USD['Colombia']
Costa_Rica = WB_GDP_USD['Costa Rica']
Cuba = WB_GDP_USD['Cuba']
Dominican_Republic = WB_GDP_USD['Dominican Republic']
Ecuador = WB_GDP_USD['Ecuador']
El_Salvador = WB_GDP_USD['El Salvador']
Guatemala = WB_GDP_USD['Guatemala']
Honduras = WB_GDP_USD['Honduras']
Mexico = WB_GDP_USD['Mexico']
Nicaragua = WB_GDP_USD['Nicaragua']
Panama = WB_GDP_USD['Panama']
Paraguay = WB_GDP_USD['Paraguay']
Peru = WB_GDP_USD['Peru']
Uruguay = WB_GDP_USD['Uruguay']
Venezuela = WB_GDP_USD['Venezuela, RB']

# creating a series of the variable pooled by country 
WB_GDP_USD = pd.concat([Argentina, Bolivia, Brazil, Chile, Colombia, Costa_Rica, Cuba, Dominican_Republic, Ecuador, El_Salvador, Guatemala, Honduras, Mexico, Nicaragua, Panama, Paraguay, Peru, Uruguay, Venezuela], ignore_index=True,  axis=0, sort=False)
WB_GDP_USD

# adding the concatenated series to the main state capture dataframe
# adding wgi_PoliticalStability_Violence variable to the dataframe 
state_capture_database['WB_GDP_USD'] = WB_GDP_USD
state_capture_database

,country,year,wgi_VoiceAndAccountability,wgi_PoliticalStability_Violence,wgi_GovernmentEffectiveness,wgi_RegulatoryQuality,wgi_ControlOfCorruption,wgi_RuleofLaw,WB_RuralPopulation,WB_ForestArea_Percent_of_LandArea,...,WB_Net_ODA_Received_USD,WB_Net_FDI_Inflows_Percent_of_GDP,WB_Total_Population,WB_Urban_Population_Percent_of_Total_Pop,WB_Net_FDI_Inflows_USD,WB_GDP_Growth_Annual_Percentage,WB_GDPPC_Growth_Annual_Percentage,WB_Inflation_Consumer_Prices_Annual_Percent,WB_Total_Reserves_USD,WB_GDP_USD
0,Argentina,1996.0,0.391903,0.112986,0.165690,0.518067,-0.101317,0.075553,4100563.0,12.463377,...,1.224400e+08,2.553203,35246376.0,88.366,6.948537e+09,5.526690,4.274586,NaN,1.971902e+10,2.721498e+11
1,Argentina,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,4077785.0,12.396654,...,9.926000e+07,3.127878,35657438.0,88.564,9.160272e+09,8.111047,6.864733,NaN,2.242460e+10,2.928590e+11
2,Argentina,1998.0,0.308850,-0.131970,0.376485,0.570877,-0.113424,-0.005769,4053893.0,12.329931,...,7.396000e+07,2.438769,36063451.0,88.759,7.290657e+09,3.850179,2.681003,NaN,2.485574e+10,2.989482e+11
3,Argentina,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,4028898.0,12.263208,...,8.238000e+07,8.460582,36467218.0,88.952,2.398770e+10,-3.385457,-4.455178,NaN,2.635016e+10,2.835230e+11
4,Argentina,2000.0,0.418347,0.099359,0.032177,0.257245,-0.192119,-0.149923,4003431.0,12.196486,...,7.456000e+07,3.665791,36870796.0,89.142,1.041831e+10,-0.788999,-1.874936,NaN,2.515212e+10,2.842038e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Venezuela,2017.0,-1.207137,-1.272082,-1.423879,-1.976389,-1.370064,-2.236806,3474491.0,52.636676,...,8.685000e+07,NaN,29402480.0,88.183,-6.800000e+07,NaN,NaN,NaN,9.794062e+09,NaN
490,Venezuela,2018.0,-1.434810,-1.351146,-1.584651,-2.363184,-1.466074,-2.322770,3406369.0,52.534165,...,1.490100e+08,NaN,28887117.0,88.208,8.860000e+08,NaN,NaN,NaN,NaN,NaN
491,Venezuela,2019.0,-1.428393,-1.536778,-1.658469,-2.359256,-1.486213,-2.320636,3353461.0,52.459611,...,2.598400e+08,NaN,28515829.0,88.240,9.340000e+08,NaN,NaN,NaN,NaN,NaN
492,Venezuela,2020.0,-1.506591,-1.517866,-1.780275,-2.234419,-1.560315,-2.346105,3332977.0,52.413015,...,3.104100e+08,NaN,28435943.0,88.279,9.586667e+08,NaN,NaN,NaN,NaN,NaN
493,Venezuela,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,3351303.0,NaN,...,NaN,NaN,28704947.0,88.325,NaN,NaN,NaN,NaN,NaN,NaN

# **23.WB_GDPPC_USD**

In [78]:
fname = "https://api.worldbank.org/v2/en/indicator/NY.GDP.PCAP.CD?downloadformat=excel"
WB_GDPPC_USD = pd.read_excel(fname, skiprows=3)
WB_GDPPC_USD.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,25496.843942,26442.426801,26895.057167,28399.050131,28453.715565,29348.418969,30253.714235,31135.884356,23384.298791,NaN
1,Africa Eastern and Southern,AFE,GDP per capita (current US$),NY.GDP.PCAP.CD,162.726325,162.555968,172.271022,199.784916,180.228774,199.517228,...,1777.303950,1748.905594,1736.242220,1556.316469,1446.533624,1629.404273,1541.031661,1511.309259,1360.878645,1557.722682
2,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,59.773234,59.860900,58.458009,78.706429,82.095307,101.108325,...,638.845852,624.315455,614.223342,556.007221,512.012778,516.679862,485.668419,494.179350,516.747871,NaN

In [79]:

# dropping useless column names 
WB_GDPPC_USD = WB_GDPPC_USD.drop(labels=['Country Code', 'Indicator Name', 'Indicator Code'], axis=1)



# getting only the Latin American countries that we want out of all countries in world 

WB_GDPPC_USD = WB_GDPPC_USD.set_index('Country Name')

WB_GDPPC_USD = WB_GDPPC_USD.loc[countries]

# resetting index 
WB_GDPPC_USD = WB_GDPPC_USD.reset_index(level=None, drop=True, inplace=False, col_level=0, col_fill='index')

WB_GDPPC_USD = WB_GDPPC_USD.T

# renaming the columns 
WB_GDPPC_USD.columns = countries

WB_GDPPC_USD = WB_GDPPC_USD.reset_index().rename(columns={'index': 'Year'})
# changing the year column to type 'int' to boolean index the temporal period
WB_GDPPC_USD['Year'] = WB_GDPPC_USD['Year'].astype(int)


# getting only the temporal period 1996 to 2020

time1 = WB_GDPPC_USD['Year'] >= 1996
time2 = WB_GDPPC_USD['Year'] <= 2021
timeperiod = time1 & time2

# doing the boolean index to get time period 1996 to 2020 and resetting index and dropping old column called index that serves no purpose
WB_GDPPC_USD = WB_GDPPC_USD[timeperiod].reset_index().drop(columns='index')
WB_GDPPC_USD


# creating series of the individual country variable data to concat vertically 
Argentina = WB_GDPPC_USD['Argentina']
Bolivia = WB_GDPPC_USD['Bolivia']
Brazil = WB_GDPPC_USD['Brazil']
Chile = WB_GDPPC_USD['Chile']
Colombia = WB_GDPPC_USD['Colombia']
Costa_Rica = WB_GDPPC_USD['Costa Rica']
Cuba = WB_GDPPC_USD['Cuba']
Dominican_Republic = WB_GDPPC_USD['Dominican Republic']
Ecuador = WB_GDPPC_USD['Ecuador']
El_Salvador = WB_GDPPC_USD['El Salvador']
Guatemala = WB_GDPPC_USD['Guatemala']
Honduras = WB_GDPPC_USD['Honduras']
Mexico = WB_GDPPC_USD['Mexico']
Nicaragua = WB_GDPPC_USD['Nicaragua']
Panama = WB_GDPPC_USD['Panama']
Paraguay = WB_GDPPC_USD['Paraguay']
Peru = WB_GDPPC_USD['Peru']
Uruguay = WB_GDPPC_USD['Uruguay']
Venezuela = WB_GDPPC_USD['Venezuela, RB']

# creating a series of the variable pooled by country 
WB_GDPPC_USD = pd.concat([Argentina, Bolivia, Brazil, Chile, Colombia, Costa_Rica, Cuba, Dominican_Republic, Ecuador, El_Salvador, Guatemala, Honduras, Mexico, Nicaragua, Panama, Paraguay, Peru, Uruguay, Venezuela], ignore_index=True,  axis=0, sort=False)
WB_GDPPC_USD

# adding the concatenated series to the main state capture dataframe
# adding wgi_PoliticalStability_Violence variable to the dataframe 
state_capture_database['WB_GDPPC_USD'] = WB_GDPPC_USD
state_capture_database

,country,year,wgi_VoiceAndAccountability,wgi_PoliticalStability_Violence,wgi_GovernmentEffectiveness,wgi_RegulatoryQuality,wgi_ControlOfCorruption,wgi_RuleofLaw,WB_RuralPopulation,WB_ForestArea_Percent_of_LandArea,...,WB_Net_FDI_Inflows_Percent_of_GDP,WB_Total_Population,WB_Urban_Population_Percent_of_Total_Pop,WB_Net_FDI_Inflows_USD,WB_GDP_Growth_Annual_Percentage,WB_GDPPC_Growth_Annual_Percentage,WB_Inflation_Consumer_Prices_Annual_Percent,WB_Total_Reserves_USD,WB_GDP_USD,WB_GDPPC_USD
0,Argentina,1996.0,0.391903,0.112986,0.165690,0.518067,-0.101317,0.075553,4100563.0,12.463377,...,2.553203,35246376.0,88.366,6.948537e+09,5.526690,4.274586,NaN,1.971902e+10,2.721498e+11,7721.354105
1,Argentina,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,4077785.0,12.396654,...,3.127878,35657438.0,88.564,9.160272e+09,8.111047,6.864733,NaN,2.242460e+10,2.928590e+11,8213.125127
2,Argentina,1998.0,0.308850,-0.131970,0.376485,0.570877,-0.113424,-0.005769,4053893.0,12.329931,...,2.438769,36063451.0,88.759,7.290657e+09,3.850179,2.681003,NaN,2.485574e+10,2.989482e+11,8289.507568
3,Argentina,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,4028898.0,12.263208,...,8.460582,36467218.0,88.952,2.398770e+10,-3.385457,-4.455178,NaN,2.635016e+10,2.835230e+11,7774.736203
4,Argentina,2000.0,0.418347,0.099359,0.032177,0.257245,-0.192119,-0.149923,4003431.0,12.196486,...,3.665791,36870796.0,89.142,1.041831e+10,-0.788999,-1.874936,NaN,2.515212e+10,2.842038e+11,7708.099115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Venezuela,2017.0,-1.207137,-1.272082,-1.423879,-1.976389,-1.370064,-2.236806,3474491.0,52.636676,...,NaN,29402480.0,88.183,-6.800000e+07,NaN,NaN,NaN,9.794062e+09,NaN,NaN
490,Venezuela,2018.0,-1.434810,-1.351146,-1.584651,-2.363184,-1.466074,-2.322770,3406369.0,52.534165,...,NaN,28887117.0,88.208,8.860000e+08,NaN,NaN,NaN,NaN,NaN,NaN
491,Venezuela,2019.0,-1.428393,-1.536778,-1.658469,-2.359256,-1.486213,-2.320636,3353461.0,52.459611,...,NaN,28515829.0,88.240,9.340000e+08,NaN,NaN,NaN,NaN,NaN,NaN
492,Venezuela,2020.0,-1.506591,-1.517866,-1.780275,-2.234419,-1.560315,-2.346105,3332977.0,52.413015,...,NaN,28435943.0,88.279,9.586667e+08,NaN,NaN,NaN,NaN,NaN,NaN
493,Venezuela,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,3351303.0,NaN,...,NaN,28704947.0,88.325,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# **24.WB_Inflation_GDP_Deflator_Annual_Percent**

In [80]:
fname = "https://api.worldbank.org/v2/en/indicator/NY.GDP.DEFL.KD.ZG?downloadformat=excel"
WB_Inflation_GDP_Deflator_Annual_Percent = pd.read_excel(fname, skiprows=3)
WB_Inflation_GDP_Deflator_Annual_Percent.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,"Inflation, GDP deflator (annual %)",NY.GDP.DEFL.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,0.168847,-1.986755,2.335109,2.531592,-1.389713,-1.753935,2.263271,5.568805,-2.902756,NaN
1,Africa Eastern and Southern,AFE,"Inflation, GDP deflator (annual %)",NY.GDP.DEFL.KD.ZG,NaN,1.861701,0.979878,3.150053,3.726978,3.569951,...,6.992016,5.844111,5.560736,5.366462,6.400900,5.217431,4.085751,4.387341,4.995507,5.840394
2,Afghanistan,AFG,"Inflation, GDP deflator (annual %)",NY.GDP.DEFL.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,7.301756,4.822785,0.566945,2.447563,-2.197526,2.403656,2.071349,6.521480,7.821667,NaN

In [81]:

# dropping useless column names 
WB_Inflation_GDP_Deflator_Annual_Percent = WB_Inflation_GDP_Deflator_Annual_Percent.drop(labels=['Country Code', 'Indicator Name', 'Indicator Code'], axis=1)



# getting only the Latin American countries that we want out of all countries in world 

WB_Inflation_GDP_Deflator_Annual_Percent = WB_Inflation_GDP_Deflator_Annual_Percent.set_index('Country Name')

WB_Inflation_GDP_Deflator_Annual_Percent = WB_Inflation_GDP_Deflator_Annual_Percent.loc[countries]

# resetting index 
WB_Inflation_GDP_Deflator_Annual_Percent = WB_Inflation_GDP_Deflator_Annual_Percent.reset_index(level=None, drop=True, inplace=False, col_level=0, col_fill='index')

WB_Inflation_GDP_Deflator_Annual_Percent = WB_Inflation_GDP_Deflator_Annual_Percent.T

# renaming the columns 
WB_Inflation_GDP_Deflator_Annual_Percent.columns = countries

WB_Inflation_GDP_Deflator_Annual_Percent = WB_Inflation_GDP_Deflator_Annual_Percent.reset_index().rename(columns={'index': 'Year'})
# changing the year column to type 'int' to boolean index the temporal period
WB_Inflation_GDP_Deflator_Annual_Percent['Year'] = WB_Inflation_GDP_Deflator_Annual_Percent['Year'].astype(int)


# getting only the temporal period 1996 to 2020

time1 = WB_Inflation_GDP_Deflator_Annual_Percent['Year'] >= 1996
time2 = WB_Inflation_GDP_Deflator_Annual_Percent['Year'] <= 2021
timeperiod = time1 & time2

# doing the boolean index to get time period 1996 to 2020 and resetting index and dropping old column called index that serves no purpose
WB_Inflation_GDP_Deflator_Annual_Percent = WB_Inflation_GDP_Deflator_Annual_Percent[timeperiod].reset_index().drop(columns='index')
WB_Inflation_GDP_Deflator_Annual_Percent


# creating series of the individual country variable data to concat vertically 
Argentina = WB_Inflation_GDP_Deflator_Annual_Percent['Argentina']
Bolivia = WB_Inflation_GDP_Deflator_Annual_Percent['Bolivia']
Brazil = WB_Inflation_GDP_Deflator_Annual_Percent['Brazil']
Chile = WB_Inflation_GDP_Deflator_Annual_Percent['Chile']
Colombia = WB_Inflation_GDP_Deflator_Annual_Percent['Colombia']
Costa_Rica = WB_Inflation_GDP_Deflator_Annual_Percent['Costa Rica']
Cuba = WB_Inflation_GDP_Deflator_Annual_Percent['Cuba']
Dominican_Republic = WB_Inflation_GDP_Deflator_Annual_Percent['Dominican Republic']
Ecuador = WB_Inflation_GDP_Deflator_Annual_Percent['Ecuador']
El_Salvador = WB_Inflation_GDP_Deflator_Annual_Percent['El Salvador']
Guatemala = WB_Inflation_GDP_Deflator_Annual_Percent['Guatemala']
Honduras = WB_Inflation_GDP_Deflator_Annual_Percent['Honduras']
Mexico = WB_Inflation_GDP_Deflator_Annual_Percent['Mexico']
Nicaragua = WB_Inflation_GDP_Deflator_Annual_Percent['Nicaragua']
Panama = WB_Inflation_GDP_Deflator_Annual_Percent['Panama']
Paraguay = WB_Inflation_GDP_Deflator_Annual_Percent['Paraguay']
Peru = WB_Inflation_GDP_Deflator_Annual_Percent['Peru']
Uruguay = WB_Inflation_GDP_Deflator_Annual_Percent['Uruguay']
Venezuela = WB_Inflation_GDP_Deflator_Annual_Percent['Venezuela, RB']

# creating a series of the variable pooled by country 
WB_Inflation_GDP_Deflator_Annual_Percent = pd.concat([Argentina, Bolivia, Brazil, Chile, Colombia, Costa_Rica, Cuba, Dominican_Republic, Ecuador, El_Salvador, Guatemala, Honduras, Mexico, Nicaragua, Panama, Paraguay, Peru, Uruguay, Venezuela], ignore_index=True,  axis=0, sort=False)
WB_Inflation_GDP_Deflator_Annual_Percent

# adding the concatenated series to the main state capture dataframe
# adding wgi_PoliticalStability_Violence variable to the dataframe 
state_capture_database['WB_Inflation_GDP_Deflator_Annual_Percent'] = WB_Inflation_GDP_Deflator_Annual_Percent
state_capture_database

,country,year,wgi_VoiceAndAccountability,wgi_PoliticalStability_Violence,wgi_GovernmentEffectiveness,wgi_RegulatoryQuality,wgi_ControlOfCorruption,wgi_RuleofLaw,WB_RuralPopulation,WB_ForestArea_Percent_of_LandArea,...,WB_Total_Population,WB_Urban_Population_Percent_of_Total_Pop,WB_Net_FDI_Inflows_USD,WB_GDP_Growth_Annual_Percentage,WB_GDPPC_Growth_Annual_Percentage,WB_Inflation_Consumer_Prices_Annual_Percent,WB_Total_Reserves_USD,WB_GDP_USD,WB_GDPPC_USD,WB_Inflation_GDP_Deflator_Annual_Percent
0,Argentina,1996.0,0.391903,0.112986,0.165690,0.518067,-0.101317,0.075553,4100563.0,12.463377,...,35246376.0,88.366,6.948537e+09,5.526690,4.274586,NaN,1.971902e+10,2.721498e+11,7721.354105,-0.052375
1,Argentina,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,4077785.0,12.396654,...,35657438.0,88.564,9.160272e+09,8.111047,6.864733,NaN,2.242460e+10,2.928590e+11,8213.125127,-0.463913
2,Argentina,1998.0,0.308850,-0.131970,0.376485,0.570877,-0.113424,-0.005769,4053893.0,12.329931,...,36063451.0,88.759,7.290657e+09,3.850179,2.681003,NaN,2.485574e+10,2.989482e+11,8289.507568,-1.705280
3,Argentina,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,4028898.0,12.263208,...,36467218.0,88.952,2.398770e+10,-3.385457,-4.455178,NaN,2.635016e+10,2.835230e+11,7774.736203,-1.836558
4,Argentina,2000.0,0.418347,0.099359,0.032177,0.257245,-0.192119,-0.149923,4003431.0,12.196486,...,36870796.0,89.142,1.041831e+10,-0.788999,-1.874936,NaN,2.515212e+10,2.842038e+11,7708.099115,1.037287
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Venezuela,2017.0,-1.207137,-1.272082,-1.423879,-1.976389,-1.370064,-2.236806,3474491.0,52.636676,...,29402480.0,88.183,-6.800000e+07,NaN,NaN,NaN,9.794062e+09,NaN,NaN,NaN
490,Venezuela,2018.0,-1.434810,-1.351146,-1.584651,-2.363184,-1.466074,-2.322770,3406369.0,52.534165,...,28887117.0,88.208,8.860000e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
491,Venezuela,2019.0,-1.428393,-1.536778,-1.658469,-2.359256,-1.486213,-2.320636,3353461.0,52.459611,...,28515829.0,88.240,9.340000e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
492,Venezuela,2020.0,-1.506591,-1.517866,-1.780275,-2.234419,-1.560315,-2.346105,3332977.0,52.413015,...,28435943.0,88.279,9.586667e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
493,Venezuela,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,3351303.0,NaN,...,28704947.0,88.325,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# **25.WB_Labor_Force_Total**

In [82]:
fname = "https://api.worldbank.org/v2/en/indicator/SL.TLF.TOTL.IN?downloadformat=excel"
WB_Labor_Force_Total = pd.read_excel(fname, skiprows=3)
WB_Labor_Force_Total.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,"Labor force, total",SL.TLF.TOTL.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,"Labor force, total",SL.TLF.TOTL.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,221609386.0,228600199.0,235625294.0,243451167.0,251079282.0,259113288.0,267049230.0,275388843.0,276248621.0,287574262.0
2,Afghanistan,AFG,"Labor force, total",SL.TLF.TOTL.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,7742558.0,8136567.0,8544021.0,8948053.0,9314885.0,9670662.0,10022144.0,10382034.0,9416829.0,9695409.0

In [83]:

# dropping useless column names 
WB_Labor_Force_Total = WB_Labor_Force_Total.drop(labels=['Country Code', 'Indicator Name', 'Indicator Code'], axis=1)



# getting only the Latin American countries that we want out of all countries in world 

WB_Labor_Force_Total = WB_Labor_Force_Total.set_index('Country Name')

WB_Labor_Force_Total = WB_Labor_Force_Total.loc[countries]

# resetting index 
WB_Labor_Force_Total = WB_Labor_Force_Total.reset_index(level=None, drop=True, inplace=False, col_level=0, col_fill='index')

WB_Labor_Force_Total = WB_Labor_Force_Total.T

# renaming the columns 
WB_Labor_Force_Total.columns = countries

WB_Labor_Force_Total = WB_Labor_Force_Total.reset_index().rename(columns={'index': 'Year'})
# changing the year column to type 'int' to boolean index the temporal period
WB_Labor_Force_Total['Year'] = WB_Labor_Force_Total['Year'].astype(int)


# getting only the temporal period 1996 to 2020

time1 = WB_Labor_Force_Total['Year'] >= 1996
time2 = WB_Labor_Force_Total['Year'] <= 2021
timeperiod = time1 & time2

# doing the boolean index to get time period 1996 to 2020 and resetting index and dropping old column called index that serves no purpose
WB_Labor_Force_Total = WB_Labor_Force_Total[timeperiod].reset_index().drop(columns='index')
WB_Labor_Force_Total


# creating series of the individual country variable data to concat vertically 
Argentina = WB_Labor_Force_Total['Argentina']
Bolivia = WB_Labor_Force_Total['Bolivia']
Brazil = WB_Labor_Force_Total['Brazil']
Chile = WB_Labor_Force_Total['Chile']
Colombia = WB_Labor_Force_Total['Colombia']
Costa_Rica = WB_Labor_Force_Total['Costa Rica']
Cuba = WB_Labor_Force_Total['Cuba']
Dominican_Republic = WB_Labor_Force_Total['Dominican Republic']
Ecuador = WB_Labor_Force_Total['Ecuador']
El_Salvador = WB_Labor_Force_Total['El Salvador']
Guatemala = WB_Labor_Force_Total['Guatemala']
Honduras = WB_Labor_Force_Total['Honduras']
Mexico = WB_Labor_Force_Total['Mexico']
Nicaragua = WB_Labor_Force_Total['Nicaragua']
Panama = WB_Labor_Force_Total['Panama']
Paraguay = WB_Labor_Force_Total['Paraguay']
Peru = WB_Labor_Force_Total['Peru']
Uruguay = WB_Labor_Force_Total['Uruguay']
Venezuela = WB_Labor_Force_Total['Venezuela, RB']

# creating a series of the variable pooled by country 
WB_Labor_Force_Total = pd.concat([Argentina, Bolivia, Brazil, Chile, Colombia, Costa_Rica, Cuba, Dominican_Republic, Ecuador, El_Salvador, Guatemala, Honduras, Mexico, Nicaragua, Panama, Paraguay, Peru, Uruguay, Venezuela], ignore_index=True,  axis=0, sort=False)
WB_Labor_Force_Total

# adding the concatenated series to the main state capture dataframe
# adding wgi_PoliticalStability_Violence variable to the dataframe 
state_capture_database['WB_Labor_Force_Total'] = WB_Labor_Force_Total
state_capture_database

,country,year,wgi_VoiceAndAccountability,wgi_PoliticalStability_Violence,wgi_GovernmentEffectiveness,wgi_RegulatoryQuality,wgi_ControlOfCorruption,wgi_RuleofLaw,WB_RuralPopulation,WB_ForestArea_Percent_of_LandArea,...,WB_Urban_Population_Percent_of_Total_Pop,WB_Net_FDI_Inflows_USD,WB_GDP_Growth_Annual_Percentage,WB_GDPPC_Growth_Annual_Percentage,WB_Inflation_Consumer_Prices_Annual_Percent,WB_Total_Reserves_USD,WB_GDP_USD,WB_GDPPC_USD,WB_Inflation_GDP_Deflator_Annual_Percent,WB_Labor_Force_Total
0,Argentina,1996.0,0.391903,0.112986,0.165690,0.518067,-0.101317,0.075553,4100563.0,12.463377,...,88.366,6.948537e+09,5.526690,4.274586,NaN,1.971902e+10,2.721498e+11,7721.354105,-0.052375,15433978.0
1,Argentina,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,4077785.0,12.396654,...,88.564,9.160272e+09,8.111047,6.864733,NaN,2.242460e+10,2.928590e+11,8213.125127,-0.463913,15859936.0
2,Argentina,1998.0,0.308850,-0.131970,0.376485,0.570877,-0.113424,-0.005769,4053893.0,12.329931,...,88.759,7.290657e+09,3.850179,2.681003,NaN,2.485574e+10,2.989482e+11,8289.507568,-1.705280,16168747.0
3,Argentina,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,4028898.0,12.263208,...,88.952,2.398770e+10,-3.385457,-4.455178,NaN,2.635016e+10,2.835230e+11,7774.736203,-1.836558,16262854.0
4,Argentina,2000.0,0.418347,0.099359,0.032177,0.257245,-0.192119,-0.149923,4003431.0,12.196486,...,89.142,1.041831e+10,-0.788999,-1.874936,NaN,2.515212e+10,2.842038e+11,7708.099115,1.037287,16436817.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Venezuela,2017.0,-1.207137,-1.272082,-1.423879,-1.976389,-1.370064,-2.236806,3474491.0,52.636676,...,88.183,-6.800000e+07,NaN,NaN,NaN,9.794062e+09,NaN,NaN,NaN,12606669.0
490,Venezuela,2018.0,-1.434810,-1.351146,-1.584651,-2.363184,-1.466074,-2.322770,3406369.0,52.534165,...,88.208,8.860000e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11984547.0
491,Venezuela,2019.0,-1.428393,-1.536778,-1.658469,-2.359256,-1.486213,-2.320636,3353461.0,52.459611,...,88.240,9.340000e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10920757.0
492,Venezuela,2020.0,-1.506591,-1.517866,-1.780275,-2.234419,-1.560315,-2.346105,3332977.0,52.413015,...,88.279,9.586667e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10459875.0
493,Venezuela,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,3351303.0,NaN,...,88.325,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10665579.0

# **26.WB_Literacy_Rate_Adult_Total_Percent**

In [84]:
fname = "https://api.worldbank.org/v2/en/indicator/SE.ADT.LITR.ZS?downloadformat=excel"
WB_Literacy_Rate_Adult_Total_Percent = pd.read_excel(fname, skiprows=3)
WB_Literacy_Rate_Adult_Total_Percent.head(2)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,"Literacy rate, adult total (% of people ages 1...",SE.ADT.LITR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,97.807419,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,"Literacy rate, adult total (% of people ages 1...",SE.ADT.LITR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:

# dropping useless column names 
WB_Literacy_Rate_Adult_Total_Percent = WB_Literacy_Rate_Adult_Total_Percent.drop(labels=['Country Code', 'Indicator Name', 'Indicator Code'], axis=1)



# getting only the Latin American countries that we want out of all countries in world 

WB_Literacy_Rate_Adult_Total_Percent = WB_Literacy_Rate_Adult_Total_Percent.set_index('Country Name')

WB_Literacy_Rate_Adult_Total_Percent = WB_Literacy_Rate_Adult_Total_Percent.loc[countries]

# resetting index 
WB_Literacy_Rate_Adult_Total_Percent = WB_Literacy_Rate_Adult_Total_Percent.reset_index(level=None, drop=True, inplace=False, col_level=0, col_fill='index')

WB_Literacy_Rate_Adult_Total_Percent = WB_Literacy_Rate_Adult_Total_Percent.T

# renaming the columns 
WB_Literacy_Rate_Adult_Total_Percent.columns = countries

WB_Literacy_Rate_Adult_Total_Percent = WB_Literacy_Rate_Adult_Total_Percent.reset_index().rename(columns={'index': 'Year'})
# changing the year column to type 'int' to boolean index the temporal period
WB_Literacy_Rate_Adult_Total_Percent['Year'] = WB_Literacy_Rate_Adult_Total_Percent['Year'].astype(int)


# getting only the temporal period 1996 to 2020

time1 = WB_Literacy_Rate_Adult_Total_Percent['Year'] >= 1996
time2 = WB_Literacy_Rate_Adult_Total_Percent['Year'] <= 2021
timeperiod = time1 & time2

# doing the boolean index to get time period 1996 to 2020 and resetting index and dropping old column called index that serves no purpose
WB_Literacy_Rate_Adult_Total_Percent = WB_Literacy_Rate_Adult_Total_Percent[timeperiod].reset_index().drop(columns='index')
WB_Literacy_Rate_Adult_Total_Percent


# creating series of the individual country variable data to concat vertically 
Argentina = WB_Literacy_Rate_Adult_Total_Percent['Argentina']
Bolivia = WB_Literacy_Rate_Adult_Total_Percent['Bolivia']
Brazil = WB_Literacy_Rate_Adult_Total_Percent['Brazil']
Chile = WB_Literacy_Rate_Adult_Total_Percent['Chile']
Colombia = WB_Literacy_Rate_Adult_Total_Percent['Colombia']
Costa_Rica = WB_Literacy_Rate_Adult_Total_Percent['Costa Rica']
Cuba = WB_Literacy_Rate_Adult_Total_Percent['Cuba']
Dominican_Republic = WB_Literacy_Rate_Adult_Total_Percent['Dominican Republic']
Ecuador = WB_Literacy_Rate_Adult_Total_Percent['Ecuador']
El_Salvador = WB_Literacy_Rate_Adult_Total_Percent['El Salvador']
Guatemala = WB_Literacy_Rate_Adult_Total_Percent['Guatemala']
Honduras = WB_Literacy_Rate_Adult_Total_Percent['Honduras']
Mexico = WB_Literacy_Rate_Adult_Total_Percent['Mexico']
Nicaragua = WB_Literacy_Rate_Adult_Total_Percent['Nicaragua']
Panama = WB_Literacy_Rate_Adult_Total_Percent['Panama']
Paraguay = WB_Literacy_Rate_Adult_Total_Percent['Paraguay']
Peru = WB_Literacy_Rate_Adult_Total_Percent['Peru']
Uruguay = WB_Literacy_Rate_Adult_Total_Percent['Uruguay']
Venezuela = WB_Literacy_Rate_Adult_Total_Percent['Venezuela, RB']

# creating a series of the variable pooled by country 
WB_Literacy_Rate_Adult_Total_Percent = pd.concat([Argentina, Bolivia, Brazil, Chile, Colombia, Costa_Rica, Cuba, Dominican_Republic, Ecuador, El_Salvador, Guatemala, Honduras, Mexico, Nicaragua, Panama, Paraguay, Peru, Uruguay, Venezuela], ignore_index=True,  axis=0, sort=False)
WB_Literacy_Rate_Adult_Total_Percent

# adding the concatenated series to the main state capture dataframe
# adding wgi_PoliticalStability_Violence variable to the dataframe 
state_capture_database['WB_Literacy_Rate_Adult_Total_Percent'] = WB_Literacy_Rate_Adult_Total_Percent
state_capture_database

,country,year,wgi_VoiceAndAccountability,wgi_PoliticalStability_Violence,wgi_GovernmentEffectiveness,wgi_RegulatoryQuality,wgi_ControlOfCorruption,wgi_RuleofLaw,WB_RuralPopulation,WB_ForestArea_Percent_of_LandArea,...,WB_Net_FDI_Inflows_USD,WB_GDP_Growth_Annual_Percentage,WB_GDPPC_Growth_Annual_Percentage,WB_Inflation_Consumer_Prices_Annual_Percent,WB_Total_Reserves_USD,WB_GDP_USD,WB_GDPPC_USD,WB_Inflation_GDP_Deflator_Annual_Percent,WB_Labor_Force_Total,WB_Literacy_Rate_Adult_Total_Percent
0,Argentina,1996.0,0.391903,0.112986,0.165690,0.518067,-0.101317,0.075553,4100563.0,12.463377,...,6.948537e+09,5.526690,4.274586,NaN,1.971902e+10,2.721498e+11,7721.354105,-0.052375,15433978.0,NaN
1,Argentina,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,4077785.0,12.396654,...,9.160272e+09,8.111047,6.864733,NaN,2.242460e+10,2.928590e+11,8213.125127,-0.463913,15859936.0,NaN
2,Argentina,1998.0,0.308850,-0.131970,0.376485,0.570877,-0.113424,-0.005769,4053893.0,12.329931,...,7.290657e+09,3.850179,2.681003,NaN,2.485574e+10,2.989482e+11,8289.507568,-1.705280,16168747.0,NaN
3,Argentina,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,4028898.0,12.263208,...,2.398770e+10,-3.385457,-4.455178,NaN,2.635016e+10,2.835230e+11,7774.736203,-1.836558,16262854.0,NaN
4,Argentina,2000.0,0.418347,0.099359,0.032177,0.257245,-0.192119,-0.149923,4003431.0,12.196486,...,1.041831e+10,-0.788999,-1.874936,NaN,2.515212e+10,2.842038e+11,7708.099115,1.037287,16436817.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Venezuela,2017.0,-1.207137,-1.272082,-1.423879,-1.976389,-1.370064,-2.236806,3474491.0,52.636676,...,-6.800000e+07,NaN,NaN,NaN,9.794062e+09,NaN,NaN,NaN,12606669.0,NaN
490,Venezuela,2018.0,-1.434810,-1.351146,-1.584651,-2.363184,-1.466074,-2.322770,3406369.0,52.534165,...,8.860000e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11984547.0,NaN
491,Venezuela,2019.0,-1.428393,-1.536778,-1.658469,-2.359256,-1.486213,-2.320636,3353461.0,52.459611,...,9.340000e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10920757.0,NaN
492,Venezuela,2020.0,-1.506591,-1.517866,-1.780275,-2.234419,-1.560315,-2.346105,3332977.0,52.413015,...,9.586667e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10459875.0,NaN
493,Venezuela,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,3351303.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10665579.0,NaN

# **27.WB_Total_Nat_Resource_Rents_Percent_of_GDP**

In [86]:
fname = "https://api.worldbank.org/v2/en/indicator/NY.GDP.TOTL.RT.ZS?downloadformat=excel"
WB_Total_Nat_Resource_Rents_Percent_of_GDP = pd.read_excel(fname, skiprows=3)
WB_Total_Nat_Resource_Rents_Percent_of_GDP.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.001973,0.002236,0.003235,0.002388,0.003344,0.002827,0.001875,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,11.245884,10.786500,9.241470,6.210504,6.579524,7.181176,6.823513,6.107079,8.385933,NaN
2,Afghanistan,AFG,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.706844,0.558013,0.544465,0.514492,0.627718,0.719339,0.891281,0.692528,0.653622,NaN

In [87]:

# dropping useless column names 
WB_Total_Nat_Resource_Rents_Percent_of_GDP = WB_Total_Nat_Resource_Rents_Percent_of_GDP.drop(labels=['Country Code', 'Indicator Name', 'Indicator Code'], axis=1)



# getting only the Latin American countries that we want out of all countries in world 

WB_Total_Nat_Resource_Rents_Percent_of_GDP = WB_Total_Nat_Resource_Rents_Percent_of_GDP.set_index('Country Name')

WB_Total_Nat_Resource_Rents_Percent_of_GDP = WB_Total_Nat_Resource_Rents_Percent_of_GDP.loc[countries]

# resetting index 
WB_Total_Nat_Resource_Rents_Percent_of_GDP = WB_Total_Nat_Resource_Rents_Percent_of_GDP.reset_index(level=None, drop=True, inplace=False, col_level=0, col_fill='index')

WB_Total_Nat_Resource_Rents_Percent_of_GDP = WB_Total_Nat_Resource_Rents_Percent_of_GDP.T

# renaming the columns 
WB_Total_Nat_Resource_Rents_Percent_of_GDP.columns = countries

WB_Total_Nat_Resource_Rents_Percent_of_GDP = WB_Total_Nat_Resource_Rents_Percent_of_GDP.reset_index().rename(columns={'index': 'Year'})
# changing the year column to type 'int' to boolean index the temporal period
WB_Total_Nat_Resource_Rents_Percent_of_GDP['Year'] = WB_Total_Nat_Resource_Rents_Percent_of_GDP['Year'].astype(int)


# getting only the temporal period 1996 to 2020

time1 = WB_Total_Nat_Resource_Rents_Percent_of_GDP['Year'] >= 1996
time2 = WB_Total_Nat_Resource_Rents_Percent_of_GDP['Year'] <= 2021
timeperiod = time1 & time2

# doing the boolean index to get time period 1996 to 2020 and resetting index and dropping old column called index that serves no purpose
WB_Total_Nat_Resource_Rents_Percent_of_GDP = WB_Total_Nat_Resource_Rents_Percent_of_GDP[timeperiod].reset_index().drop(columns='index')
WB_Total_Nat_Resource_Rents_Percent_of_GDP


# creating series of the individual country variable data to concat vertically 
Argentina = WB_Total_Nat_Resource_Rents_Percent_of_GDP['Argentina']
Bolivia = WB_Total_Nat_Resource_Rents_Percent_of_GDP['Bolivia']
Brazil = WB_Total_Nat_Resource_Rents_Percent_of_GDP['Brazil']
Chile = WB_Total_Nat_Resource_Rents_Percent_of_GDP['Chile']
Colombia = WB_Total_Nat_Resource_Rents_Percent_of_GDP['Colombia']
Costa_Rica = WB_Total_Nat_Resource_Rents_Percent_of_GDP['Costa Rica']
Cuba = WB_Total_Nat_Resource_Rents_Percent_of_GDP['Cuba']
Dominican_Republic = WB_Total_Nat_Resource_Rents_Percent_of_GDP['Dominican Republic']
Ecuador = WB_Total_Nat_Resource_Rents_Percent_of_GDP['Ecuador']
El_Salvador = WB_Total_Nat_Resource_Rents_Percent_of_GDP['El Salvador']
Guatemala = WB_Total_Nat_Resource_Rents_Percent_of_GDP['Guatemala']
Honduras = WB_Total_Nat_Resource_Rents_Percent_of_GDP['Honduras']
Mexico = WB_Total_Nat_Resource_Rents_Percent_of_GDP['Mexico']
Nicaragua = WB_Total_Nat_Resource_Rents_Percent_of_GDP['Nicaragua']
Panama = WB_Total_Nat_Resource_Rents_Percent_of_GDP['Panama']
Paraguay = WB_Total_Nat_Resource_Rents_Percent_of_GDP['Paraguay']
Peru = WB_Total_Nat_Resource_Rents_Percent_of_GDP['Peru']
Uruguay = WB_Total_Nat_Resource_Rents_Percent_of_GDP['Uruguay']
Venezuela = WB_Total_Nat_Resource_Rents_Percent_of_GDP['Venezuela, RB']

# creating a series of the variable pooled by country 
WB_Total_Nat_Resource_Rents_Percent_of_GDP = pd.concat([Argentina, Bolivia, Brazil, Chile, Colombia, Costa_Rica, Cuba, Dominican_Republic, Ecuador, El_Salvador, Guatemala, Honduras, Mexico, Nicaragua, Panama, Paraguay, Peru, Uruguay, Venezuela], ignore_index=True,  axis=0, sort=False)
WB_Total_Nat_Resource_Rents_Percent_of_GDP

# adding the concatenated series to the main state capture dataframe
# adding wgi_PoliticalStability_Violence variable to the dataframe 
state_capture_database['WB_Total_Nat_Resource_Rents_Percent_of_GDP'] = WB_Total_Nat_Resource_Rents_Percent_of_GDP
state_capture_database

,country,year,wgi_VoiceAndAccountability,wgi_PoliticalStability_Violence,wgi_GovernmentEffectiveness,wgi_RegulatoryQuality,wgi_ControlOfCorruption,wgi_RuleofLaw,WB_RuralPopulation,WB_ForestArea_Percent_of_LandArea,...,WB_GDP_Growth_Annual_Percentage,WB_GDPPC_Growth_Annual_Percentage,WB_Inflation_Consumer_Prices_Annual_Percent,WB_Total_Reserves_USD,WB_GDP_USD,WB_GDPPC_USD,WB_Inflation_GDP_Deflator_Annual_Percent,WB_Labor_Force_Total,WB_Literacy_Rate_Adult_Total_Percent,WB_Total_Nat_Resource_Rents_Percent_of_GDP
0,Argentina,1996.0,0.391903,0.112986,0.165690,0.518067,-0.101317,0.075553,4100563.0,12.463377,...,5.526690,4.274586,NaN,1.971902e+10,2.721498e+11,7721.354105,-0.052375,15433978.0,NaN,1.631056
1,Argentina,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,4077785.0,12.396654,...,8.111047,6.864733,NaN,2.242460e+10,2.928590e+11,8213.125127,-0.463913,15859936.0,NaN,1.440126
2,Argentina,1998.0,0.308850,-0.131970,0.376485,0.570877,-0.113424,-0.005769,4053893.0,12.329931,...,3.850179,2.681003,NaN,2.485574e+10,2.989482e+11,8289.507568,-1.705280,16168747.0,NaN,0.821634
3,Argentina,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,4028898.0,12.263208,...,-3.385457,-4.455178,NaN,2.635016e+10,2.835230e+11,7774.736203,-1.836558,16262854.0,NaN,1.361018
4,Argentina,2000.0,0.418347,0.099359,0.032177,0.257245,-0.192119,-0.149923,4003431.0,12.196486,...,-0.788999,-1.874936,NaN,2.515212e+10,2.842038e+11,7708.099115,1.037287,16436817.0,NaN,2.284701
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Venezuela,2017.0,-1.207137,-1.272082,-1.423879,-1.976389,-1.370064,-2.236806,3474491.0,52.636676,...,NaN,NaN,NaN,9.794062e+09,NaN,NaN,NaN,12606669.0,NaN,NaN
490,Venezuela,2018.0,-1.434810,-1.351146,-1.584651,-2.363184,-1.466074,-2.322770,3406369.0,52.534165,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11984547.0,NaN,NaN
491,Venezuela,2019.0,-1.428393,-1.536778,-1.658469,-2.359256,-1.486213,-2.320636,3353461.0,52.459611,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10920757.0,NaN,NaN
492,Venezuela,2020.0,-1.506591,-1.517866,-1.780275,-2.234419,-1.560315,-2.346105,3332977.0,52.413015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10459875.0,NaN,NaN
493,Venezuela,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,3351303.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10665579.0,NaN,NaN

# **28.WB_Oil_Rents_Percent_of_GDP**

In [88]:
fname = "https://api.worldbank.org/v2/en/indicator/NY.GDP.PETR.RT.ZS?downloadformat=excel"
WB_Oil_Rents_Percent_of_GDP = pd.read_excel(fname, skiprows=3)
WB_Oil_Rents_Percent_of_GDP.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,Oil rents (% of GDP),NY.GDP.PETR.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Oil rents (% of GDP),NY.GDP.PETR.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,5.224189,5.037836,3.939316,1.240857,0.777144,1.467816,2.255588,1.931649,1.539778,NaN
2,Afghanistan,AFG,Oil rents (% of GDP),NY.GDP.PETR.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.110271,0.004108,0.003167,0.001119,0.000867,0.001306,0.001976,0.001671,0.001031,NaN

In [89]:

# dropping useless column names 
WB_Oil_Rents_Percent_of_GDP = WB_Oil_Rents_Percent_of_GDP.drop(labels=['Country Code', 'Indicator Name', 'Indicator Code'], axis=1)



# getting only the Latin American countries that we want out of all countries in world 

WB_Oil_Rents_Percent_of_GDP = WB_Oil_Rents_Percent_of_GDP.set_index('Country Name')

WB_Oil_Rents_Percent_of_GDP = WB_Oil_Rents_Percent_of_GDP.loc[countries]

# resetting index 
WB_Oil_Rents_Percent_of_GDP = WB_Oil_Rents_Percent_of_GDP.reset_index(level=None, drop=True, inplace=False, col_level=0, col_fill='index')

WB_Oil_Rents_Percent_of_GDP = WB_Oil_Rents_Percent_of_GDP.T

# renaming the columns 
WB_Oil_Rents_Percent_of_GDP.columns = countries

WB_Oil_Rents_Percent_of_GDP = WB_Oil_Rents_Percent_of_GDP.reset_index().rename(columns={'index': 'Year'})
# changing the year column to type 'int' to boolean index the temporal period
WB_Oil_Rents_Percent_of_GDP['Year'] = WB_Oil_Rents_Percent_of_GDP['Year'].astype(int)


# getting only the temporal period 1996 to 2020

time1 = WB_Oil_Rents_Percent_of_GDP['Year'] >= 1996
time2 = WB_Oil_Rents_Percent_of_GDP['Year'] <= 2021
timeperiod = time1 & time2

# doing the boolean index to get time period 1996 to 2020 and resetting index and dropping old column called index that serves no purpose
WB_Oil_Rents_Percent_of_GDP = WB_Oil_Rents_Percent_of_GDP[timeperiod].reset_index().drop(columns='index')
WB_Oil_Rents_Percent_of_GDP


# creating series of the individual country variable data to concat vertically 
Argentina = WB_Oil_Rents_Percent_of_GDP['Argentina']
Bolivia = WB_Oil_Rents_Percent_of_GDP['Bolivia']
Brazil = WB_Oil_Rents_Percent_of_GDP['Brazil']
Chile = WB_Oil_Rents_Percent_of_GDP['Chile']
Colombia = WB_Oil_Rents_Percent_of_GDP['Colombia']
Costa_Rica = WB_Oil_Rents_Percent_of_GDP['Costa Rica']
Cuba = WB_Oil_Rents_Percent_of_GDP['Cuba']
Dominican_Republic = WB_Oil_Rents_Percent_of_GDP['Dominican Republic']
Ecuador = WB_Oil_Rents_Percent_of_GDP['Ecuador']
El_Salvador = WB_Oil_Rents_Percent_of_GDP['El Salvador']
Guatemala = WB_Oil_Rents_Percent_of_GDP['Guatemala']
Honduras = WB_Oil_Rents_Percent_of_GDP['Honduras']
Mexico = WB_Oil_Rents_Percent_of_GDP['Mexico']
Nicaragua = WB_Oil_Rents_Percent_of_GDP['Nicaragua']
Panama = WB_Oil_Rents_Percent_of_GDP['Panama']
Paraguay = WB_Oil_Rents_Percent_of_GDP['Paraguay']
Peru = WB_Oil_Rents_Percent_of_GDP['Peru']
Uruguay = WB_Oil_Rents_Percent_of_GDP['Uruguay']
Venezuela = WB_Oil_Rents_Percent_of_GDP['Venezuela, RB']

# creating a series of the variable pooled by country 
WB_Oil_Rents_Percent_of_GDP = pd.concat([Argentina, Bolivia, Brazil, Chile, Colombia, Costa_Rica, Cuba, Dominican_Republic, Ecuador, El_Salvador, Guatemala, Honduras, Mexico, Nicaragua, Panama, Paraguay, Peru, Uruguay, Venezuela], ignore_index=True,  axis=0, sort=False)
WB_Oil_Rents_Percent_of_GDP

# adding the concatenated series to the main state capture dataframe
# adding wgi_PoliticalStability_Violence variable to the dataframe 
state_capture_database['WB_Oil_Rents_Percent_of_GDP'] = WB_Oil_Rents_Percent_of_GDP
state_capture_database

,country,year,wgi_VoiceAndAccountability,wgi_PoliticalStability_Violence,wgi_GovernmentEffectiveness,wgi_RegulatoryQuality,wgi_ControlOfCorruption,wgi_RuleofLaw,WB_RuralPopulation,WB_ForestArea_Percent_of_LandArea,...,WB_GDPPC_Growth_Annual_Percentage,WB_Inflation_Consumer_Prices_Annual_Percent,WB_Total_Reserves_USD,WB_GDP_USD,WB_GDPPC_USD,WB_Inflation_GDP_Deflator_Annual_Percent,WB_Labor_Force_Total,WB_Literacy_Rate_Adult_Total_Percent,WB_Total_Nat_Resource_Rents_Percent_of_GDP,WB_Oil_Rents_Percent_of_GDP
0,Argentina,1996.0,0.391903,0.112986,0.165690,0.518067,-0.101317,0.075553,4100563.0,12.463377,...,4.274586,NaN,1.971902e+10,2.721498e+11,7721.354105,-0.052375,15433978.0,NaN,1.631056,1.420051
1,Argentina,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,4077785.0,12.396654,...,6.864733,NaN,2.242460e+10,2.928590e+11,8213.125127,-0.463913,15859936.0,NaN,1.440126,1.247829
2,Argentina,1998.0,0.308850,-0.131970,0.376485,0.570877,-0.113424,-0.005769,4053893.0,12.329931,...,2.681003,NaN,2.485574e+10,2.989482e+11,8289.507568,-1.705280,16168747.0,NaN,0.821634,0.639159
3,Argentina,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,4028898.0,12.263208,...,-4.455178,NaN,2.635016e+10,2.835230e+11,7774.736203,-1.836558,16262854.0,NaN,1.361018,1.127952
4,Argentina,2000.0,0.418347,0.099359,0.032177,0.257245,-0.192119,-0.149923,4003431.0,12.196486,...,-1.874936,NaN,2.515212e+10,2.842038e+11,7708.099115,1.037287,16436817.0,NaN,2.284701,1.990125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Venezuela,2017.0,-1.207137,-1.272082,-1.423879,-1.976389,-1.370064,-2.236806,3474491.0,52.636676,...,NaN,NaN,9.794062e+09,NaN,NaN,NaN,12606669.0,NaN,NaN,NaN
490,Venezuela,2018.0,-1.434810,-1.351146,-1.584651,-2.363184,-1.466074,-2.322770,3406369.0,52.534165,...,NaN,NaN,NaN,NaN,NaN,NaN,11984547.0,NaN,NaN,NaN
491,Venezuela,2019.0,-1.428393,-1.536778,-1.658469,-2.359256,-1.486213,-2.320636,3353461.0,52.459611,...,NaN,NaN,NaN,NaN,NaN,NaN,10920757.0,NaN,NaN,NaN
492,Venezuela,2020.0,-1.506591,-1.517866,-1.780275,-2.234419,-1.560315,-2.346105,3332977.0,52.413015,...,NaN,NaN,NaN,NaN,NaN,NaN,10459875.0,NaN,NaN,NaN
493,Venezuela,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,3351303.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10665579.0,NaN,NaN,NaN

# **29.WB_Gini_Index**

In [90]:
fname = "https://api.worldbank.org/v2/en/indicator/SI.POV.GINI?downloadformat=excel"
WB_Gini_Index = pd.read_excel(fname, skiprows=3)
WB_Gini_Index.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:

# dropping useless column names 
WB_Gini_Index = WB_Gini_Index.drop(labels=['Country Code', 'Indicator Name', 'Indicator Code'], axis=1)



# getting only the Latin American countries that we want out of all countries in world 

WB_Gini_Index = WB_Gini_Index.set_index('Country Name')

WB_Gini_Index = WB_Gini_Index.loc[countries]

# resetting index 
WB_Gini_Index = WB_Gini_Index.reset_index(level=None, drop=True, inplace=False, col_level=0, col_fill='index')

WB_Gini_Index = WB_Gini_Index.T

# renaming the columns 
WB_Gini_Index.columns = countries

WB_Gini_Index = WB_Gini_Index.reset_index().rename(columns={'index': 'Year'})
# changing the year column to type 'int' to boolean index the temporal period
WB_Gini_Index['Year'] = WB_Gini_Index['Year'].astype(int)


# getting only the temporal period 1996 to 2020

time1 = WB_Gini_Index['Year'] >= 1996
time2 = WB_Gini_Index['Year'] <= 2021
timeperiod = time1 & time2

# doing the boolean index to get time period 1996 to 2020 and resetting index and dropping old column called index that serves no purpose
WB_Gini_Index = WB_Gini_Index[timeperiod].reset_index().drop(columns='index')
WB_Gini_Index


# creating series of the individual country variable data to concat vertically 
Argentina = WB_Gini_Index['Argentina']
Bolivia = WB_Gini_Index['Bolivia']
Brazil = WB_Gini_Index['Brazil']
Chile = WB_Gini_Index['Chile']
Colombia = WB_Gini_Index['Colombia']
Costa_Rica = WB_Gini_Index['Costa Rica']
Cuba = WB_Gini_Index['Cuba']
Dominican_Republic = WB_Gini_Index['Dominican Republic']
Ecuador = WB_Gini_Index['Ecuador']
El_Salvador = WB_Gini_Index['El Salvador']
Guatemala = WB_Gini_Index['Guatemala']
Honduras = WB_Gini_Index['Honduras']
Mexico = WB_Gini_Index['Mexico']
Nicaragua = WB_Gini_Index['Nicaragua']
Panama = WB_Gini_Index['Panama']
Paraguay = WB_Gini_Index['Paraguay']
Peru = WB_Gini_Index['Peru']
Uruguay = WB_Gini_Index['Uruguay']
Venezuela = WB_Gini_Index['Venezuela, RB']

# creating a series of the variable pooled by country 
WB_Gini_Index = pd.concat([Argentina, Bolivia, Brazil, Chile, Colombia, Costa_Rica, Cuba, Dominican_Republic, Ecuador, El_Salvador, Guatemala, Honduras, Mexico, Nicaragua, Panama, Paraguay, Peru, Uruguay, Venezuela], ignore_index=True,  axis=0, sort=False)
WB_Gini_Index

# adding the concatenated series to the main state capture dataframe
# adding wgi_PoliticalStability_Violence variable to the dataframe 
state_capture_database['WB_Gini_Index'] = WB_Gini_Index
state_capture_database

,country,year,wgi_VoiceAndAccountability,wgi_PoliticalStability_Violence,wgi_GovernmentEffectiveness,wgi_RegulatoryQuality,wgi_ControlOfCorruption,wgi_RuleofLaw,WB_RuralPopulation,WB_ForestArea_Percent_of_LandArea,...,WB_Inflation_Consumer_Prices_Annual_Percent,WB_Total_Reserves_USD,WB_GDP_USD,WB_GDPPC_USD,WB_Inflation_GDP_Deflator_Annual_Percent,WB_Labor_Force_Total,WB_Literacy_Rate_Adult_Total_Percent,WB_Total_Nat_Resource_Rents_Percent_of_GDP,WB_Oil_Rents_Percent_of_GDP,WB_Gini_Index
0,Argentina,1996.0,0.391903,0.112986,0.165690,0.518067,-0.101317,0.075553,4100563.0,12.463377,...,NaN,1.971902e+10,2.721498e+11,7721.354105,-0.052375,15433978.0,NaN,1.631056,1.420051,49.5
1,Argentina,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,4077785.0,12.396654,...,NaN,2.242460e+10,2.928590e+11,8213.125127,-0.463913,15859936.0,NaN,1.440126,1.247829,49.1
2,Argentina,1998.0,0.308850,-0.131970,0.376485,0.570877,-0.113424,-0.005769,4053893.0,12.329931,...,NaN,2.485574e+10,2.989482e+11,8289.507568,-1.705280,16168747.0,NaN,0.821634,0.639159,50.7
3,Argentina,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,4028898.0,12.263208,...,NaN,2.635016e+10,2.835230e+11,7774.736203,-1.836558,16262854.0,NaN,1.361018,1.127952,49.8
4,Argentina,2000.0,0.418347,0.099359,0.032177,0.257245,-0.192119,-0.149923,4003431.0,12.196486,...,NaN,2.515212e+10,2.842038e+11,7708.099115,1.037287,16436817.0,NaN,2.284701,1.990125,51.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Venezuela,2017.0,-1.207137,-1.272082,-1.423879,-1.976389,-1.370064,-2.236806,3474491.0,52.636676,...,NaN,9.794062e+09,NaN,NaN,NaN,12606669.0,NaN,NaN,NaN,NaN
490,Venezuela,2018.0,-1.434810,-1.351146,-1.584651,-2.363184,-1.466074,-2.322770,3406369.0,52.534165,...,NaN,NaN,NaN,NaN,NaN,11984547.0,NaN,NaN,NaN,NaN
491,Venezuela,2019.0,-1.428393,-1.536778,-1.658469,-2.359256,-1.486213,-2.320636,3353461.0,52.459611,...,NaN,NaN,NaN,NaN,NaN,10920757.0,NaN,NaN,NaN,NaN
492,Venezuela,2020.0,-1.506591,-1.517866,-1.780275,-2.234419,-1.560315,-2.346105,3332977.0,52.413015,...,NaN,NaN,NaN,NaN,NaN,10459875.0,NaN,NaN,NaN,NaN
493,Venezuela,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,3351303.0,NaN,...,NaN,NaN,NaN,NaN,NaN,10665579.0,NaN,NaN,NaN,NaN

# **30.WB_Income_Share_Held_By_Highest_10_Percent**

In [92]:
fname = "https://api.worldbank.org/v2/en/indicator/SI.DST.10TH.10?downloadformat=excel"
WB_Income_Share_Held_By_Highest_10_Percent = pd.read_excel(fname, skiprows=3)
WB_Income_Share_Held_By_Highest_10_Percent.head(2)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,Income share held by highest 10%,SI.DST.10TH.10,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Income share held by highest 10%,SI.DST.10TH.10,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [93]:

# dropping useless column names 
WB_Income_Share_Held_By_Highest_10_Percent = WB_Income_Share_Held_By_Highest_10_Percent.drop(labels=['Country Code', 'Indicator Name', 'Indicator Code'], axis=1)



# getting only the Latin American countries that we want out of all countries in world 

WB_Income_Share_Held_By_Highest_10_Percent = WB_Income_Share_Held_By_Highest_10_Percent.set_index('Country Name')

WB_Income_Share_Held_By_Highest_10_Percent = WB_Income_Share_Held_By_Highest_10_Percent.loc[countries]

# resetting index 
WB_Income_Share_Held_By_Highest_10_Percent = WB_Income_Share_Held_By_Highest_10_Percent.reset_index(level=None, drop=True, inplace=False, col_level=0, col_fill='index')

WB_Income_Share_Held_By_Highest_10_Percent = WB_Income_Share_Held_By_Highest_10_Percent.T

# renaming the columns 
WB_Income_Share_Held_By_Highest_10_Percent.columns = countries

WB_Income_Share_Held_By_Highest_10_Percent = WB_Income_Share_Held_By_Highest_10_Percent.reset_index().rename(columns={'index': 'Year'})
# changing the year column to type 'int' to boolean index the temporal period
WB_Income_Share_Held_By_Highest_10_Percent['Year'] = WB_Income_Share_Held_By_Highest_10_Percent['Year'].astype(int)


# getting only the temporal period 1996 to 2020

time1 = WB_Income_Share_Held_By_Highest_10_Percent['Year'] >= 1996
time2 = WB_Income_Share_Held_By_Highest_10_Percent['Year'] <= 2021
timeperiod = time1 & time2

# doing the boolean index to get time period 1996 to 2020 and resetting index and dropping old column called index that serves no purpose
WB_Income_Share_Held_By_Highest_10_Percent = WB_Income_Share_Held_By_Highest_10_Percent[timeperiod].reset_index().drop(columns='index')
WB_Income_Share_Held_By_Highest_10_Percent


# creating series of the individual country variable data to concat vertically 
Argentina = WB_Income_Share_Held_By_Highest_10_Percent['Argentina']
Bolivia = WB_Income_Share_Held_By_Highest_10_Percent['Bolivia']
Brazil = WB_Income_Share_Held_By_Highest_10_Percent['Brazil']
Chile = WB_Income_Share_Held_By_Highest_10_Percent['Chile']
Colombia = WB_Income_Share_Held_By_Highest_10_Percent['Colombia']
Costa_Rica = WB_Income_Share_Held_By_Highest_10_Percent['Costa Rica']
Cuba = WB_Income_Share_Held_By_Highest_10_Percent['Cuba']
Dominican_Republic = WB_Income_Share_Held_By_Highest_10_Percent['Dominican Republic']
Ecuador = WB_Income_Share_Held_By_Highest_10_Percent['Ecuador']
El_Salvador = WB_Income_Share_Held_By_Highest_10_Percent['El Salvador']
Guatemala = WB_Income_Share_Held_By_Highest_10_Percent['Guatemala']
Honduras = WB_Income_Share_Held_By_Highest_10_Percent['Honduras']
Mexico = WB_Income_Share_Held_By_Highest_10_Percent['Mexico']
Nicaragua = WB_Income_Share_Held_By_Highest_10_Percent['Nicaragua']
Panama = WB_Income_Share_Held_By_Highest_10_Percent['Panama']
Paraguay = WB_Income_Share_Held_By_Highest_10_Percent['Paraguay']
Peru = WB_Income_Share_Held_By_Highest_10_Percent['Peru']
Uruguay = WB_Income_Share_Held_By_Highest_10_Percent['Uruguay']
Venezuela = WB_Income_Share_Held_By_Highest_10_Percent['Venezuela, RB']

# creating a series of the variable pooled by country 
WB_Income_Share_Held_By_Highest_10_Percent = pd.concat([Argentina, Bolivia, Brazil, Chile, Colombia, Costa_Rica, Cuba, Dominican_Republic, Ecuador, El_Salvador, Guatemala, Honduras, Mexico, Nicaragua, Panama, Paraguay, Peru, Uruguay, Venezuela], ignore_index=True,  axis=0, sort=False)
WB_Income_Share_Held_By_Highest_10_Percent

# adding the concatenated series to the main state capture dataframe
# adding wgi_PoliticalStability_Violence variable to the dataframe 
state_capture_database['WB_Income_Share_Held_By_Highest_10_Percent'] = WB_Income_Share_Held_By_Highest_10_Percent
state_capture_database

,country,year,wgi_VoiceAndAccountability,wgi_PoliticalStability_Violence,wgi_GovernmentEffectiveness,wgi_RegulatoryQuality,wgi_ControlOfCorruption,wgi_RuleofLaw,WB_RuralPopulation,WB_ForestArea_Percent_of_LandArea,...,WB_Total_Reserves_USD,WB_GDP_USD,WB_GDPPC_USD,WB_Inflation_GDP_Deflator_Annual_Percent,WB_Labor_Force_Total,WB_Literacy_Rate_Adult_Total_Percent,WB_Total_Nat_Resource_Rents_Percent_of_GDP,WB_Oil_Rents_Percent_of_GDP,WB_Gini_Index,WB_Income_Share_Held_By_Highest_10_Percent
0,Argentina,1996.0,0.391903,0.112986,0.165690,0.518067,-0.101317,0.075553,4100563.0,12.463377,...,1.971902e+10,2.721498e+11,7721.354105,-0.052375,15433978.0,NaN,1.631056,1.420051,49.5,36.9
1,Argentina,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,4077785.0,12.396654,...,2.242460e+10,2.928590e+11,8213.125127,-0.463913,15859936.0,NaN,1.440126,1.247829,49.1,36.4
2,Argentina,1998.0,0.308850,-0.131970,0.376485,0.570877,-0.113424,-0.005769,4053893.0,12.329931,...,2.485574e+10,2.989482e+11,8289.507568,-1.705280,16168747.0,NaN,0.821634,0.639159,50.7,38.1
3,Argentina,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,4028898.0,12.263208,...,2.635016e+10,2.835230e+11,7774.736203,-1.836558,16262854.0,NaN,1.361018,1.127952,49.8,37.0
4,Argentina,2000.0,0.418347,0.099359,0.032177,0.257245,-0.192119,-0.149923,4003431.0,12.196486,...,2.515212e+10,2.842038e+11,7708.099115,1.037287,16436817.0,NaN,2.284701,1.990125,51.1,37.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Venezuela,2017.0,-1.207137,-1.272082,-1.423879,-1.976389,-1.370064,-2.236806,3474491.0,52.636676,...,9.794062e+09,NaN,NaN,NaN,12606669.0,NaN,NaN,NaN,NaN,NaN
490,Venezuela,2018.0,-1.434810,-1.351146,-1.584651,-2.363184,-1.466074,-2.322770,3406369.0,52.534165,...,NaN,NaN,NaN,NaN,11984547.0,NaN,NaN,NaN,NaN,NaN
491,Venezuela,2019.0,-1.428393,-1.536778,-1.658469,-2.359256,-1.486213,-2.320636,3353461.0,52.459611,...,NaN,NaN,NaN,NaN,10920757.0,NaN,NaN,NaN,NaN,NaN
492,Venezuela,2020.0,-1.506591,-1.517866,-1.780275,-2.234419,-1.560315,-2.346105,3332977.0,52.413015,...,NaN,NaN,NaN,NaN,10459875.0,NaN,NaN,NaN,NaN,NaN
493,Venezuela,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,3351303.0,NaN,...,NaN,NaN,NaN,NaN,10665579.0,NaN,NaN,NaN,NaN,NaN

# **31.WB_Intentional_Homicides_Per_100000_People**

In [94]:
fname = "https://api.worldbank.org/v2/en/indicator/VC.IHR.PSRC.P5?downloadformat=excel"
WB_Intentional_Homicides_Per_100000_People = pd.read_excel(fname, skiprows=3)
WB_Intentional_Homicides_Per_100000_People.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,"Intentional homicides (per 100,000 people)",VC.IHR.PSRC.P5,NaN,NaN,NaN,NaN,NaN,NaN,...,3.899966,5.815926,1.927228,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,"Intentional homicides (per 100,000 people)",VC.IHR.PSRC.P5,NaN,NaN,NaN,NaN,NaN,NaN,...,15.100000,NaN,10.500000,10.300000,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,"Intentional homicides (per 100,000 people)",VC.IHR.PSRC.P5,NaN,NaN,NaN,NaN,NaN,NaN,...,6.251328,NaN,NaN,9.783922,6.551163,6.678401,6.655561,NaN,NaN,NaN

In [95]:

# dropping useless column names 
WB_Intentional_Homicides_Per_100000_People = WB_Intentional_Homicides_Per_100000_People.drop(labels=['Country Code', 'Indicator Name', 'Indicator Code'], axis=1)



# getting only the Latin American countries that we want out of all countries in world 

WB_Intentional_Homicides_Per_100000_People = WB_Intentional_Homicides_Per_100000_People.set_index('Country Name')

WB_Intentional_Homicides_Per_100000_People = WB_Intentional_Homicides_Per_100000_People.loc[countries]

# resetting index 
WB_Intentional_Homicides_Per_100000_People = WB_Intentional_Homicides_Per_100000_People.reset_index(level=None, drop=True, inplace=False, col_level=0, col_fill='index')

WB_Intentional_Homicides_Per_100000_People = WB_Intentional_Homicides_Per_100000_People.T

# renaming the columns 
WB_Intentional_Homicides_Per_100000_People.columns = countries

WB_Intentional_Homicides_Per_100000_People = WB_Intentional_Homicides_Per_100000_People.reset_index().rename(columns={'index': 'Year'})
# changing the year column to type 'int' to boolean index the temporal period
WB_Intentional_Homicides_Per_100000_People['Year'] = WB_Intentional_Homicides_Per_100000_People['Year'].astype(int)


# getting only the temporal period 1996 to 2020

time1 = WB_Intentional_Homicides_Per_100000_People['Year'] >= 1996
time2 = WB_Intentional_Homicides_Per_100000_People['Year'] <= 2021
timeperiod = time1 & time2

# doing the boolean index to get time period 1996 to 2020 and resetting index and dropping old column called index that serves no purpose
WB_Intentional_Homicides_Per_100000_People = WB_Intentional_Homicides_Per_100000_People[timeperiod].reset_index().drop(columns='index')
WB_Intentional_Homicides_Per_100000_People


# creating series of the individual country variable data to concat vertically 
Argentina = WB_Intentional_Homicides_Per_100000_People['Argentina']
Bolivia = WB_Intentional_Homicides_Per_100000_People['Bolivia']
Brazil = WB_Intentional_Homicides_Per_100000_People['Brazil']
Chile = WB_Intentional_Homicides_Per_100000_People['Chile']
Colombia = WB_Intentional_Homicides_Per_100000_People['Colombia']
Costa_Rica = WB_Intentional_Homicides_Per_100000_People['Costa Rica']
Cuba = WB_Intentional_Homicides_Per_100000_People['Cuba']
Dominican_Republic = WB_Intentional_Homicides_Per_100000_People['Dominican Republic']
Ecuador = WB_Intentional_Homicides_Per_100000_People['Ecuador']
El_Salvador = WB_Intentional_Homicides_Per_100000_People['El Salvador']
Guatemala = WB_Intentional_Homicides_Per_100000_People['Guatemala']
Honduras = WB_Intentional_Homicides_Per_100000_People['Honduras']
Mexico = WB_Intentional_Homicides_Per_100000_People['Mexico']
Nicaragua = WB_Intentional_Homicides_Per_100000_People['Nicaragua']
Panama = WB_Intentional_Homicides_Per_100000_People['Panama']
Paraguay = WB_Intentional_Homicides_Per_100000_People['Paraguay']
Peru = WB_Intentional_Homicides_Per_100000_People['Peru']
Uruguay = WB_Intentional_Homicides_Per_100000_People['Uruguay']
Venezuela = WB_Intentional_Homicides_Per_100000_People['Venezuela, RB']

# creating a series of the variable pooled by country 
WB_Intentional_Homicides_Per_100000_People = pd.concat([Argentina, Bolivia, Brazil, Chile, Colombia, Costa_Rica, Cuba, Dominican_Republic, Ecuador, El_Salvador, Guatemala, Honduras, Mexico, Nicaragua, Panama, Paraguay, Peru, Uruguay, Venezuela], ignore_index=True,  axis=0, sort=False)
WB_Intentional_Homicides_Per_100000_People

# adding the concatenated series to the main state capture dataframe
# adding wgi_PoliticalStability_Violence variable to the dataframe 
state_capture_database['WB_Intentional_Homicides_Per_100000_People'] = WB_Intentional_Homicides_Per_100000_People
state_capture_database

,country,year,wgi_VoiceAndAccountability,wgi_PoliticalStability_Violence,wgi_GovernmentEffectiveness,wgi_RegulatoryQuality,wgi_ControlOfCorruption,wgi_RuleofLaw,WB_RuralPopulation,WB_ForestArea_Percent_of_LandArea,...,WB_GDP_USD,WB_GDPPC_USD,WB_Inflation_GDP_Deflator_Annual_Percent,WB_Labor_Force_Total,WB_Literacy_Rate_Adult_Total_Percent,WB_Total_Nat_Resource_Rents_Percent_of_GDP,WB_Oil_Rents_Percent_of_GDP,WB_Gini_Index,WB_Income_Share_Held_By_Highest_10_Percent,WB_Intentional_Homicides_Per_100000_People
0,Argentina,1996.0,0.391903,0.112986,0.165690,0.518067,-0.101317,0.075553,4100563.0,12.463377,...,2.721498e+11,7721.354105,-0.052375,15433978.0,NaN,1.631056,1.420051,49.5,36.9,NaN
1,Argentina,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,4077785.0,12.396654,...,2.928590e+11,8213.125127,-0.463913,15859936.0,NaN,1.440126,1.247829,49.1,36.4,NaN
2,Argentina,1998.0,0.308850,-0.131970,0.376485,0.570877,-0.113424,-0.005769,4053893.0,12.329931,...,2.989482e+11,8289.507568,-1.705280,16168747.0,NaN,0.821634,0.639159,50.7,38.1,NaN
3,Argentina,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,4028898.0,12.263208,...,2.835230e+11,7774.736203,-1.836558,16262854.0,NaN,1.361018,1.127952,49.8,37.0,NaN
4,Argentina,2000.0,0.418347,0.099359,0.032177,0.257245,-0.192119,-0.149923,4003431.0,12.196486,...,2.842038e+11,7708.099115,1.037287,16436817.0,NaN,2.284701,1.990125,51.1,37.7,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Venezuela,2017.0,-1.207137,-1.272082,-1.423879,-1.976389,-1.370064,-2.236806,3474491.0,52.636676,...,NaN,NaN,NaN,12606669.0,NaN,NaN,NaN,NaN,NaN,49.876745
490,Venezuela,2018.0,-1.434810,-1.351146,-1.584651,-2.363184,-1.466074,-2.322770,3406369.0,52.534165,...,NaN,NaN,NaN,11984547.0,NaN,NaN,NaN,NaN,NaN,NaN
491,Venezuela,2019.0,-1.428393,-1.536778,-1.658469,-2.359256,-1.486213,-2.320636,3353461.0,52.459611,...,NaN,NaN,NaN,10920757.0,NaN,NaN,NaN,NaN,NaN,NaN
492,Venezuela,2020.0,-1.506591,-1.517866,-1.780275,-2.234419,-1.560315,-2.346105,3332977.0,52.413015,...,NaN,NaN,NaN,10459875.0,NaN,NaN,NaN,NaN,NaN,NaN
493,Venezuela,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,3351303.0,NaN,...,NaN,NaN,NaN,10665579.0,NaN,NaN,NaN,NaN,NaN,NaN

# **32.WB_Patent_Applications_Residents**

In [96]:
fname = "https://api.worldbank.org/v2/en/indicator/IP.PAT.RESD?downloadformat=excel"
WB_Patent_Applications_Residents = pd.read_excel(fname, skiprows=3)
WB_Patent_Applications_Residents.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,"Patent applications, residents",IP.PAT.RESD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,"Patent applications, residents",IP.PAT.RESD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,"Patent applications, residents",IP.PAT.RESD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:

# dropping useless column names 
WB_Patent_Applications_Residents = WB_Patent_Applications_Residents.drop(labels=['Country Code', 'Indicator Name', 'Indicator Code'], axis=1)



# getting only the Latin American countries that we want out of all countries in world 

WB_Patent_Applications_Residents = WB_Patent_Applications_Residents.set_index('Country Name')

WB_Patent_Applications_Residents = WB_Patent_Applications_Residents.loc[countries]

# resetting index 
WB_Patent_Applications_Residents = WB_Patent_Applications_Residents.reset_index(level=None, drop=True, inplace=False, col_level=0, col_fill='index')

WB_Patent_Applications_Residents = WB_Patent_Applications_Residents.T

# renaming the columns 
WB_Patent_Applications_Residents.columns = countries

WB_Patent_Applications_Residents = WB_Patent_Applications_Residents.reset_index().rename(columns={'index': 'Year'})
# changing the year column to type 'int' to boolean index the temporal period
WB_Patent_Applications_Residents['Year'] = WB_Patent_Applications_Residents['Year'].astype(int)


# getting only the temporal period 1996 to 2020

time1 = WB_Patent_Applications_Residents['Year'] >= 1996
time2 = WB_Patent_Applications_Residents['Year'] <= 2021
timeperiod = time1 & time2

# doing the boolean index to get time period 1996 to 2020 and resetting index and dropping old column called index that serves no purpose
WB_Patent_Applications_Residents = WB_Patent_Applications_Residents[timeperiod].reset_index().drop(columns='index')
WB_Patent_Applications_Residents


# creating series of the individual country variable data to concat vertically 
Argentina = WB_Patent_Applications_Residents['Argentina']
Bolivia = WB_Patent_Applications_Residents['Bolivia']
Brazil = WB_Patent_Applications_Residents['Brazil']
Chile = WB_Patent_Applications_Residents['Chile']
Colombia = WB_Patent_Applications_Residents['Colombia']
Costa_Rica = WB_Patent_Applications_Residents['Costa Rica']
Cuba = WB_Patent_Applications_Residents['Cuba']
Dominican_Republic = WB_Patent_Applications_Residents['Dominican Republic']
Ecuador = WB_Patent_Applications_Residents['Ecuador']
El_Salvador = WB_Patent_Applications_Residents['El Salvador']
Guatemala = WB_Patent_Applications_Residents['Guatemala']
Honduras = WB_Patent_Applications_Residents['Honduras']
Mexico = WB_Patent_Applications_Residents['Mexico']
Nicaragua = WB_Patent_Applications_Residents['Nicaragua']
Panama = WB_Patent_Applications_Residents['Panama']
Paraguay = WB_Patent_Applications_Residents['Paraguay']
Peru = WB_Patent_Applications_Residents['Peru']
Uruguay = WB_Patent_Applications_Residents['Uruguay']
Venezuela = WB_Patent_Applications_Residents['Venezuela, RB']

# creating a series of the variable pooled by country 
WB_Patent_Applications_Residents = pd.concat([Argentina, Bolivia, Brazil, Chile, Colombia, Costa_Rica, Cuba, Dominican_Republic, Ecuador, El_Salvador, Guatemala, Honduras, Mexico, Nicaragua, Panama, Paraguay, Peru, Uruguay, Venezuela], ignore_index=True,  axis=0, sort=False)
WB_Patent_Applications_Residents

# adding the concatenated series to the main state capture dataframe
# adding wgi_PoliticalStability_Violence variable to the dataframe 
state_capture_database['WB_Patent_Applications_Residents'] = WB_Patent_Applications_Residents
state_capture_database

,country,year,wgi_VoiceAndAccountability,wgi_PoliticalStability_Violence,wgi_GovernmentEffectiveness,wgi_RegulatoryQuality,wgi_ControlOfCorruption,wgi_RuleofLaw,WB_RuralPopulation,WB_ForestArea_Percent_of_LandArea,...,WB_GDPPC_USD,WB_Inflation_GDP_Deflator_Annual_Percent,WB_Labor_Force_Total,WB_Literacy_Rate_Adult_Total_Percent,WB_Total_Nat_Resource_Rents_Percent_of_GDP,WB_Oil_Rents_Percent_of_GDP,WB_Gini_Index,WB_Income_Share_Held_By_Highest_10_Percent,WB_Intentional_Homicides_Per_100000_People,WB_Patent_Applications_Residents
0,Argentina,1996.0,0.391903,0.112986,0.165690,0.518067,-0.101317,0.075553,4100563.0,12.463377,...,7721.354105,-0.052375,15433978.0,NaN,1.631056,1.420051,49.5,36.9,NaN,1097.0
1,Argentina,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,4077785.0,12.396654,...,8213.125127,-0.463913,15859936.0,NaN,1.440126,1.247829,49.1,36.4,NaN,824.0
2,Argentina,1998.0,0.308850,-0.131970,0.376485,0.570877,-0.113424,-0.005769,4053893.0,12.329931,...,8289.507568,-1.705280,16168747.0,NaN,0.821634,0.639159,50.7,38.1,NaN,861.0
3,Argentina,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,4028898.0,12.263208,...,7774.736203,-1.836558,16262854.0,NaN,1.361018,1.127952,49.8,37.0,NaN,899.0
4,Argentina,2000.0,0.418347,0.099359,0.032177,0.257245,-0.192119,-0.149923,4003431.0,12.196486,...,7708.099115,1.037287,16436817.0,NaN,2.284701,1.990125,51.1,37.7,NaN,1062.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Venezuela,2017.0,-1.207137,-1.272082,-1.423879,-1.976389,-1.370064,-2.236806,3474491.0,52.636676,...,NaN,NaN,12606669.0,NaN,NaN,NaN,NaN,NaN,49.876745,96.0
490,Venezuela,2018.0,-1.434810,-1.351146,-1.584651,-2.363184,-1.466074,-2.322770,3406369.0,52.534165,...,NaN,NaN,11984547.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
491,Venezuela,2019.0,-1.428393,-1.536778,-1.658469,-2.359256,-1.486213,-2.320636,3353461.0,52.459611,...,NaN,NaN,10920757.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
492,Venezuela,2020.0,-1.506591,-1.517866,-1.780275,-2.234419,-1.560315,-2.346105,3332977.0,52.413015,...,NaN,NaN,10459875.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
493,Venezuela,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,3351303.0,NaN,...,NaN,NaN,10665579.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
state_capture_database.columns

Index(['country', 'year', 'wgi_VoiceAndAccountability',
       'wgi_PoliticalStability_Violence', 'wgi_GovernmentEffectiveness',
       'wgi_RegulatoryQuality', 'wgi_ControlOfCorruption', 'wgi_RuleofLaw',
       'WB_RuralPopulation', 'WB_ForestArea_Percent_of_LandArea',
       'WB_AgriculturalLand_Percent_of_LandArea',
       'WB_Rural_Population_Percent_of_Total_Pop',
       'WB_Net_ODA_Received_Percent_of_GNI',
       'WB_Net_ODA_Received_Per_Capita_USDollars', 'WB_Net_ODA_Received_USD',
       'WB_Net_FDI_Inflows_Percent_of_GDP', 'WB_Total_Population',
       'WB_Urban_Population_Percent_of_Total_Pop', 'WB_Net_FDI_Inflows_USD',
       'WB_GDP_Growth_Annual_Percentage', 'WB_GDPPC_Growth_Annual_Percentage',
       'WB_Inflation_Consumer_Prices_Annual_Percent', 'WB_Total_Reserves_USD',
       'WB_GDP_USD', 'WB_GDPPC_USD',
       'WB_Inflation_GDP_Deflator_Annual_Percent', 'WB_Labor_Force_Total',
       'WB_Literacy_Rate_Adult_Total_Percent',
       'WB_Total_Nat_Resource_Rents_Percent_of_GDP',
       'WB_Oil_Rents_Percent_of_GDP', 'WB_Gini_Index',
       'WB_Income_Share_Held_By_Highest_10_Percent',
       'WB_Intentional_Homicides_Per_100000_People',
       'WB_Patent_Applications_Residents'],
      dtype='object')

# **33.WB_Informal_Economy_Total_Percentage**

In [99]:
fname = "/content/drive/MyDrive/Python/State Capture Latin American Dataset/WB_Informal Economy Database/informal-economy-database.csv"
WB_Informal_Economy = pd.read_csv(fname)
WB_Informal_Economy.head(3)

,Economy,Code,1990,1991,1992,1993,1994,1995,1996,1997,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Albania,ALB,36.2,36.0,35.0,35.0,35.4,35.1,34.6,34.0,...,30.9,30.4,30.3,30.5,30.7,30.7,30.4,NaN,NaN,NaN
1,Algeria,DZA,30.0,29.9,29.9,29.8,29.8,30.1,30.2,30.2,...,29.8,29.7,29.0,28.6,28.3,28.1,27.9,NaN,NaN,NaN
2,Angola,AGO,42.0,41.3,41.2,41.6,41.1,40.2,40.8,39.6,...,40.7,40.0,39.8,39.4,39.2,39.2,39.2,NaN,NaN,NaN

In [100]:
WB_Informal_Economy['Economy '].unique()

array(['Albania', 'Algeria', 'Angola', 'Argentina', 'Armenia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
       'Brazil', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba ', 'Cyprus', 'Czech Republic',
       'Denmark', 'Dominican Republic', 'Ecuador', 'Egypt, Arab Rep.',
       'El Salvador', 'Equatorial Guinea', 'Estonia', 'Eswatini',
       'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran, Islamic Rep.', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Korea, Rep.',
       'Kuwait', 'Kyrgyz Republic', 'Lao PDR', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Lithuania', 'Luxembourg', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania',
       'Mauritius', 'Mexico', 'Moldova', 'Mongolia', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia',
       'Norway', 'Oman', 'Pakistan', 'Panama', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Saudi Arabia', 'Senegal',
       'Sierra Leone', 'Singapore', 'Slovak Republic', 'Slovenia',
       'South Africa', 'Spain', 'Sri Lanka', 'St. Lucia',
       'St. Vincent and the Grenadines', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Tanzania',
       'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Venezuela, RB', 'Vietnam',
       'Yemen, Rep.', 'Zambia', 'Zimbabwe'], dtype=object)

In [101]:
WB_Informal_Economy = WB_Informal_Economy.drop(columns='Code')
WB_Informal_Economy.head(3)

,Economy,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Albania,36.2,36.0,35.0,35.0,35.4,35.1,34.6,34.0,33.6,...,30.9,30.4,30.3,30.5,30.7,30.7,30.4,NaN,NaN,NaN
1,Algeria,30.0,29.9,29.9,29.8,29.8,30.1,30.2,30.2,30.3,...,29.8,29.7,29.0,28.6,28.3,28.1,27.9,NaN,NaN,NaN
2,Angola,42.0,41.3,41.2,41.6,41.1,40.2,40.8,39.6,40.0,...,40.7,40.0,39.8,39.4,39.2,39.2,39.2,NaN,NaN,NaN

In [102]:
WB_Informal_Economy = WB_Informal_Economy.set_index('Economy ')

In [103]:
countries_new = ['Argentina',
 'Bolivia',
 'Brazil',
 'Chile',
 'Colombia',
 'Costa Rica',
 'Cuba ',
 'Dominican Republic',
 'Ecuador',
 'El Salvador',
 'Guatemala',
 'Honduras',
 'Mexico',
 'Nicaragua',
 'Panama',
 'Paraguay',
 'Peru',
 'Uruguay',
 'Venezuela, RB']

In [104]:
WB_Informal_Economy = WB_Informal_Economy.loc[countries_new].reset_index()
WB_Informal_Economy

,Economy,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Argentina,24.3,24.5,24.3,23.9,23.8,23.3,23.0,23.2,23.2,...,22.1,21.8,21.6,21.5,21.3,21.2,21.1,NaN,NaN,NaN
1,Bolivia,67.7,67.5,66.9,66.4,66.5,66.0,65.6,65.0,64.0,...,60.1,59.1,58.3,56.5,55.7,54.8,53.8,NaN,NaN,NaN
2,Brazil,38.8,38.5,38.1,37.7,37.2,36.7,35.7,35.8,35.6,...,34.5,34.1,34.0,33.7,33.5,33.4,33.4,NaN,NaN,NaN
3,Chile,23.1,22.8,22.7,22.4,22.0,21.6,21.1,20.8,20.5,...,17.2,17.0,16.8,16.6,16.4,16.2,16.1,NaN,NaN,NaN
4,Colombia,35.4,35.6,35.4,35.3,35.0,34.9,34.5,34.2,33.9,...,32.5,32.0,31.6,31.2,30.8,30.5,30.2,NaN,NaN,NaN
5,Costa Rica,27.8,27.5,27.3,27.1,26.9,26.6,26.2,26.1,25.9,...,22.5,22.2,22.0,21.7,21.4,21.3,21.1,NaN,NaN,NaN
6,Cuba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Dominican Republic,38.4,38.2,38.1,37.5,36.8,36.3,35.8,35.3,34.8,...,28.8,28.5,28.3,28.0,27.6,27.2,26.8,NaN,NaN,NaN
8,Ecuador,28.2,28.8,29.1,28.8,28.9,29.2,29.2,29.5,29.7,...,29.2,28.8,28.5,28.4,28.4,28.3,28.1,NaN,NaN,NaN
9,El Salvador,49.7,49.7,49.5,49.4,49.1,48.3,47.8,47.2,46.9,...,42.0,41.7,41.5,41.2,41.0,40.8,NaN,NaN,NaN,NaN
10,Guatemala,51.5,51.6,51.4,51.2,51.1,50.7,50.6,50.2,49.6,...,47.8,47.1,47.2,47.1,47.2,47.1,47.0,NaN,NaN,NaN
11,Honduras,47.9,50.7,50.6,50.5,49.8,49.1,49.0,48.8,48.2,...,44.0,44.1,44.1,44.3,44.1,43.9,NaN,NaN,NaN,NaN
12,Mexico,31.2,31.0,30.9,30.8,30.7,30.4,30.4,30.5,30.4,...,28.1,28.0,27.9,27.8,27.6,27.5,27.4,NaN,NaN,NaN
13,Nicaragua,41.1,42.0,42.1,42.1,42.4,42.5,42.7,43.0,43.1,...,42.7,42.4,42.2,41.8,41.3,41.0,NaN,NaN,NaN,NaN
14,Panama,65.8,66.1,66.6,65.9,65.0,64.1,63.3,62.9,62.1,...,53.8,52.2,50.3,48.9,47.5,46.0,NaN,NaN,NaN,NaN
15,Paraguay,39.8,39.3,38.9,38.5,38.2,38.0,37.3,37.6,37.2,...,36.9,36.7,36.3,36.2,36.0,35.8,NaN,NaN,NaN,NaN
16,Peru,56.7,57.2,57.0,57.0,57.0,56.6,56.3,55.8,55.5,...,49.0,47.9,46.9,46.2,45.6,45.2,44.8,NaN,NaN,NaN
17,Uruguay,50.1,49.9,49.7,49.3,49.1,48.7,48.1,47.8,46.9,...,44.1,43.8,43.4,43.0,42.7,42.5,42.4,NaN,NaN,NaN
18,"Venezuela, RB",28.9,28.9,29.1,28.9,29.0,29.2,29.4,29.7,29.9,...,30.0,29.8,29.7,29.2,30.3,30.6,30.8,NaN,NaN,NaN

In [105]:

WB_Informal_Economy = WB_Informal_Economy.iloc[:, [0,7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32]]
WB_Informal_Economy = WB_Informal_Economy.drop(columns='Economy ')

In [106]:
WB_Informal_Economy = WB_Informal_Economy.T

In [107]:
WB_Informal_Economy.columns = countries
WB_Informal_Economy

,Argentina,Bolivia,Brazil,Chile,Colombia,Costa Rica,Cuba,Dominican Republic,Ecuador,El Salvador,Guatemala,Honduras,Mexico,Nicaragua,Panama,Paraguay,Peru,Uruguay,"Venezuela, RB"
1996,23.0,65.6,35.7,21.1,34.5,26.2,NaN,35.8,29.2,47.8,50.6,49.0,30.4,42.7,63.3,37.3,56.3,48.1,29.4
1997,23.2,65.0,35.8,20.8,34.2,26.1,NaN,35.3,29.5,47.2,50.2,48.8,30.5,43.0,62.9,37.6,55.8,47.8,29.7
1998,23.2,64.0,35.6,20.5,33.9,25.9,NaN,34.8,29.7,46.9,49.6,48.2,30.4,43.1,62.1,37.2,55.5,46.9,29.9
1999,23.1,63.4,35.9,20.2,33.8,25.5,NaN,34.2,29.9,46.4,49.0,47.9,30.1,43.1,61.4,36.9,55.3,46.4,30.1
2000,23.0,63.3,36.0,20.0,34.2,25.2,NaN,33.4,30.3,45.8,48.8,47.4,29.9,43.1,60.5,37.5,55.4,46.1,30.3
2001,22.9,63.4,35.9,19.8,34.3,25.1,NaN,32.6,30.9,45.3,48.7,46.8,29.7,43.3,60.4,37.1,55.3,46.0,30.5
2002,22.7,63.4,36.0,19.6,34.3,24.9,NaN,32.1,30.4,44.7,48.3,46.7,29.6,43.0,60.6,37.3,55.3,45.7,30.6
2003,22.9,63.4,36.0,19.5,34.4,24.7,NaN,31.7,30.4,44.4,48.1,46.4,29.4,43.4,60.6,37.4,55.1,45.6,30.8
2004,23.2,63.9,36.2,19.3,34.3,24.4,NaN,31.5,30.8,43.9,48.1,45.8,29.4,43.4,60.5,37.7,55.0,46.0,31.1
2005,23.2,63.8,36.3,19.1,34.2,24.4,NaN,31.2,30.7,43.6,48.4,45.6,29.2,43.5,60.5,37.5,54.7,46.1,31.2
2006,23.2,63.7,36.2,18.8,33.8,24.2,NaN,30.9,30.6,43.3,48.4,45.6,29.1,43.3,60.0,37.4,54.3,46.1,31.1
2007,23.0,63.5,36.0,18.5,33.5,24.0,NaN,30.5,30.4,43.0,47.9,45.1,28.8,43.1,59.0,37.5,53.7,46.1,30.9
2008,22.8,63.2,35.7,18.1,33.2,23.6,NaN,30.1,30.2,42.6,47.5,44.6,28.5,42.9,58.0,37.4,52.8,45.7,30.8
2009,22.6,62.6,35.4,17.8,33.1,23.2,NaN,29.6,29.9,42.2,47.3,44.7,28.2,42.8,57.7,37.1,51.9,45.5,30.5
2010,22.4,62.3,35.1,17.7,33.0,22.8,NaN,29.3,29.6,42.3,47.1,44.7,28.3,42.8,56.5,36.8,51.0,45.1,30.4
2011,22.2,61.4,34.8,17.4,32.8,22.5,NaN,29.1,29.4,42.1,47.1,44.4,28.1,42.8,55.1,36.7,50.0,45.1,30.3
2012,22.1,60.1,34.5,17.2,32.5,22.5,NaN,28.8,29.2,42.0,47.8,44.0,28.1,42.7,53.8,36.9,49.0,44.1,30.0
2013,21.8,59.1,34.1,17.0,32.0,22.2,NaN,28.5,28.8,41.7,47.1,44.1,28.0,42.4,52.2,36.7,47.9,43.8,29.8
2014,21.6,58.3,34.0,16.8,31.6,22.0,NaN,28.3,28.5,41.5,47.2,44.1,27.9,42.2,50.3,36.3,46.9,43.4,29.7
2015,21.5,56.5,33.7,16.6,31.2,21.7,NaN,28.0,28.4,41.2,47.1,44.3,27.8,41.8,48.9,36.2,46.2,43.0,29.2
2016,21.3,55.7,33.5,16.4,30.8,21.4,NaN,27.6,28.4,41.0,47.2,44.1,27.6,41.3,47.5,36.0,45.6,42.7,30.3
2017,21.2,54.8,33.4,16.2,30.5,21.3,NaN,27.2,28.3,40.8,47.1,43.9,27.5,41.0,46.0,35.8,45.2,42.5,30.6
2018,21.1,53.8,33.4,16.1,30.2,21.1,NaN,26.8,28.1,NaN,47.0,NaN,27.4,NaN,NaN,NaN,44.8,42.4,30.8
2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
# creating series of the individual country variable data to concat vertically 
Argentina = WB_Informal_Economy['Argentina']
Bolivia = WB_Informal_Economy['Bolivia']
Brazil = WB_Informal_Economy['Brazil']
Chile = WB_Informal_Economy['Chile']
Colombia = WB_Informal_Economy['Colombia']
Costa_Rica = WB_Informal_Economy['Costa Rica']
Cuba = WB_Informal_Economy['Cuba']
Dominican_Republic = WB_Informal_Economy['Dominican Republic']
Ecuador = WB_Informal_Economy['Ecuador']
El_Salvador = WB_Informal_Economy['El Salvador']
Guatemala = WB_Informal_Economy['Guatemala']
Honduras = WB_Informal_Economy['Honduras']
Mexico = WB_Informal_Economy['Mexico']
Nicaragua = WB_Informal_Economy['Nicaragua']
Panama = WB_Informal_Economy['Panama']
Paraguay = WB_Informal_Economy['Paraguay']
Peru = WB_Informal_Economy['Peru']
Uruguay = WB_Informal_Economy['Uruguay']
Venezuela = WB_Informal_Economy['Venezuela, RB']

# creating a series of the variable pooled by country 
WB_Informal_Economy = pd.concat([Argentina, Bolivia, Brazil, Chile, Colombia, Costa_Rica, Cuba, Dominican_Republic, Ecuador, El_Salvador, Guatemala, Honduras, Mexico, Nicaragua, Panama, Paraguay, Peru, Uruguay, Venezuela], ignore_index=True,  axis=0, sort=False)
WB_Informal_Economy

# adding the concatenated series to the main state capture dataframe
# adding wgi_PoliticalStability_Violence variable to the dataframe 
state_capture_database['WB_Informal_Economy'] = WB_Informal_Economy
state_capture_database

,country,year,wgi_VoiceAndAccountability,wgi_PoliticalStability_Violence,wgi_GovernmentEffectiveness,wgi_RegulatoryQuality,wgi_ControlOfCorruption,wgi_RuleofLaw,WB_RuralPopulation,WB_ForestArea_Percent_of_LandArea,...,WB_Inflation_GDP_Deflator_Annual_Percent,WB_Labor_Force_Total,WB_Literacy_Rate_Adult_Total_Percent,WB_Total_Nat_Resource_Rents_Percent_of_GDP,WB_Oil_Rents_Percent_of_GDP,WB_Gini_Index,WB_Income_Share_Held_By_Highest_10_Percent,WB_Intentional_Homicides_Per_100000_People,WB_Patent_Applications_Residents,WB_Informal_Economy
0,Argentina,1996.0,0.391903,0.112986,0.165690,0.518067,-0.101317,0.075553,4100563.0,12.463377,...,-0.052375,15433978.0,NaN,1.631056,1.420051,49.5,36.9,NaN,1097.0,23.0
1,Argentina,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,4077785.0,12.396654,...,-0.463913,15859936.0,NaN,1.440126,1.247829,49.1,36.4,NaN,824.0,23.2
2,Argentina,1998.0,0.308850,-0.131970,0.376485,0.570877,-0.113424,-0.005769,4053893.0,12.329931,...,-1.705280,16168747.0,NaN,0.821634,0.639159,50.7,38.1,NaN,861.0,23.2
3,Argentina,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,4028898.0,12.263208,...,-1.836558,16262854.0,NaN,1.361018,1.127952,49.8,37.0,NaN,899.0,23.1
4,Argentina,2000.0,0.418347,0.099359,0.032177,0.257245,-0.192119,-0.149923,4003431.0,12.196486,...,1.037287,16436817.0,NaN,2.284701,1.990125,51.1,37.7,NaN,1062.0,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Venezuela,2017.0,-1.207137,-1.272082,-1.423879,-1.976389,-1.370064,-2.236806,3474491.0,52.636676,...,NaN,12606669.0,NaN,NaN,NaN,NaN,NaN,49.876745,96.0,30.6
490,Venezuela,2018.0,-1.434810,-1.351146,-1.584651,-2.363184,-1.466074,-2.322770,3406369.0,52.534165,...,NaN,11984547.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.8
491,Venezuela,2019.0,-1.428393,-1.536778,-1.658469,-2.359256,-1.486213,-2.320636,3353461.0,52.459611,...,NaN,10920757.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
492,Venezuela,2020.0,-1.506591,-1.517866,-1.780275,-2.234419,-1.560315,-2.346105,3332977.0,52.413015,...,NaN,10459875.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
493,Venezuela,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,3351303.0,NaN,...,NaN,10665579.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# **34.IADB_DPI2020_YRSOFFC & PRTYIN & PARTYAGE**

In [109]:
fname = "/content/drive/MyDrive/Python/State Capture Latin American Dataset/IADB_DatabaseOnPoliticalInstitutions2020/DPI_2020.csv"
IADB_DPI2020 = pd.read_csv(fname)
IADB_DPI2020 = IADB_DPI2020[['year', 'countryname', 'yrsoffc', 'prtyin', 'partyage']]
IADB_DPI2020.head(3)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (16,20,23,28,32,34,37,41,43,46,50,62,67,94,99) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

   year  countryname  yrsoffc  prtyin  partyage
0  1975  Turk Cyprus      1.0  -999.0       NaN
1  1976  Turk Cyprus      1.0  -999.0       NaN
2  1977  Turk Cyprus      2.0  -999.0       NaN

In [110]:
greaterequal = IADB_DPI2020['year'] >= 1996
lessequal = IADB_DPI2020['year'] <=2020
timeperiod = greaterequal & lessequal

IADB_DPI2020 = IADB_DPI2020[timeperiod]
IADB_DPI2020

      year  countryname  yrsoffc  prtyin  partyage
21    1996  Turk Cyprus     21.0  -999.0      17.0
22    1997  Turk Cyprus     22.0  -999.0      18.0
23    1998  Turk Cyprus     23.0  -999.0      19.0
24    1999  Turk Cyprus     24.0  -999.0      18.0
25    2000  Turk Cyprus     25.0  -999.0      19.0
...    ...          ...      ...     ...       ...
8195  2016     Zimbabwe     29.0    36.0      35.0
8196  2017     Zimbabwe     30.0    37.0      36.0
8197  2018     Zimbabwe      1.0    38.0      37.0
8198  2019     Zimbabwe      2.0    39.0      28.5
8199  2020     Zimbabwe      3.0    40.0      29.5

[4462 rows x 5 columns]

In [111]:
countries_new = ['Argentina',
 'Bolivia',
 'Brazil',
 'Chile',
 'Colombia',
 'Costa Rica',
 'Cuba',
 'Dom. Rep.',
 'Ecuador',
 'El Salvador',
 'Guatemala',
 'Honduras',
 'Mexico',
 'Nicaragua',
 'Panama',
 'Paraguay',
 'Peru',
 'Uruguay',
 'Venezuela']

In [112]:
IADB_DPI_2020 = IADB_DPI2020.set_index('countryname').loc[countries_new].reset_index()
IADB_DPI_2020

    countryname  year  yrsoffc  prtyin   partyage
0     Argentina  1996      7.0     7.0  24.500000
1     Argentina  1997      8.0     8.0  25.500000
2     Argentina  1998      9.0     9.0  26.666666
3     Argentina  1999     10.0    10.0  27.666666
4     Argentina  2000      1.0     1.0  16.000000
..          ...   ...      ...     ...        ...
470   Venezuela  2016      3.0    18.0   8.500000
471   Venezuela  2017      4.0    19.0   9.500000
472   Venezuela  2018      5.0    20.0  10.500000
473   Venezuela  2019      6.0    21.0  11.500000
474   Venezuela  2020      7.0    22.0  12.500000

[475 rows x 5 columns]

In [113]:
state_capture_database = state_capture_database.merge(IADB_DPI_2020, left_on=['country', 'year'], right_on=['countryname', 'year'], how='left')
state_capture_database

,country,year,wgi_VoiceAndAccountability,wgi_PoliticalStability_Violence,wgi_GovernmentEffectiveness,wgi_RegulatoryQuality,wgi_ControlOfCorruption,wgi_RuleofLaw,WB_RuralPopulation,WB_ForestArea_Percent_of_LandArea,...,WB_Oil_Rents_Percent_of_GDP,WB_Gini_Index,WB_Income_Share_Held_By_Highest_10_Percent,WB_Intentional_Homicides_Per_100000_People,WB_Patent_Applications_Residents,WB_Informal_Economy,countryname,yrsoffc,prtyin,partyage
0,Argentina,1996.0,0.391903,0.112986,0.165690,0.518067,-0.101317,0.075553,4100563.0,12.463377,...,1.420051,49.5,36.9,NaN,1097.0,23.0,Argentina,7.0,7.0,24.500000
1,Argentina,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,4077785.0,12.396654,...,1.247829,49.1,36.4,NaN,824.0,23.2,Argentina,8.0,8.0,25.500000
2,Argentina,1998.0,0.308850,-0.131970,0.376485,0.570877,-0.113424,-0.005769,4053893.0,12.329931,...,0.639159,50.7,38.1,NaN,861.0,23.2,Argentina,9.0,9.0,26.666666
3,Argentina,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,4028898.0,12.263208,...,1.127952,49.8,37.0,NaN,899.0,23.1,Argentina,10.0,10.0,27.666666
4,Argentina,2000.0,0.418347,0.099359,0.032177,0.257245,-0.192119,-0.149923,4003431.0,12.196486,...,1.990125,51.1,37.7,NaN,1062.0,23.0,Argentina,1.0,1.0,16.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Venezuela,2017.0,-1.207137,-1.272082,-1.423879,-1.976389,-1.370064,-2.236806,3474491.0,52.636676,...,NaN,NaN,NaN,49.876745,96.0,30.6,Venezuela,4.0,19.0,9.500000
490,Venezuela,2018.0,-1.434810,-1.351146,-1.584651,-2.363184,-1.466074,-2.322770,3406369.0,52.534165,...,NaN,NaN,NaN,NaN,NaN,30.8,Venezuela,5.0,20.0,10.500000
491,Venezuela,2019.0,-1.428393,-1.536778,-1.658469,-2.359256,-1.486213,-2.320636,3353461.0,52.459611,...,NaN,NaN,NaN,NaN,NaN,NaN,Venezuela,6.0,21.0,11.500000
492,Venezuela,2020.0,-1.506591,-1.517866,-1.780275,-2.234419,-1.560315,-2.346105,3332977.0,52.413015,...,NaN,NaN,NaN,NaN,NaN,NaN,Venezuela,7.0,22.0,12.500000
493,Venezuela,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,3351303.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [114]:
state_capture_database = state_capture_database.drop(columns='countryname')
state_capture_database = state_capture_database.rename(columns={"yrsoffc": "IADB_DPI2020_YRSOFFC"})
state_capture_database = state_capture_database.rename(columns={"prtyin": "IADB_DPI2020_PRTYIN"})
state_capture_database = state_capture_database.rename(columns={"partyage": "IADB_DPI2020_PARTYAGE"})

In [115]:
state_capture_database

,country,year,wgi_VoiceAndAccountability,wgi_PoliticalStability_Violence,wgi_GovernmentEffectiveness,wgi_RegulatoryQuality,wgi_ControlOfCorruption,wgi_RuleofLaw,WB_RuralPopulation,WB_ForestArea_Percent_of_LandArea,...,WB_Total_Nat_Resource_Rents_Percent_of_GDP,WB_Oil_Rents_Percent_of_GDP,WB_Gini_Index,WB_Income_Share_Held_By_Highest_10_Percent,WB_Intentional_Homicides_Per_100000_People,WB_Patent_Applications_Residents,WB_Informal_Economy,IADB_DPI2020_YRSOFFC,IADB_DPI2020_PRTYIN,IADB_DPI2020_PARTYAGE
0,Argentina,1996.0,0.391903,0.112986,0.165690,0.518067,-0.101317,0.075553,4100563.0,12.463377,...,1.631056,1.420051,49.5,36.9,NaN,1097.0,23.0,7.0,7.0,24.500000
1,Argentina,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,4077785.0,12.396654,...,1.440126,1.247829,49.1,36.4,NaN,824.0,23.2,8.0,8.0,25.500000
2,Argentina,1998.0,0.308850,-0.131970,0.376485,0.570877,-0.113424,-0.005769,4053893.0,12.329931,...,0.821634,0.639159,50.7,38.1,NaN,861.0,23.2,9.0,9.0,26.666666
3,Argentina,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,4028898.0,12.263208,...,1.361018,1.127952,49.8,37.0,NaN,899.0,23.1,10.0,10.0,27.666666
4,Argentina,2000.0,0.418347,0.099359,0.032177,0.257245,-0.192119,-0.149923,4003431.0,12.196486,...,2.284701,1.990125,51.1,37.7,NaN,1062.0,23.0,1.0,1.0,16.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Venezuela,2017.0,-1.207137,-1.272082,-1.423879,-1.976389,-1.370064,-2.236806,3474491.0,52.636676,...,NaN,NaN,NaN,NaN,49.876745,96.0,30.6,4.0,19.0,9.500000
490,Venezuela,2018.0,-1.434810,-1.351146,-1.584651,-2.363184,-1.466074,-2.322770,3406369.0,52.534165,...,NaN,NaN,NaN,NaN,NaN,NaN,30.8,5.0,20.0,10.500000
491,Venezuela,2019.0,-1.428393,-1.536778,-1.658469,-2.359256,-1.486213,-2.320636,3353461.0,52.459611,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,21.0,11.500000
492,Venezuela,2020.0,-1.506591,-1.517866,-1.780275,-2.234419,-1.560315,-2.346105,3332977.0,52.413015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,22.0,12.500000
493,Venezuela,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,3351303.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# **35.HERITAGE_FOUNDATION_VARIABLES**

In [116]:
# reading in the data

fname2021 = "/content/drive/MyDrive/Python/State Capture Latin American Dataset/Heritage Foundation/2021.csv"
fname2020 = "/content/drive/MyDrive/Python/State Capture Latin American Dataset/Heritage Foundation/2020.csv"
fname2019 = "/content/drive/MyDrive/Python/State Capture Latin American Dataset/Heritage Foundation/2019.csv"
fname2018 = "/content/drive/MyDrive/Python/State Capture Latin American Dataset/Heritage Foundation/2018.csv"
fname2017 = "/content/drive/MyDrive/Python/State Capture Latin American Dataset/Heritage Foundation/2017.csv"
fname2016 = "/content/drive/MyDrive/Python/State Capture Latin American Dataset/Heritage Foundation/2016.csv"
fname2015 = "/content/drive/MyDrive/Python/State Capture Latin American Dataset/Heritage Foundation/2015.csv"
fname2014 = "/content/drive/MyDrive/Python/State Capture Latin American Dataset/Heritage Foundation/2014.csv"
fname2013 = "/content/drive/MyDrive/Python/State Capture Latin American Dataset/Heritage Foundation/2013.csv"
fname2012 = "/content/drive/MyDrive/Python/State Capture Latin American Dataset/Heritage Foundation/2012.csv"
fname2011 = "/content/drive/MyDrive/Python/State Capture Latin American Dataset/Heritage Foundation/2011.csv"
fname2010 = "/content/drive/MyDrive/Python/State Capture Latin American Dataset/Heritage Foundation/2010.csv"
fname2009 = "/content/drive/MyDrive/Python/State Capture Latin American Dataset/Heritage Foundation/2009.csv"
fname2008 = "/content/drive/MyDrive/Python/State Capture Latin American Dataset/Heritage Foundation/2008.csv"
fname2007 = "/content/drive/MyDrive/Python/State Capture Latin American Dataset/Heritage Foundation/2007.csv"
fname2006 = "/content/drive/MyDrive/Python/State Capture Latin American Dataset/Heritage Foundation/2006.csv"
fname2005 = "/content/drive/MyDrive/Python/State Capture Latin American Dataset/Heritage Foundation/2005.csv"
fname2004 = "/content/drive/MyDrive/Python/State Capture Latin American Dataset/Heritage Foundation/2004.csv"
fname2003 = "/content/drive/MyDrive/Python/State Capture Latin American Dataset/Heritage Foundation/2003.csv"
fname2002 = "/content/drive/MyDrive/Python/State Capture Latin American Dataset/Heritage Foundation/2002.csv"
fname2001 = "/content/drive/MyDrive/Python/State Capture Latin American Dataset/Heritage Foundation/2001.csv"
fname2000 = "/content/drive/MyDrive/Python/State Capture Latin American Dataset/Heritage Foundation/2000.csv"
fname1999 = "/content/drive/MyDrive/Python/State Capture Latin American Dataset/Heritage Foundation/1999.csv"
fname1998 = "/content/drive/MyDrive/Python/State Capture Latin American Dataset/Heritage Foundation/1998.csv"
fname1997 = "/content/drive/MyDrive/Python/State Capture Latin American Dataset/Heritage Foundation/1997.csv"
fname1996 = "/content/drive/MyDrive/Python/State Capture Latin American Dataset/Heritage Foundation/1996.csv"

HF21 = pd.read_csv(fname2021)
HF20 = pd.read_csv(fname2020)
HF19 = pd.read_csv(fname2019)
HF18 = pd.read_csv(fname2018)
HF17 = pd.read_csv(fname2017)
HF16 = pd.read_csv(fname2016)
HF15 = pd.read_csv(fname2015)
HF14 = pd.read_csv(fname2014)
HF13 = pd.read_csv(fname2013)
HF12 = pd.read_csv(fname2012)
HF11 = pd.read_csv(fname2011)
HF10 = pd.read_csv(fname2010)
HF09 = pd.read_csv(fname2009)
HF08 = pd.read_csv(fname2008)
HF07 = pd.read_csv(fname2007)
HF06 = pd.read_csv(fname2006)
HF05 = pd.read_csv(fname2005)
HF04 = pd.read_csv(fname2004)
HF03 = pd.read_csv(fname2003)
HF02 = pd.read_csv(fname2002)
HF01 = pd.read_csv(fname2001)
HF00 = pd.read_csv(fname2000)
HF99 = pd.read_csv(fname1999)
HF98 = pd.read_csv(fname1998)
HF97 = pd.read_csv(fname1997)
HF96 = pd.read_csv(fname1996)

In [117]:
names = ['Name', 'year', 'Heritage_Found_Economic_Freedom', 'Heritage_Found_Property_Rights', 'Heritage_Found_Government_Integrity', 'Heritage_Found_Judicial_Effectiveness', 'Heritage_Found_Tax_Burden', 'Heritage_Found_Govt_Spending', 'Heritage_Found_Fiscal_Health', 'Heritage_Found_Business_Freedom', 'Heritage_Found_Labor_Freedom', 'Heritage_Found_Monetary_Freedom', 'Heritage_Found_Trade_Freedom', 'Heritage_Found_Investment_Freedom', 'Heritage_Found_Financial_Freedom']

In [118]:
names

['Name',
 'year',
 'Heritage_Found_Economic_Freedom',
 'Heritage_Found_Property_Rights',
 'Heritage_Found_Government_Integrity',
 'Heritage_Found_Judicial_Effectiveness',
 'Heritage_Found_Tax_Burden',
 'Heritage_Found_Govt_Spending',
 'Heritage_Found_Fiscal_Health',
 'Heritage_Found_Business_Freedom',
 'Heritage_Found_Labor_Freedom',
 'Heritage_Found_Monetary_Freedom',
 'Heritage_Found_Trade_Freedom',
 'Heritage_Found_Investment_Freedom',
 'Heritage_Found_Financial_Freedom']

In [119]:
HeritageFoundation = pd.concat([HF96, HF97, HF98, HF99, HF00, HF01, HF02, HF03, HF04, HF05, HF06, HF07, HF08, HF09, HF10, HF11, HF12, HF13, HF14, HF15, HF16, HF17, HF18, HF19, HF20, HF21], axis=0)
HeritageFoundation.columns = names
HeritageFoundation

,Name,year,Heritage_Found_Economic_Freedom,Heritage_Found_Property_Rights,Heritage_Found_Government_Integrity,Heritage_Found_Judicial_Effectiveness,Heritage_Found_Tax_Burden,Heritage_Found_Govt_Spending,Heritage_Found_Fiscal_Health,Heritage_Found_Business_Freedom,Heritage_Found_Labor_Freedom,Heritage_Found_Monetary_Freedom,Heritage_Found_Trade_Freedom,Heritage_Found_Investment_Freedom,Heritage_Found_Financial_Freedom
0,Afghanistan,1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Albania,1996,53.8,50.0,10.0,NaN,81.7,51.0,NaN,70.0,NaN,42.6,59.0,70.0,50.0
2,Algeria,1996,54.5,50.0,50.0,NaN,48.8,60.7,NaN,70.0,NaN,57.0,54.2,50.0,50.0
3,Angola,1996,24.4,30.0,10.0,NaN,54.6,0.0,NaN,40.0,NaN,0.0,25.0,30.0,30.0
4,Argentina,1996,74.7,70.0,70.0,NaN,80.2,89.4,NaN,85.0,NaN,77.5,60.0,70.0,70.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,Venezuela,2021,24.7,7.5,15.1,15.4,71.1,61.5,0.0,33.4,27.5,0.0,54.8,0.0,10.0
180,Vietnam,2021,61.7,51.3,38.0,35.9,80.3,86.0,82.8,65.2,62.6,69.0,79.0,40.0,50.0
181,Yemen,2021,NaN,16.5,17.0,19.7,NaN,95.6,48.9,46.1,57.7,54.6,67.4,NaN,NaN
182,Zambia,2021,50.4,37.2,30.5,26.2,71.1,78.5,5.3,66.1,45.6,71.2,68.2,55.0,50.0
183,Zimbabwe,2021,39.5,32.6,21.3,32.0,63.4,89.4,58.8,41.5,44.1,0.0,56.0,25.0,10.0

In [120]:
countries

['Argentina',
 'Bolivia',
 'Brazil',
 'Chile',
 'Colombia',
 'Costa Rica',
 'Cuba',
 'Dominican Republic',
 'Ecuador',
 'El Salvador',
 'Guatemala',
 'Honduras',
 'Mexico',
 'Nicaragua',
 'Panama',
 'Paraguay',
 'Peru',
 'Uruguay',
 'Venezuela, RB']

In [121]:
country_new = ['Argentina',
 'Bolivia',
 'Brazil',
 'Chile',
 'Colombia',
 'Costa Rica',
 'Cuba',
 'Dominican Republic',
 'Ecuador',
 'El Salvador',
 'Guatemala',
 'Honduras',
 'Mexico',
 'Nicaragua',
 'Panama',
 'Paraguay',
 'Peru',
 'Uruguay',
 'Venezuela']

In [122]:
HeritageFoundation = HeritageFoundation.set_index('Name').loc[country_new].reset_index()
HeritageFoundation

,Name,year,Heritage_Found_Economic_Freedom,Heritage_Found_Property_Rights,Heritage_Found_Government_Integrity,Heritage_Found_Judicial_Effectiveness,Heritage_Found_Tax_Burden,Heritage_Found_Govt_Spending,Heritage_Found_Fiscal_Health,Heritage_Found_Business_Freedom,Heritage_Found_Labor_Freedom,Heritage_Found_Monetary_Freedom,Heritage_Found_Trade_Freedom,Heritage_Found_Investment_Freedom,Heritage_Found_Financial_Freedom
0,Argentina,1996,74.7,70.0,70.0,NaN,80.2,89.4,NaN,85.0,NaN,77.5,60.0,70.0,70.0
1,Argentina,1997,73.3,70.0,52.0,NaN,80.2,90.0,NaN,85.0,NaN,82.0,60.0,70.0,70.0
2,Argentina,1998,70.9,70.0,34.0,NaN,77.7,83.3,NaN,85.0,NaN,87.7,60.0,70.0,70.0
3,Argentina,1999,70.6,70.0,28.0,NaN,77.6,83.9,NaN,85.0,NaN,89.8,61.2,70.0,70.0
4,Argentina,2000,70.0,70.0,30.0,NaN,74.0,79.7,NaN,85.0,NaN,89.6,62.0,70.0,70.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Venezuela,2017,27.0,6.8,11.6,10.3,72.5,51.5,15.2,39.7,28.5,16.8,60.7,0.0,10.0
490,Venezuela,2018,25.2,5.2,7.5,13.8,72.5,57.3,18.4,35.4,24.2,0.0,58.7,0.0,10.0
491,Venezuela,2019,25.9,7.6,7.9,13.1,74.7,58.1,17.6,33.9,28.0,0.0,60.0,0.0,10.0
492,Venezuela,2020,25.2,10.1,14.6,12.6,72.8,66.3,0.0,30.8,27.7,0.0,58.0,0.0,10.0
493,Venezuela,2021,24.7,7.5,15.1,15.4,71.1,61.5,0.0,33.4,27.5,0.0,54.8,0.0,10.0

In [123]:
state_capture_database

,country,year,wgi_VoiceAndAccountability,wgi_PoliticalStability_Violence,wgi_GovernmentEffectiveness,wgi_RegulatoryQuality,wgi_ControlOfCorruption,wgi_RuleofLaw,WB_RuralPopulation,WB_ForestArea_Percent_of_LandArea,...,WB_Total_Nat_Resource_Rents_Percent_of_GDP,WB_Oil_Rents_Percent_of_GDP,WB_Gini_Index,WB_Income_Share_Held_By_Highest_10_Percent,WB_Intentional_Homicides_Per_100000_People,WB_Patent_Applications_Residents,WB_Informal_Economy,IADB_DPI2020_YRSOFFC,IADB_DPI2020_PRTYIN,IADB_DPI2020_PARTYAGE
0,Argentina,1996.0,0.391903,0.112986,0.165690,0.518067,-0.101317,0.075553,4100563.0,12.463377,...,1.631056,1.420051,49.5,36.9,NaN,1097.0,23.0,7.0,7.0,24.500000
1,Argentina,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,4077785.0,12.396654,...,1.440126,1.247829,49.1,36.4,NaN,824.0,23.2,8.0,8.0,25.500000
2,Argentina,1998.0,0.308850,-0.131970,0.376485,0.570877,-0.113424,-0.005769,4053893.0,12.329931,...,0.821634,0.639159,50.7,38.1,NaN,861.0,23.2,9.0,9.0,26.666666
3,Argentina,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,4028898.0,12.263208,...,1.361018,1.127952,49.8,37.0,NaN,899.0,23.1,10.0,10.0,27.666666
4,Argentina,2000.0,0.418347,0.099359,0.032177,0.257245,-0.192119,-0.149923,4003431.0,12.196486,...,2.284701,1.990125,51.1,37.7,NaN,1062.0,23.0,1.0,1.0,16.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Venezuela,2017.0,-1.207137,-1.272082,-1.423879,-1.976389,-1.370064,-2.236806,3474491.0,52.636676,...,NaN,NaN,NaN,NaN,49.876745,96.0,30.6,4.0,19.0,9.500000
490,Venezuela,2018.0,-1.434810,-1.351146,-1.584651,-2.363184,-1.466074,-2.322770,3406369.0,52.534165,...,NaN,NaN,NaN,NaN,NaN,NaN,30.8,5.0,20.0,10.500000
491,Venezuela,2019.0,-1.428393,-1.536778,-1.658469,-2.359256,-1.486213,-2.320636,3353461.0,52.459611,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,21.0,11.500000
492,Venezuela,2020.0,-1.506591,-1.517866,-1.780275,-2.234419,-1.560315,-2.346105,3332977.0,52.413015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,22.0,12.500000
493,Venezuela,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,3351303.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [124]:
state_capture_database = state_capture_database.merge(HeritageFoundation, left_index=True, right_index=True)
state_capture_database

,country,year_x,wgi_VoiceAndAccountability,wgi_PoliticalStability_Violence,wgi_GovernmentEffectiveness,wgi_RegulatoryQuality,wgi_ControlOfCorruption,wgi_RuleofLaw,WB_RuralPopulation,WB_ForestArea_Percent_of_LandArea,...,Heritage_Found_Judicial_Effectiveness,Heritage_Found_Tax_Burden,Heritage_Found_Govt_Spending,Heritage_Found_Fiscal_Health,Heritage_Found_Business_Freedom,Heritage_Found_Labor_Freedom,Heritage_Found_Monetary_Freedom,Heritage_Found_Trade_Freedom,Heritage_Found_Investment_Freedom,Heritage_Found_Financial_Freedom
0,Argentina,1996.0,0.391903,0.112986,0.165690,0.518067,-0.101317,0.075553,4100563.0,12.463377,...,NaN,80.2,89.4,NaN,85.0,NaN,77.5,60.0,70.0,70.0
1,Argentina,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,4077785.0,12.396654,...,NaN,80.2,90.0,NaN,85.0,NaN,82.0,60.0,70.0,70.0
2,Argentina,1998.0,0.308850,-0.131970,0.376485,0.570877,-0.113424,-0.005769,4053893.0,12.329931,...,NaN,77.7,83.3,NaN,85.0,NaN,87.7,60.0,70.0,70.0
3,Argentina,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,4028898.0,12.263208,...,NaN,77.6,83.9,NaN,85.0,NaN,89.8,61.2,70.0,70.0
4,Argentina,2000.0,0.418347,0.099359,0.032177,0.257245,-0.192119,-0.149923,4003431.0,12.196486,...,NaN,74.0,79.7,NaN,85.0,NaN,89.6,62.0,70.0,70.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Venezuela,2017.0,-1.207137,-1.272082,-1.423879,-1.976389,-1.370064,-2.236806,3474491.0,52.636676,...,10.3,72.5,51.5,15.2,39.7,28.5,16.8,60.7,0.0,10.0
490,Venezuela,2018.0,-1.434810,-1.351146,-1.584651,-2.363184,-1.466074,-2.322770,3406369.0,52.534165,...,13.8,72.5,57.3,18.4,35.4,24.2,0.0,58.7,0.0,10.0
491,Venezuela,2019.0,-1.428393,-1.536778,-1.658469,-2.359256,-1.486213,-2.320636,3353461.0,52.459611,...,13.1,74.7,58.1,17.6,33.9,28.0,0.0,60.0,0.0,10.0
492,Venezuela,2020.0,-1.506591,-1.517866,-1.780275,-2.234419,-1.560315,-2.346105,3332977.0,52.413015,...,12.6,72.8,66.3,0.0,30.8,27.7,0.0,58.0,0.0,10.0
493,Venezuela,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,3351303.0,NaN,...,15.4,71.1,61.5,0.0,33.4,27.5,0.0,54.8,0.0,10.0

In [125]:
state_capture_database = state_capture_database.drop(columns=(['Name', 'year_y']))
state_capture_database = state_capture_database.rename(columns={"year_x": "year"})
state_capture_database

,country,year,wgi_VoiceAndAccountability,wgi_PoliticalStability_Violence,wgi_GovernmentEffectiveness,wgi_RegulatoryQuality,wgi_ControlOfCorruption,wgi_RuleofLaw,WB_RuralPopulation,WB_ForestArea_Percent_of_LandArea,...,Heritage_Found_Judicial_Effectiveness,Heritage_Found_Tax_Burden,Heritage_Found_Govt_Spending,Heritage_Found_Fiscal_Health,Heritage_Found_Business_Freedom,Heritage_Found_Labor_Freedom,Heritage_Found_Monetary_Freedom,Heritage_Found_Trade_Freedom,Heritage_Found_Investment_Freedom,Heritage_Found_Financial_Freedom
0,Argentina,1996.0,0.391903,0.112986,0.165690,0.518067,-0.101317,0.075553,4100563.0,12.463377,...,NaN,80.2,89.4,NaN,85.0,NaN,77.5,60.0,70.0,70.0
1,Argentina,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,4077785.0,12.396654,...,NaN,80.2,90.0,NaN,85.0,NaN,82.0,60.0,70.0,70.0
2,Argentina,1998.0,0.308850,-0.131970,0.376485,0.570877,-0.113424,-0.005769,4053893.0,12.329931,...,NaN,77.7,83.3,NaN,85.0,NaN,87.7,60.0,70.0,70.0
3,Argentina,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,4028898.0,12.263208,...,NaN,77.6,83.9,NaN,85.0,NaN,89.8,61.2,70.0,70.0
4,Argentina,2000.0,0.418347,0.099359,0.032177,0.257245,-0.192119,-0.149923,4003431.0,12.196486,...,NaN,74.0,79.7,NaN,85.0,NaN,89.6,62.0,70.0,70.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Venezuela,2017.0,-1.207137,-1.272082,-1.423879,-1.976389,-1.370064,-2.236806,3474491.0,52.636676,...,10.3,72.5,51.5,15.2,39.7,28.5,16.8,60.7,0.0,10.0
490,Venezuela,2018.0,-1.434810,-1.351146,-1.584651,-2.363184,-1.466074,-2.322770,3406369.0,52.534165,...,13.8,72.5,57.3,18.4,35.4,24.2,0.0,58.7,0.0,10.0
491,Venezuela,2019.0,-1.428393,-1.536778,-1.658469,-2.359256,-1.486213,-2.320636,3353461.0,52.459611,...,13.1,74.7,58.1,17.6,33.9,28.0,0.0,60.0,0.0,10.0
492,Venezuela,2020.0,-1.506591,-1.517866,-1.780275,-2.234419,-1.560315,-2.346105,3332977.0,52.413015,...,12.6,72.8,66.3,0.0,30.8,27.7,0.0,58.0,0.0,10.0
493,Venezuela,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,3351303.0,NaN,...,15.4,71.1,61.5,0.0,33.4,27.5,0.0,54.8,0.0,10.0

# **36.VDEM**

In [126]:
import pandas as pd

In [127]:
fname = "/content/drive/MyDrive/Python/State Capture Latin American Dataset/VDEM /VDEM_Full.csv"
VDEM = pd.read_csv(fname)
VDEM.head(3)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (364,365,366,394,410,821,831,832,930,1235,1252,1481,3063,3282,3283,3338,3340,3344,3345,3347,3348,3349) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,country_name,country_text_id,country_id,year,historical_date,project,historical,histname,codingstart,codingend,...,e_miurbpop,e_pefeliex,e_peinfmor,e_pelifeex,e_pematmor,e_wb_pop,e_civil_war,e_miinteco,e_miinterc,e_pt_coup
0,Mexico,MEX,3,1789,1789-12-31,1,1,Viceroyalty of New Spain,1789,2021,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
1,Mexico,MEX,3,1790,1790-12-31,1,1,Viceroyalty of New Spain,1789,2021,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
2,Mexico,MEX,3,1791,1791-12-31,1,1,Viceroyalty of New Spain,1789,2021,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN

In [128]:
countrys = ['Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia', 'Costa Rica', 'Cuba', 'Dominican Republic', 'Ecuador', 'El Salvador', 'Guatemala', 'Honduras', 'Mexico', 'Nicaragua', 'Panama', 'Paraguay', 'Peru', 'Uruguay', 'Venezeula']

In [129]:
countries

['Argentina',
 'Bolivia',
 'Brazil',
 'Chile',
 'Colombia',
 'Costa Rica',
 'Cuba',
 'Dominican Republic',
 'Ecuador',
 'El Salvador',
 'Guatemala',
 'Honduras',
 'Mexico',
 'Nicaragua',
 'Panama',
 'Paraguay',
 'Peru',
 'Uruguay',
 'Venezuela, RB']

In [130]:
VDEM = VDEM.set_index('country_name')
VDEM.head(3)

,country_text_id,country_id,year,historical_date,project,historical,histname,codingstart,codingend,codingstart_contemp,...,e_miurbpop,e_pefeliex,e_peinfmor,e_pelifeex,e_pematmor,e_wb_pop,e_civil_war,e_miinteco,e_miinterc,e_pt_coup
country_name,,,,,,,,,,,,,,,,,,,,,
Mexico,MEX,3,1789,1789-12-31,1,1,Viceroyalty of New Spain,1789,2021,1900.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
Mexico,MEX,3,1790,1790-12-31,1,1,Viceroyalty of New Spain,1789,2021,1900.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
Mexico,MEX,3,1791,1791-12-31,1,1,Viceroyalty of New Spain,1789,2021,1900.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN

In [131]:
countries

['Argentina',
 'Bolivia',
 'Brazil',
 'Chile',
 'Colombia',
 'Costa Rica',
 'Cuba',
 'Dominican Republic',
 'Ecuador',
 'El Salvador',
 'Guatemala',
 'Honduras',
 'Mexico',
 'Nicaragua',
 'Panama',
 'Paraguay',
 'Peru',
 'Uruguay',
 'Venezuela, RB']

In [132]:
VDEM = VDEM.loc[['Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia', 'Costa Rica', 'Cuba', 'Dominican Republic', 'Ecuador', 'El Salvador', 'Guatemala', 'Honduras', 'Mexico', 'Nicaragua', 'Panama', 'Paraguay', 'Peru', 'Uruguay', 'Venezuela']]
VDEM

,country_text_id,country_id,year,historical_date,project,historical,histname,codingstart,codingend,codingstart_contemp,...,e_miurbpop,e_pefeliex,e_peinfmor,e_pelifeex,e_pematmor,e_wb_pop,e_civil_war,e_miinteco,e_miinterc,e_pt_coup
country_name,,,,,,,,,,,,,,,,,,,,,
Argentina,ARG,37,1789,1789-12-31,1,1,Viceroyalty of Rio de la Plata,1789,2021,1900.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
Argentina,ARG,37,1790,1790-12-31,1,1,Viceroyalty of Rio de la Plata,1789,2021,1900.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
Argentina,ARG,37,1791,1791-12-31,1,1,Viceroyalty of Rio de la Plata,1789,2021,1900.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
Argentina,ARG,37,1792,1792-12-31,1,1,Viceroyalty of Rio de la Plata,1789,2021,1900.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
Argentina,ARG,37,1793,1793-12-31,1,1,Viceroyalty of Rio de la Plata,1789,2021,1900.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,VEN,51,2017,12/31/2017,0,1,Bolivarian Republic of Venezuela,1789,2021,1900.0,...,NaN,NaN,NaN,75.5,NaN,29402480.0,NaN,NaN,NaN,0.0
Venezuela,VEN,51,2018,12/31/2018,0,1,Bolivarian Republic of Venezuela,1789,2021,1900.0,...,NaN,NaN,NaN,75.4,NaN,28887117.0,NaN,NaN,NaN,0.0
Venezuela,VEN,51,2019,12/31/2019,0,1,Bolivarian Republic of Venezuela,1789,2021,1900.0,...,NaN,NaN,NaN,75.0,NaN,28515829.0,NaN,NaN,NaN,0.0
Venezuela,VEN,51,2020,12/31/2020,0,1,Bolivarian Republic of Venezuela,1789,2021,1900.0,...,NaN,NaN,NaN,75.1,NaN,28435943.0,NaN,NaN,NaN,0.0
Venezuela,VEN,51,2021,12/31/2021,0,1,Bolivarian Republic of Venezuela,1789,2021,1900.0,...,NaN,NaN,NaN,75.1,NaN,NaN,NaN,NaN,NaN,0.0

In [133]:
VDEM = VDEM.reset_index()
VDEM.head(2)

,country_name,country_text_id,country_id,year,historical_date,project,historical,histname,codingstart,codingend,...,e_miurbpop,e_pefeliex,e_peinfmor,e_pelifeex,e_pematmor,e_wb_pop,e_civil_war,e_miinteco,e_miinterc,e_pt_coup
0,Argentina,ARG,37,1789,1789-12-31,1,1,Viceroyalty of Rio de la Plata,1789,2021,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
1,Argentina,ARG,37,1790,1790-12-31,1,1,Viceroyalty of Rio de la Plata,1789,2021,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN

In [134]:
VDEM['country_name'].unique()

array(['Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia',
       'Costa Rica', 'Cuba', 'Dominican Republic', 'Ecuador',
       'El Salvador', 'Guatemala', 'Honduras', 'Mexico', 'Nicaragua',
       'Panama', 'Paraguay', 'Peru', 'Uruguay', 'Venezuela'], dtype=object)

In [135]:
countries

['Argentina',
 'Bolivia',
 'Brazil',
 'Chile',
 'Colombia',
 'Costa Rica',
 'Cuba',
 'Dominican Republic',
 'Ecuador',
 'El Salvador',
 'Guatemala',
 'Honduras',
 'Mexico',
 'Nicaragua',
 'Panama',
 'Paraguay',
 'Peru',
 'Uruguay',
 'Venezuela, RB']

In [136]:
country_new

['Argentina',
 'Bolivia',
 'Brazil',
 'Chile',
 'Colombia',
 'Costa Rica',
 'Cuba',
 'Dominican Republic',
 'Ecuador',
 'El Salvador',
 'Guatemala',
 'Honduras',
 'Mexico',
 'Nicaragua',
 'Panama',
 'Paraguay',
 'Peru',
 'Uruguay',
 'Venezuela']

In [137]:
VDEM1 = (VDEM['year'] >= 1996) & (VDEM['year'] <= 2021)
VDEM = VDEM[VDEM1]
VDEM

,country_name,country_text_id,country_id,year,historical_date,project,historical,histname,codingstart,codingend,...,e_miurbpop,e_pefeliex,e_peinfmor,e_pelifeex,e_pematmor,e_wb_pop,e_civil_war,e_miinteco,e_miinterc,e_pt_coup
207,Argentina,ARG,37,1996,12/31/1996,0,1,Argentine Nation/Republic,1789,2021,...,14066.392,76.568,20.2,73.5,NaN,35246376.0,0.0,0.0,0.0,0.0
208,Argentina,ARG,37,1997,12/31/1997,0,1,Argentine Nation/Republic,1789,2021,...,14244.044,76.806,19.6,73.6,NaN,35657438.0,0.0,0.0,0.0,0.0
209,Argentina,ARG,37,1998,12/31/1998,0,1,Argentine Nation/Republic,1789,2021,...,14421.696,77.044,19.1,73.7,NaN,36063451.0,0.0,0.0,0.0,0.0
210,Argentina,ARG,37,1999,12/31/1999,0,1,Argentine Nation/Republic,1789,2021,...,14599.348,77.282,18.5,73.8,NaN,36467218.0,0.0,0.0,0.0,0.0
211,Argentina,ARG,37,2000,12/31/2000,0,1,Argentine Nation/Republic,1789,2021,...,14777.000,77.520,18.0,74.2,63.0,36870796.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3946,Venezuela,VEN,51,2017,12/31/2017,0,1,Bolivarian Republic of Venezuela,1789,2021,...,NaN,NaN,NaN,75.5,NaN,29402480.0,NaN,NaN,NaN,0.0
3947,Venezuela,VEN,51,2018,12/31/2018,0,1,Bolivarian Republic of Venezuela,1789,2021,...,NaN,NaN,NaN,75.4,NaN,28887117.0,NaN,NaN,NaN,0.0
3948,Venezuela,VEN,51,2019,12/31/2019,0,1,Bolivarian Republic of Venezuela,1789,2021,...,NaN,NaN,NaN,75.0,NaN,28515829.0,NaN,NaN,NaN,0.0
3949,Venezuela,VEN,51,2020,12/31/2020,0,1,Bolivarian Republic of Venezuela,1789,2021,...,NaN,NaN,NaN,75.1,NaN,28435943.0,NaN,NaN,NaN,0.0
3950,Venezuela,VEN,51,2021,12/31/2021,0,1,Bolivarian Republic of Venezuela,1789,2021,...,NaN,NaN,NaN,75.1,NaN,NaN,NaN,NaN,NaN,0.0

In [138]:
VDEM = VDEM.reset_index().drop(columns=('index'))
VDEM

,country_name,country_text_id,country_id,year,historical_date,project,historical,histname,codingstart,codingend,...,e_miurbpop,e_pefeliex,e_peinfmor,e_pelifeex,e_pematmor,e_wb_pop,e_civil_war,e_miinteco,e_miinterc,e_pt_coup
0,Argentina,ARG,37,1996,12/31/1996,0,1,Argentine Nation/Republic,1789,2021,...,14066.392,76.568,20.2,73.5,NaN,35246376.0,0.0,0.0,0.0,0.0
1,Argentina,ARG,37,1997,12/31/1997,0,1,Argentine Nation/Republic,1789,2021,...,14244.044,76.806,19.6,73.6,NaN,35657438.0,0.0,0.0,0.0,0.0
2,Argentina,ARG,37,1998,12/31/1998,0,1,Argentine Nation/Republic,1789,2021,...,14421.696,77.044,19.1,73.7,NaN,36063451.0,0.0,0.0,0.0,0.0
3,Argentina,ARG,37,1999,12/31/1999,0,1,Argentine Nation/Republic,1789,2021,...,14599.348,77.282,18.5,73.8,NaN,36467218.0,0.0,0.0,0.0,0.0
4,Argentina,ARG,37,2000,12/31/2000,0,1,Argentine Nation/Republic,1789,2021,...,14777.000,77.520,18.0,74.2,63.0,36870796.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Venezuela,VEN,51,2017,12/31/2017,0,1,Bolivarian Republic of Venezuela,1789,2021,...,NaN,NaN,NaN,75.5,NaN,29402480.0,NaN,NaN,NaN,0.0
490,Venezuela,VEN,51,2018,12/31/2018,0,1,Bolivarian Republic of Venezuela,1789,2021,...,NaN,NaN,NaN,75.4,NaN,28887117.0,NaN,NaN,NaN,0.0
491,Venezuela,VEN,51,2019,12/31/2019,0,1,Bolivarian Republic of Venezuela,1789,2021,...,NaN,NaN,NaN,75.0,NaN,28515829.0,NaN,NaN,NaN,0.0
492,Venezuela,VEN,51,2020,12/31/2020,0,1,Bolivarian Republic of Venezuela,1789,2021,...,NaN,NaN,NaN,75.1,NaN,28435943.0,NaN,NaN,NaN,0.0
493,Venezuela,VEN,51,2021,12/31/2021,0,1,Bolivarian Republic of Venezuela,1789,2021,...,NaN,NaN,NaN,75.1,NaN,NaN,NaN,NaN,NaN,0.0

In [139]:
VDEM['country_name'].unique()

array(['Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia',
       'Costa Rica', 'Cuba', 'Dominican Republic', 'Ecuador',
       'El Salvador', 'Guatemala', 'Honduras', 'Mexico', 'Nicaragua',
       'Panama', 'Paraguay', 'Peru', 'Uruguay', 'Venezuela'], dtype=object)

In [140]:
VDEM = VDEM[['country_name', 'year', 'v2x_jucon', 'v2xlg_legcon', 'v2pscohesv', 'v2x_rule', 'v2xcl_prpty', 'v2xcl_acjst', 'v2x_cspart', 'v2psprlnks', 'v2lgcrrpt', 'v2exbribe', 'v2exembez', 'v2excrptps', 'v2mecenefm', 'v2xnp_pres', 'v2xnp_client', 'v2xps_party', 'v2x_accountability',
             'v2x_polyarchy', 'v2x_libdem', 'v2x_partipdem', 'v2x_delibdem', 'v2x_egaldem', 'v2exthftps', 'v2jucorrdc', 'v2juaccnt', 'v2jupoatck', 'v2jupurge', 'v2clkill', 'v2cltort',
             'v2clrspct', 'v2clrelig', 'v2clstown', 'v2csreprss', 'v2csantimv', 'v2mecorrpt', 'v2pepwrses', 'v2peedueq', 'v2pehealth', 'v2peprisch', 'v2pesecsch', 'v2petersch', 'v2cacamps',
             'v2caviol', 'v2caassemb', 'v2cagenmob', 'v2catrauni', 'v3psagefirst', 'v3psagepm', 'v3psagesecond', 'v3psagethird', 'v3cllabrig', 'v3lgcrrpt', 'v2x_veracc', 'v2x_horacc', 'v2x_neopat',
             'v2xnp_regcorr', 'v2x_civlib', 'v2x_clphy', 'v2x_clpol', 'v2x_clpriv', 'v2xpe_exlecon', 'v2x_corr', 'v2x_execorr', 'v2x_pubcorr', 'v2smgovdom', 'v2smpolsoc', 'e_democracy_breakdowns', 'e_fh_cl', 'e_fh_pr', 'e_fh_rol', 'e_fh_status', 'e_coups', 'e_p_polity', 'e_autoc', 'e_democ',
             'e_polcomp', 'e_polity2', 'e_ti_cpi', 'e_peaveduc', 'e_civil_war', 'e_pt_coup']]
VDEM

,country_name,year,v2x_jucon,v2xlg_legcon,v2pscohesv,v2x_rule,v2xcl_prpty,v2xcl_acjst,v2x_cspart,v2psprlnks,...,e_coups,e_p_polity,e_autoc,e_democ,e_polcomp,e_polity2,e_ti_cpi,e_peaveduc,e_civil_war,e_pt_coup
0,Argentina,1996,0.596,0.721,1.003,0.531,0.871,0.732,0.845,0.244,...,0.0,7.0,0.0,7.0,9.0,7.0,NaN,8.138,0.0,0.0
1,Argentina,1997,0.596,0.721,1.003,0.531,0.871,0.732,0.845,0.244,...,0.0,7.0,0.0,7.0,9.0,7.0,NaN,8.196,0.0,0.0
2,Argentina,1998,0.610,0.721,1.003,0.535,0.871,0.732,0.845,0.244,...,0.0,7.0,0.0,7.0,9.0,7.0,NaN,8.254,0.0,0.0
3,Argentina,1999,0.616,0.721,1.003,0.536,0.871,0.732,0.845,0.244,...,0.0,8.0,0.0,8.0,9.0,8.0,NaN,8.312,0.0,0.0
4,Argentina,2000,0.718,0.733,1.003,0.657,0.871,0.732,0.845,0.244,...,0.0,8.0,0.0,8.0,9.0,8.0,NaN,8.370,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Venezuela,2017,0.024,0.356,1.633,0.014,0.636,0.178,0.458,-1.675,...,NaN,-3.0,4.0,1.0,6.0,-3.0,18.0,6.630,NaN,0.0
490,Venezuela,2018,0.015,0.316,1.633,0.011,0.709,0.154,0.419,-1.371,...,NaN,-3.0,4.0,1.0,6.0,-3.0,18.0,6.630,NaN,0.0
491,Venezuela,2019,0.014,0.280,0.760,0.009,0.709,0.154,0.435,-1.371,...,NaN,NaN,NaN,NaN,NaN,NaN,16.0,6.630,NaN,0.0
492,Venezuela,2020,0.022,0.216,1.804,0.010,0.667,0.154,0.457,-1.477,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,6.630,NaN,0.0
493,Venezuela,2021,0.016,0.122,1.550,0.014,0.712,0.190,0.475,-1.263,...,NaN,NaN,NaN,NaN,NaN,NaN,14.0,6.630,NaN,0.0

In [141]:
state_capture_database = state_capture_database.merge(VDEM, left_index=True, right_index=True)
state_capture_database

,country,year_x,wgi_VoiceAndAccountability,wgi_PoliticalStability_Violence,wgi_GovernmentEffectiveness,wgi_RegulatoryQuality,wgi_ControlOfCorruption,wgi_RuleofLaw,WB_RuralPopulation,WB_ForestArea_Percent_of_LandArea,...,e_coups,e_p_polity,e_autoc,e_democ,e_polcomp,e_polity2,e_ti_cpi,e_peaveduc,e_civil_war,e_pt_coup
0,Argentina,1996.0,0.391903,0.112986,0.165690,0.518067,-0.101317,0.075553,4100563.0,12.463377,...,0.0,7.0,0.0,7.0,9.0,7.0,NaN,8.138,0.0,0.0
1,Argentina,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,4077785.0,12.396654,...,0.0,7.0,0.0,7.0,9.0,7.0,NaN,8.196,0.0,0.0
2,Argentina,1998.0,0.308850,-0.131970,0.376485,0.570877,-0.113424,-0.005769,4053893.0,12.329931,...,0.0,7.0,0.0,7.0,9.0,7.0,NaN,8.254,0.0,0.0
3,Argentina,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,4028898.0,12.263208,...,0.0,8.0,0.0,8.0,9.0,8.0,NaN,8.312,0.0,0.0
4,Argentina,2000.0,0.418347,0.099359,0.032177,0.257245,-0.192119,-0.149923,4003431.0,12.196486,...,0.0,8.0,0.0,8.0,9.0,8.0,NaN,8.370,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Venezuela,2017.0,-1.207137,-1.272082,-1.423879,-1.976389,-1.370064,-2.236806,3474491.0,52.636676,...,NaN,-3.0,4.0,1.0,6.0,-3.0,18.0,6.630,NaN,0.0
490,Venezuela,2018.0,-1.434810,-1.351146,-1.584651,-2.363184,-1.466074,-2.322770,3406369.0,52.534165,...,NaN,-3.0,4.0,1.0,6.0,-3.0,18.0,6.630,NaN,0.0
491,Venezuela,2019.0,-1.428393,-1.536778,-1.658469,-2.359256,-1.486213,-2.320636,3353461.0,52.459611,...,NaN,NaN,NaN,NaN,NaN,NaN,16.0,6.630,NaN,0.0
492,Venezuela,2020.0,-1.506591,-1.517866,-1.780275,-2.234419,-1.560315,-2.346105,3332977.0,52.413015,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,6.630,NaN,0.0
493,Venezuela,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,3351303.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,14.0,6.630,NaN,0.0

In [142]:
for ii in state_capture_database.columns:
  print(ii)

country
year_x
wgi_VoiceAndAccountability
wgi_PoliticalStability_Violence
wgi_GovernmentEffectiveness
wgi_RegulatoryQuality
wgi_ControlOfCorruption
wgi_RuleofLaw
WB_RuralPopulation
WB_ForestArea_Percent_of_LandArea
WB_AgriculturalLand_Percent_of_LandArea
WB_Rural_Population_Percent_of_Total_Pop
WB_Net_ODA_Received_Percent_of_GNI
WB_Net_ODA_Received_Per_Capita_USDollars
WB_Net_ODA_Received_USD
WB_Net_FDI_Inflows_Percent_of_GDP
WB_Total_Population
WB_Urban_Population_Percent_of_Total_Pop
WB_Net_FDI_Inflows_USD
WB_GDP_Growth_Annual_Percentage
WB_GDPPC_Growth_Annual_Percentage
WB_Inflation_Consumer_Prices_Annual_Percent
WB_Total_Reserves_USD
WB_GDP_USD
WB_GDPPC_USD
WB_Inflation_GDP_Deflator_Annual_Percent
WB_Labor_Force_Total
WB_Literacy_Rate_Adult_Total_Percent
WB_Total_Nat_Resource_Rents_Percent_of_GDP
WB_Oil_Rents_Percent_of_GDP
WB_Gini_Index
WB_Income_Share_Held_By_Highest_10_Percent
WB_Intentional_Homicides_Per_100000_People
WB_Patent_Applications_Residents
WB_Informal_Economy
IADB_DPI2020_YRSOFFC
IADB_DPI2020_PRTYIN
IADB_DPI2020_PARTYAGE
Heritage_Found_Economic_Freedom
Heritage_Found_Property_Rights
Heritage_Found_Government_Integrity
Heritage_Found_Judicial_Effectiveness
Heritage_Found_Tax_Burden
Heritage_Found_Govt_Spending
Heritage_Found_Fiscal_Health
Heritage_Found_Business_Freedom
Heritage_Found_Labor_Freedom
Heritage_Found_Monetary_Freedom
Heritage_Found_Trade_Freedom
Heritage_Found_Investment_Freedom
Heritage_Found_Financial_Freedom
country_name
year_y
v2x_jucon
v2xlg_legcon
v2pscohesv
v2x_rule
v2xcl_prpty
v2xcl_acjst
v2x_cspart
v2psprlnks
v2lgcrrpt
v2exbribe
v2exembez
v2excrptps
v2mecenefm
v2xnp_pres
v2xnp_client
v2xps_party
v2x_accountability
v2x_polyarchy
v2x_libdem
v2x_partipdem
v2x_delibdem
v2x_egaldem
v2exthftps
v2jucorrdc
v2juaccnt
v2jupoatck
v2jupurge
v2clkill
v2cltort
v2clrspct
v2clrelig
v2clstown
v2csreprss
v2csantimv
v2mecorrpt
v2pepwrses
v2peedueq
v2pehealth
v2peprisch
v2pesecsch
v2petersch
v2cacamps
v2caviol
v2caassemb
v2cagenmob
v2catrauni
v3psagefirst
v3psagepm
v3psagesecond
v3psagethird
v3cllabrig
v3lgcrrpt
v2x_veracc
v2x_horacc
v2x_neopat
v2xnp_regcorr
v2x_civlib
v2x_clphy
v2x_clpol
v2x_clpriv
v2xpe_exlecon
v2x_corr
v2x_execorr
v2x_pubcorr
v2smgovdom
v2smpolsoc
e_democracy_breakdowns
e_fh_cl
e_fh_pr
e_fh_rol
e_fh_status
e_coups
e_p_polity
e_autoc
e_democ
e_polcomp
e_polity2
e_ti_cpi
e_peaveduc
e_civil_war
e_pt_coup

# **37.Populist_Presidents_Julio_Coding**

In [143]:
fname = "/content/drive/MyDrive/Python/State Capture Latin American Dataset/Populist_Presidents_Julio_Coding/Populist_Presidents.csv"
populism = pd.read_csv(fname)

In [144]:
populism

       Country  Year  PopDV  YearsPOP
0    Argentina  1996    0.0       0.0
1    Argentina  1997    0.0       0.0
2    Argentina  1998    0.0       0.0
3    Argentina  1999    0.0       0.0
4    Argentina  2000    0.0       0.0
..         ...   ...    ...       ...
489  Venezuela  2017    1.0      19.0
490  Venezuela  2018    1.0      20.0
491  Venezuela  2019    1.0      21.0
492  Venezuela  2020    1.0      22.0
493  Venezuela  2021    1.0      23.0

[494 rows x 4 columns]

In [145]:
populism.Country.unique()

array(['Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia', 'CostaRica',
       'Cuba', 'DomRep', 'Ecuador', 'ElSalvador', 'Guatemala', 'Honduras',
       'Mexico', 'Nicaragua', 'Panama', 'Paraguay', 'Peru', 'Uruguay',
       'Venezuela'], dtype=object)

In [146]:
state_capture_database['country'].unique()

array(['Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia',
       'Costa Rica', 'Cuba', 'Dominican Republic', 'Ecuador',
       'El Salvador', 'Guatemala', 'Honduras', 'Mexico', 'Nicaragua',
       'Panama', 'Paraguay', 'Peru', 'Uruguay', 'Venezuela'], dtype=object)

In [147]:
populism = populism[['PopDV', 'YearsPOP']]
populism

     PopDV  YearsPOP
0      0.0       0.0
1      0.0       0.0
2      0.0       0.0
3      0.0       0.0
4      0.0       0.0
..     ...       ...
489    1.0      19.0
490    1.0      20.0
491    1.0      21.0
492    1.0      22.0
493    1.0      23.0

[494 rows x 2 columns]

In [148]:
state_capture_database = state_capture_database.merge(populism, left_index=True, right_index=True)
state_capture_database

,country,year_x,wgi_VoiceAndAccountability,wgi_PoliticalStability_Violence,wgi_GovernmentEffectiveness,wgi_RegulatoryQuality,wgi_ControlOfCorruption,wgi_RuleofLaw,WB_RuralPopulation,WB_ForestArea_Percent_of_LandArea,...,e_autoc,e_democ,e_polcomp,e_polity2,e_ti_cpi,e_peaveduc,e_civil_war,e_pt_coup,PopDV,YearsPOP
0,Argentina,1996.0,0.391903,0.112986,0.165690,0.518067,-0.101317,0.075553,4100563.0,12.463377,...,0.0,7.0,9.0,7.0,NaN,8.138,0.0,0.0,0.0,0.0
1,Argentina,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,4077785.0,12.396654,...,0.0,7.0,9.0,7.0,NaN,8.196,0.0,0.0,0.0,0.0
2,Argentina,1998.0,0.308850,-0.131970,0.376485,0.570877,-0.113424,-0.005769,4053893.0,12.329931,...,0.0,7.0,9.0,7.0,NaN,8.254,0.0,0.0,0.0,0.0
3,Argentina,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,4028898.0,12.263208,...,0.0,8.0,9.0,8.0,NaN,8.312,0.0,0.0,0.0,0.0
4,Argentina,2000.0,0.418347,0.099359,0.032177,0.257245,-0.192119,-0.149923,4003431.0,12.196486,...,0.0,8.0,9.0,8.0,NaN,8.370,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Venezuela,2017.0,-1.207137,-1.272082,-1.423879,-1.976389,-1.370064,-2.236806,3474491.0,52.636676,...,4.0,1.0,6.0,-3.0,18.0,6.630,NaN,0.0,1.0,19.0
490,Venezuela,2018.0,-1.434810,-1.351146,-1.584651,-2.363184,-1.466074,-2.322770,3406369.0,52.534165,...,4.0,1.0,6.0,-3.0,18.0,6.630,NaN,0.0,1.0,20.0
491,Venezuela,2019.0,-1.428393,-1.536778,-1.658469,-2.359256,-1.486213,-2.320636,3353461.0,52.459611,...,NaN,NaN,NaN,NaN,16.0,6.630,NaN,0.0,1.0,21.0
492,Venezuela,2020.0,-1.506591,-1.517866,-1.780275,-2.234419,-1.560315,-2.346105,3332977.0,52.413015,...,NaN,NaN,NaN,NaN,15.0,6.630,NaN,0.0,1.0,22.0
493,Venezuela,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,3351303.0,NaN,...,NaN,NaN,NaN,NaN,14.0,6.630,NaN,0.0,1.0,23.0

# **38.WID_World_Inequality_Database**

In [149]:
state_capture_database['country'].unique()

array(['Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia',
       'Costa Rica', 'Cuba', 'Dominican Republic', 'Ecuador',
       'El Salvador', 'Guatemala', 'Honduras', 'Mexico', 'Nicaragua',
       'Panama', 'Paraguay', 'Peru', 'Uruguay', 'Venezuela'], dtype=object)

In [150]:
fname_income_top1 = "/content/drive/MyDrive/Python/State Capture Latin American Dataset/WID (World Inequality Database)/WID_Top_1_Percent_Share_Income_Inequality.xlsx"
fname_income_top10 = "/content/drive/MyDrive/Python/State Capture Latin American Dataset/WID (World Inequality Database)/WID_Top_10_Percent_Share_Income_Inequality.xlsx"
fname_income_bottom50 = "/content/drive/MyDrive/Python/State Capture Latin American Dataset/WID (World Inequality Database)/WID_Bottom_50_Percent_Share_Income_Inequality.xlsx"

fname_wealth_top1 = "/content/drive/MyDrive/Python/State Capture Latin American Dataset/WID (World Inequality Database)/WID_Top_1_Percent_Wealth_Inequality.xlsx"
fname_wealth_top10 = "/content/drive/MyDrive/Python/State Capture Latin American Dataset/WID (World Inequality Database)/WID_Top_10_Percent_Share_Wealth_Inequality.xlsx"
fname_wealth_bottom50 = "/content/drive/MyDrive/Python/State Capture Latin American Dataset/WID (World Inequality Database)/WID_Bottom_50_Percent_Share_Wealth_Inequality.xlsx"

In [151]:
WID_Top_1_Percent_Share_Income_Inequality = pd.read_excel(fname_income_top1)
WID_Top_10_Percent_Share_Income_Inequality = pd.read_excel(fname_income_top10)
WID_Bottom_50_Percent_Share_Income_Inequality = pd.read_excel(fname_income_bottom50)

WID_Top_1_Percent_Share_Wealth_Inequality = pd.read_excel(fname_wealth_top1)
WID_Top_10_Percent_Share_Wealth_Inequality = pd.read_excel(fname_wealth_top10)
WID_Bottom_50_Percent_Share_Wealth_Inequality = pd.read_excel(fname_wealth_bottom50)

In [152]:
WID_Bottom_50_Percent_Share_Wealth_Inequality = WID_Bottom_50_Percent_Share_Wealth_Inequality['data']
WID_Bottom_50_Percent_Share_Wealth_Inequality

0      0.0394
1      0.0392
2      0.0395
3      0.0396
4      0.0400
        ...
489    0.0409
490    0.0423
491    0.0423
492    0.0425
493    0.0423
Name: data, Length: 494, dtype: float64

In [153]:
WID_Top_10_Percent_Share_Wealth_Inequality = WID_Top_10_Percent_Share_Wealth_Inequality['data']
WID_Top_10_Percent_Share_Wealth_Inequality

0      0.6387
1      0.6408
2      0.6382
3      0.6377
4      0.6339
        ...
489    0.6267
490    0.6197
491    0.6195
492    0.6179
493    0.6195
Name: data, Length: 494, dtype: float64

In [154]:
WID_Top_1_Percent_Share_Wealth_Inequality = WID_Top_1_Percent_Share_Wealth_Inequality['data']
WID_Top_1_Percent_Share_Wealth_Inequality

0      0.3154
1      0.3195
2      0.3146
3      0.3136
4      0.3064
        ...
489    0.2943
490    0.2868
491    0.2863
492    0.2833
493    0.2863
Name: data, Length: 494, dtype: float64

In [155]:
WID_Bottom_50_Percent_Share_Income_Inequality = WID_Bottom_50_Percent_Share_Income_Inequality['data']
WID_Bottom_50_Percent_Share_Income_Inequality

0      0.1449
1      0.1449
2      0.1449
3      0.1449
4      0.1449
        ...
489    0.1197
490    0.1202
491    0.1206
492    0.1206
493       NaN
Name: data, Length: 494, dtype: float64

In [156]:
WID_Top_10_Percent_Share_Income_Inequality = WID_Top_10_Percent_Share_Income_Inequality['data']
WID_Top_10_Percent_Share_Income_Inequality

0      0.4525
1      0.4525
2      0.4525
3      0.4525
4      0.4525
        ...
489    0.5277
490    0.5222
491    0.5183
492    0.5183
493       NaN
Name: data, Length: 494, dtype: float64

In [157]:
WID_Top_1_Percent_Share_Income_Inequality = WID_Top_1_Percent_Share_Income_Inequality['data']
WID_Top_1_Percent_Share_Income_Inequality

0      0.1295
1      0.1119
2      0.1135
3      0.1222
4      0.1295
        ...
489    0.2144
490    0.2073
491    0.2075
492    0.2075
493       NaN
Name: data, Length: 494, dtype: float64

In [158]:
state_capture_database['WID_Top_1_Percent_Share_Income_Inequality'] = WID_Top_1_Percent_Share_Income_Inequality
state_capture_database['WID_Top_10_Percent_Share_Income_Inequality'] = WID_Top_10_Percent_Share_Income_Inequality
state_capture_database['WID_Bottom_50_Percent_Share_Income_Inequality'] = WID_Bottom_50_Percent_Share_Income_Inequality

state_capture_database['WID_Top_1_Percent_Share_Wealth_Inequality'] = WID_Top_1_Percent_Share_Wealth_Inequality
state_capture_database['WID_Top_10_Percent_Share_Wealth_Inequality'] = WID_Top_10_Percent_Share_Wealth_Inequality
state_capture_database['WID_Bottom_50_Percent_Share_Wealth_Inequality'] = WID_Bottom_50_Percent_Share_Wealth_Inequality

state_capture_database

,country,year_x,wgi_VoiceAndAccountability,wgi_PoliticalStability_Violence,wgi_GovernmentEffectiveness,wgi_RegulatoryQuality,wgi_ControlOfCorruption,wgi_RuleofLaw,WB_RuralPopulation,WB_ForestArea_Percent_of_LandArea,...,e_civil_war,e_pt_coup,PopDV,YearsPOP,WID_Top_1_Percent_Share_Income_Inequality,WID_Top_10_Percent_Share_Income_Inequality,WID_Bottom_50_Percent_Share_Income_Inequality,WID_Top_1_Percent_Share_Wealth_Inequality,WID_Top_10_Percent_Share_Wealth_Inequality,WID_Bottom_50_Percent_Share_Wealth_Inequality
0,Argentina,1996.0,0.391903,0.112986,0.165690,0.518067,-0.101317,0.075553,4100563.0,12.463377,...,0.0,0.0,0.0,0.0,0.1295,0.4525,0.1449,0.3154,0.6387,0.0394
1,Argentina,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,4077785.0,12.396654,...,0.0,0.0,0.0,0.0,0.1119,0.4525,0.1449,0.3195,0.6408,0.0392
2,Argentina,1998.0,0.308850,-0.131970,0.376485,0.570877,-0.113424,-0.005769,4053893.0,12.329931,...,0.0,0.0,0.0,0.0,0.1135,0.4525,0.1449,0.3146,0.6382,0.0395
3,Argentina,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,4028898.0,12.263208,...,0.0,0.0,0.0,0.0,0.1222,0.4525,0.1449,0.3136,0.6377,0.0396
4,Argentina,2000.0,0.418347,0.099359,0.032177,0.257245,-0.192119,-0.149923,4003431.0,12.196486,...,0.0,0.0,0.0,0.0,0.1295,0.4525,0.1449,0.3064,0.6339,0.0400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Venezuela,2017.0,-1.207137,-1.272082,-1.423879,-1.976389,-1.370064,-2.236806,3474491.0,52.636676,...,NaN,0.0,1.0,19.0,0.2144,0.5277,0.1197,0.2943,0.6267,0.0409
490,Venezuela,2018.0,-1.434810,-1.351146,-1.584651,-2.363184,-1.466074,-2.322770,3406369.0,52.534165,...,NaN,0.0,1.0,20.0,0.2073,0.5222,0.1202,0.2868,0.6197,0.0423
491,Venezuela,2019.0,-1.428393,-1.536778,-1.658469,-2.359256,-1.486213,-2.320636,3353461.0,52.459611,...,NaN,0.0,1.0,21.0,0.2075,0.5183,0.1206,0.2863,0.6195,0.0423
492,Venezuela,2020.0,-1.506591,-1.517866,-1.780275,-2.234419,-1.560315,-2.346105,3332977.0,52.413015,...,NaN,0.0,1.0,22.0,0.2075,0.5183,0.1206,0.2833,0.6179,0.0425
493,Venezuela,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,3351303.0,NaN,...,NaN,0.0,1.0,23.0,NaN,NaN,NaN,0.2863,0.6195,0.0423

# **THE FINAL DATASET**

In [159]:
state_capture_database

,country,year_x,wgi_VoiceAndAccountability,wgi_PoliticalStability_Violence,wgi_GovernmentEffectiveness,wgi_RegulatoryQuality,wgi_ControlOfCorruption,wgi_RuleofLaw,WB_RuralPopulation,WB_ForestArea_Percent_of_LandArea,...,e_civil_war,e_pt_coup,PopDV,YearsPOP,WID_Top_1_Percent_Share_Income_Inequality,WID_Top_10_Percent_Share_Income_Inequality,WID_Bottom_50_Percent_Share_Income_Inequality,WID_Top_1_Percent_Share_Wealth_Inequality,WID_Top_10_Percent_Share_Wealth_Inequality,WID_Bottom_50_Percent_Share_Wealth_Inequality
0,Argentina,1996.0,0.391903,0.112986,0.165690,0.518067,-0.101317,0.075553,4100563.0,12.463377,...,0.0,0.0,0.0,0.0,0.1295,0.4525,0.1449,0.3154,0.6387,0.0394
1,Argentina,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,4077785.0,12.396654,...,0.0,0.0,0.0,0.0,0.1119,0.4525,0.1449,0.3195,0.6408,0.0392
2,Argentina,1998.0,0.308850,-0.131970,0.376485,0.570877,-0.113424,-0.005769,4053893.0,12.329931,...,0.0,0.0,0.0,0.0,0.1135,0.4525,0.1449,0.3146,0.6382,0.0395
3,Argentina,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,4028898.0,12.263208,...,0.0,0.0,0.0,0.0,0.1222,0.4525,0.1449,0.3136,0.6377,0.0396
4,Argentina,2000.0,0.418347,0.099359,0.032177,0.257245,-0.192119,-0.149923,4003431.0,12.196486,...,0.0,0.0,0.0,0.0,0.1295,0.4525,0.1449,0.3064,0.6339,0.0400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Venezuela,2017.0,-1.207137,-1.272082,-1.423879,-1.976389,-1.370064,-2.236806,3474491.0,52.636676,...,NaN,0.0,1.0,19.0,0.2144,0.5277,0.1197,0.2943,0.6267,0.0409
490,Venezuela,2018.0,-1.434810,-1.351146,-1.584651,-2.363184,-1.466074,-2.322770,3406369.0,52.534165,...,NaN,0.0,1.0,20.0,0.2073,0.5222,0.1202,0.2868,0.6197,0.0423
491,Venezuela,2019.0,-1.428393,-1.536778,-1.658469,-2.359256,-1.486213,-2.320636,3353461.0,52.459611,...,NaN,0.0,1.0,21.0,0.2075,0.5183,0.1206,0.2863,0.6195,0.0423
492,Venezuela,2020.0,-1.506591,-1.517866,-1.780275,-2.234419,-1.560315,-2.346105,3332977.0,52.413015,...,NaN,0.0,1.0,22.0,0.2075,0.5183,0.1206,0.2833,0.6179,0.0425
493,Venezuela,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,3351303.0,NaN,...,NaN,0.0,1.0,23.0,NaN,NaN,NaN,0.2863,0.6195,0.0423

In [160]:
cols = ['v3psagefirst', 'v3psagepm', 'v3psagesecond', 'v3psagethird', 
'v3cllabrig', 'v3lgcrrpt']

cols

['v3psagefirst',
 'v3psagepm',
 'v3psagesecond',
 'v3psagethird',
 'v3cllabrig',
 'v3lgcrrpt']

In [161]:
state_capture_database = state_capture_database.drop(columns=cols)
state_capture_database

,country,year_x,wgi_VoiceAndAccountability,wgi_PoliticalStability_Violence,wgi_GovernmentEffectiveness,wgi_RegulatoryQuality,wgi_ControlOfCorruption,wgi_RuleofLaw,WB_RuralPopulation,WB_ForestArea_Percent_of_LandArea,...,e_civil_war,e_pt_coup,PopDV,YearsPOP,WID_Top_1_Percent_Share_Income_Inequality,WID_Top_10_Percent_Share_Income_Inequality,WID_Bottom_50_Percent_Share_Income_Inequality,WID_Top_1_Percent_Share_Wealth_Inequality,WID_Top_10_Percent_Share_Wealth_Inequality,WID_Bottom_50_Percent_Share_Wealth_Inequality
0,Argentina,1996.0,0.391903,0.112986,0.165690,0.518067,-0.101317,0.075553,4100563.0,12.463377,...,0.0,0.0,0.0,0.0,0.1295,0.4525,0.1449,0.3154,0.6387,0.0394
1,Argentina,1997.0,NaN,NaN,NaN,NaN,NaN,NaN,4077785.0,12.396654,...,0.0,0.0,0.0,0.0,0.1119,0.4525,0.1449,0.3195,0.6408,0.0392
2,Argentina,1998.0,0.308850,-0.131970,0.376485,0.570877,-0.113424,-0.005769,4053893.0,12.329931,...,0.0,0.0,0.0,0.0,0.1135,0.4525,0.1449,0.3146,0.6382,0.0395
3,Argentina,1999.0,NaN,NaN,NaN,NaN,NaN,NaN,4028898.0,12.263208,...,0.0,0.0,0.0,0.0,0.1222,0.4525,0.1449,0.3136,0.6377,0.0396
4,Argentina,2000.0,0.418347,0.099359,0.032177,0.257245,-0.192119,-0.149923,4003431.0,12.196486,...,0.0,0.0,0.0,0.0,0.1295,0.4525,0.1449,0.3064,0.6339,0.0400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Venezuela,2017.0,-1.207137,-1.272082,-1.423879,-1.976389,-1.370064,-2.236806,3474491.0,52.636676,...,NaN,0.0,1.0,19.0,0.2144,0.5277,0.1197,0.2943,0.6267,0.0409
490,Venezuela,2018.0,-1.434810,-1.351146,-1.584651,-2.363184,-1.466074,-2.322770,3406369.0,52.534165,...,NaN,0.0,1.0,20.0,0.2073,0.5222,0.1202,0.2868,0.6197,0.0423
491,Venezuela,2019.0,-1.428393,-1.536778,-1.658469,-2.359256,-1.486213,-2.320636,3353461.0,52.459611,...,NaN,0.0,1.0,21.0,0.2075,0.5183,0.1206,0.2863,0.6195,0.0423
492,Venezuela,2020.0,-1.506591,-1.517866,-1.780275,-2.234419,-1.560315,-2.346105,3332977.0,52.413015,...,NaN,0.0,1.0,22.0,0.2075,0.5183,0.1206,0.2833,0.6179,0.0425
493,Venezuela,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,3351303.0,NaN,...,NaN,0.0,1.0,23.0,NaN,NaN,NaN,0.2863,0.6195,0.0423

In [162]:
state_capture_database.to_csv('state_capture_database.csv')